﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/FAQ/_FAQLayout.cshtml";
}
<style>
    .accordion {
        position: relative;
        z-index: 0;
    }

    .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #D2353B;
    }
</style>

<section style="margin-top: 132px">
    <div class="container">

        @{
            Html.RenderPartial("SearchBlockNullResponse");
        }
    </div>
</section>