﻿@model TTCMS.Web.Areas.TT_Admin.Models.Language_SinglePageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="@(Model.SinglePage == null || string.IsNullOrEmpty(Model.SinglePage.Img_Thumbnail) ? "/webroot/images/background-transaction.png" : Model.SinglePage.Img_Thumbnail)" alt="TVSI" class="lazyload" style="width: 100%;" height="300" />
        <h1>@Html.Raw(Model.TitleHTML)</h1>
    </div>
</section>

<section class="section-menu mt-4">
    <div class="container">
        <div class="menu-detail-desc">
            @Html.Raw(Model.Body)
        </div>
    </div>
</section>
<style>
    .banner-default {
        margin-top: 133px;
    }
    @@media (max-width: 767.98px) {
        .banner-default {
            margin-top: 62px;
        }
    }
    .section-menu {
        text-align: justify;
    }
    #depositTable {
        text-align: left;
    }
    #depositTable tbody tr th:nth-child(1) {
        min-width: 50px;
    }
    #depositTable tbody tr th:nth-child(3) {
        min-width: 125px;
    }
</style>