@media (min-width: 1024px) {
    .categoryContainer {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 4.2vh 12.5vw;
        gap: 40px;
        background-color: #FAFAFA;
    }
    .categoryContainer .categoryDetail {
        width: 60vw;
        padding: 24px 44px; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 21px;
        background: #FFFFFF;
        border: 0.5px solid #979797;
        border-radius: 12px;
    }
    .categoryContainer .categoryDetail h1 {
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 22px;
        color: #000;
    }
    .categoryContainer .categoryDetail p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 22px;
    }
    .categoryContainer .categoryDetail .imgContainer {
        width: 100%; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .categoryContainer .categoryDetail .imgContainer img {
        width: 522px;
        height: 332px;
    }
    .categoryContainer .categoryDetail ul { 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 32px;
        margin-bottom: 90px;
    }
    .categoryContainer .categoryDetail ul h2 {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 22px;
        color: #000;
    }
    .categoryContainer .categoryDetail ul li a {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 22px;
    }
    .categoryContainer .categoryDetail .seeMoreContainer {
        width: 100%; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .seeMore.red {
        color:#E10000;
    }
    a.seeMore:hover {
        cursor: pointer;
    }
    .red {
        fill:#E10000;
    }
}