.faq-header {
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    position: inherit;
    padding: 40px 30px 70px;
    background: url("../../images/faq/faq-red-bg.png"), url("../../images/faq/bg-logo.png"), url("../../images/faq/faq-main-bg.png");
    background-position: bottom;
    background-size: contain, cover, cover;
    background-repeat: no-repeat;
}
.faq-header-row {
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.faq-header-row .left a img {
    width: 200px;
    height: 100px;
}

.faq-header .faq-header-row .right {
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    gap: 8%;
}

.faq-header .faq-header-row .right .phone a {
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #fff;
    gap: 10px;
}

.faq-header .faq-header-row button {
    width: 150px;
    height: 40px;
    border: 1px solid #D23538;
    background: #D23538;
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: "Lato-Regular"
}

.faq-header .faq-header-col {
    display: -webkit-flex; 
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
}
.faq-header .faq-header-col p span {
    color: #D23538;
}

.faq-header .faq-header-col p {
    font-family: "Lato-Regular";
    font-size: 1.6rem;
}
.faq-header .faq-header-col h1 {
    font-size: 4.6rem;
    line-height: 70px;
    text-transform: uppercase;
    font-family: "Lato-Regular"
}
.faq-header .faq-header-col .inputContainer {
    width: 356px;
    height: 40px;
}
.faq-header .faq-header-col input {
    color: black;
    font-size: 1.5rem;
    border: 1px solid #ff8b8b;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
}

.headerWelcomeContainer {
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 40px;
    width: 50%;
}

.bannerContainer img#banner {
    width: 100%;
}

.bannerContainer {
    width: 50%;
    height: 100%;
}

.hotline img {
    width: 40px;
}

@media (min-width: 1024px) {
	.phone {
		flex-basis: 200px;
		display: -webkit-flex; 
		display: flex;
		justify-content: end;
	}
}

@media (min-width: 1366px) and (max-width: 1699.98px) {
    .faq-header { 
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        padding: 70px 100px 150px;
        gap: 70px;
    }
}

@media (min-width: 1700px) {
    .faq-header { 
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        padding: 70px 180px 200px;
        gap: 70px;
    }
}

@media (min-width: 1566px) {
    .faq-header .faq-header-row .right { 
        flex: 1 0 50%;
        justify-content: flex-end;
    }
}

@media (min-width: 1024px) and (max-width: 1365.98px)  {
    .faq-header {
        padding: 70px 70px 100px;
        gap: 40px;
    }
    .faq-header .faq-header-col {
        gap: 0;
    }
    .faq-header .faq-header-col h1 {
        font-size: 4.2rem;
        line-height: 50px;
    }
}

@media (min-width: 1024px) {
    .quick-search .left {
        display: -webkit-flex; 
        display: flex;
        align-items: center;
        border-right: 1px solid #ed1c24;
        height: 100%;
    }
    .faq-header .faq-header-col .quick-search {
        display: -webkit-flex; 
        display: flex;
        flex-direction: row;
        align-items: start;
        height: 40px;
        font-weight: 400;
        font-size: 1.6rem;
        min-width: 600px;
    }
    
    .faq-header .faq-header-col .quick-search .chips {
        display: -webkit-flex; 
        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding-left: 16px;
        height: 100%;
        text-align: center;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .bannerContainer img#banner {
        width: 100%;
    }
    .faq-header .faq-header-col {
        gap: 40px;
    }
    .headerWelcomeContainer {
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        line-height: 14px;
        gap: 20px;
    }
}
.faq-header .faq-header-col .quick-search .left p {
    color: #FF5151;
    padding: 2px 10px 2px 0;
}
.faq-header .faq-header-col .quick-search .chip {
    background: #ED1C24;
    border: 1px solid #E81F28;
    border-radius: 6px;
    padding: 8px;
    height: 100%;
    color: #fff;
    cursor: pointer;
}
.input-icon {
    display: -webkit-flex; 
    display: flex;
    align-items: center;
}
.nav-search-icon {
    color: black;
    margin-left: -30px;
}

@media (max-width: 1023.98px) {
    .quick-search p {
        height: 36px;
        display: -webkit-flex; 
        display: flex;
        align-items: center;
        border-right: 1px solid #ed1c24;
     }
     .faq-header .faq-header-col .quick-search {
        height: 80px;
        display: -webkit-flex; 
        display: flex;
     }
     .faq-header .faq-header-col .quick-search .chips {
        display: -webkit-flex; 
        display: flex;
        flex-wrap: wrap;
        padding-left: 8px;
        gap: 8px;
        justify-content: flex-start;
     }
     .chips a {
        display: -webkit-flex; 
        display: flex;
        height: 36px;
     }
     .faq-header .faq-header-row .right {
        align-items: center;
        display: -webkit-flex; 
        display: flex;
     }
     .faq-header .faq-header-row button {
        width: 80px;
        height: 20px;
        padding: 1px 6px;
        font-size: 0.9rem;
        line-height: 18px;
     }
     .right .phone a {
        justify-content: flex-start;
        gap: 9px;
     }
     .right .phone a span {
        color: #fff;
        font-size: 1rem;
        min-width: 50px;
     }
     .left a img {
        width: 88px;
        height: 40px;
     }
     .faq-header .faq-header-row .right .phone a {
        gap: 8px;
     }
     .faq-header .faq-header-col .quick-search .chip {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 20px;
     }
    .faq-header .faq-header-col .quick-search .left {
        min-width: 113px;
    }
    .faq-header {
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 30px 70px;
        background: url(../../images/faq/faq-red-bg.png), url(../../images/faq/faq-main-bg.png);
        background-position: bottom;
        background-size: contain, cover, cover;
        background-repeat: no-repeat;
    }
    .faq-header .mb-d-none{
        display: none;
    }
    .faq-header .faq-header-col h1 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
    .faq-header .faq-header-col input {
        width: 80vw;
    }
    .faq-header .faq-header-col .quick-search p {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

.floatingContainer {
    position: relative;
    /* top: -350px; */
    display: -webkit-flex; 
    display: flex;
    justify-content: space-between;
}
.dp-none {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    a.hotline p {
        font-size: 1rem;
        line-height: 1rem;
        min-width: 60px;
    }
    a.hotline img {
        width: 20px;
        height: 20px;
    }
    .bannerCharacter {
        height: 250px;
    }
}

@media screen and (max-width: 767.98px) {
    a.hotline p {
        font-size: 1rem;
        line-height: 1rem;
        min-width: 60px;
    }
    a.hotline img {
        width: 20px;
        height: 20px;
    }
    .faq-header .faq-header-col {
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .bannerContainer {
        width: 100%;
    }
    .headerWelcomeContainer {
        width: 100%;
    }
}

@media screen and (max-width: 1023.98px) {
    .faq-header-row .left a img {
        width: 88px;
        height: 40px;
    }
}