.commentSection { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}
.postReactionContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #F1F1F5;
    border-bottom: 1px solid #F1F1F5;
    padding: 20px 0;
}
.postReactionContainer > div { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
}
.reactionIcon {
    background: #92929D;
    background: transparent;
    height: 20px;
    width: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}
.commentInput { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.commentInput input {
    border: 1px solid black;
    border-radius: 15px;
    height: 56px;
    padding-left: 15px;
    background: #FAFAFB;
    border: 1px solid #F1F1F5;
}
.commentInput input::-webkit-input-placeholder {
    color: #92929D;
}
.commentInput input::-moz-placeholder {
    color: #92929D;
}
.commentInput input:-ms-input-placeholder {
    color: #92929D;
}
.commentInput input::-ms-input-placeholder {
    color: #92929D;
}
.commentInput input::placeholder {
    color: #92929D;
}
.commentInput .inputActions {
    z-index: 2;
    width: 50px;
    margin-left: -50px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}
.commentInput .inputActions > i:hover {
    cursor: pointer;
}
#commentsList { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
.commentSection .seeMore { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
}
.commentSection .seeMore button {
    width: 100px;
    color: #ED1C24;
    background: transparent;
}
.commentSection .seeMore button:hover {
    cursor: pointer;
}
.commentCard { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px 15px;
    background: #FAFAFB;
    border: 1px solid #F1F1F5;
    border-radius: 15px;
}
.commentCard h2 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #070707;
}

.commentCard .reply {
    margin-top: 10px;
    padding-left: 20px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.replyInput {
    width: 100%;
    height: auto;
    padding: 15px;
}

.replyInput .inputContainer input {
    border: none;
    background: #fff;
}

.inputContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    width: 100%;
}
small.inputError {
    color: #FA1D26;
    display: none;
}

.sendComment {
    width: 125px;
    height: 4rem;
    background: #D2353B;
    border-radius: 6px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* font-weight: 600; */
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    text-transform: uppercase;
}

#overlay {
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 10;
}

#overlay.active {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
}

#commentModal {
    display: none;
    background: #FAFAFA; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
    padding: 20px 40px;
    gap: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-animation: all 0.5s ease-in-out;
}

#commentModal input, #shareModal input {
    padding: 5px 10px;
    border: 1px solid #F1F1F5;
    border-radius: 15px;
    height: 50px;
    background: #FAFAFA;
}
#commentModal input::-webkit-input-placeholder, #shareModal input::-webkit-input-placeholder {
    color: #92929D;
}
#commentModal input::-moz-placeholder, #shareModal input::-moz-placeholder {
    color: #92929D;
}
#commentModal input:-ms-input-placeholder, #shareModal input:-ms-input-placeholder {
    color: #92929D;
}
#commentModal input::-ms-input-placeholder, #shareModal input::-ms-input-placeholder {
    color: #92929D;
}
#commentModal input::placeholder, #shareModal input::placeholder {
    color: #92929D;
}

.shareDetailsContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.shareButtonHolder { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    gap: 5px;
}

#shareModal {
    display: none;
    position: absolute;
    background: #FAFAFB;
    padding: 5px;
    gap: 15px;
    -webkit-transform: translate(-170px, -70px);
        -ms-transform: translate(-170px, -70px);
            transform: translate(-170px, -70px);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.modalTitle { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modalTitle > i.fa-close {
    cursor: pointer;
}

.questionPageContainer .post ul {
    padding-left: 20px;
    list-style-type: disc;
}

.questionDetail .header .platformContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    gap: 37px;
    margin-top: 40px;
    align-items: center;
}

@media (min-width: 1440px) {
    .questionDetail .post {
        min-width: 1120px;
        padding: 64px 86px 34px;
        box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
    }
    .questionPageContainer {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 4.2vh 100px;
        gap: 40px;
        background-color: #FAFAFA;
    }
    
    .questionDetail .header {
        background: #FFFFFF;
        border-radius: 12px;
        padding: 33px 21px 44px;
        box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
    }
    .questionDetail .header h1 {
        font-weight: 700;
        font-size: 3rem;
        color: #000000;
        margin-bottom: 16px;
    }
    .questionDetail .header .platformContainer p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 22px;
    }
    .questionDetail .header .platformContainer .platformCheck {
        background: #FFC8CA;
        border-radius: 5px;
        padding: 4px 10px 0 0;
    }
}

@media (max-width: 1439.98px) {
    .questionPageContainer {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 4.2vh 0;
            background-color: #FAFAFA;
    }
    .questionDetail .header h1 {
        display: none;
    }
    .questionDetail .platformContainer > *:nth-child(1) { 
        -ms-grid-row: 1; 
        -ms-grid-column: 1;
    }
    .questionDetail .platformContainer > *:nth-child(2) { 
        -ms-grid-row: 1; 
        -ms-grid-column: 2;
    }
    .questionDetail .platformContainer > *:nth-child(3) { 
        -ms-grid-row: 1; 
        -ms-grid-column: 3;
    }
    .questionDetail .platformContainer > *:nth-child(4) { 
        -ms-grid-row: 2; 
        -ms-grid-column: 1;
    }
    .questionDetail .platformContainer > *:nth-child(5) { 
        -ms-grid-row: 2; 
        -ms-grid-column: 2;
    }
    .questionDetail .platformContainer > *:nth-child(6) { 
        -ms-grid-row: 2; 
        -ms-grid-column: 3;
    }
    .questionDetail .platformContainer p {
        width: 125px;
        -ms-grid-column: 3;
            grid-column-start: 3;
        -ms-grid-row: 1;
            grid-row-start: 1;
    }
    .questionDetail .header .platformContainer .platformCheck {
        background: #FFC8CA;
        border-radius: 5px;
        -ms-grid-column: 3;
            grid-column-start: 3;
        -ms-grid-row: 2;
            grid-row-start: 2;
    }
    .questionDetail .header .platformContainer .platformCheck > div {
        padding: 10px 17px 3px 7px;
    }
}

@media (min-width: 1024px) {
    .questionPageContainer .questionDetail { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 44px;
    }
    .questionDetail .post {
        min-width: 1120px;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 64px 60px 34px;
    }
    #slideMobile {
        margin-bottom: 50px;
    }
}


@media (max-width: 1023.98px){
    table {
        width: 100% !important;
    }
    .questionDetail {
        margin-top: 20px;
    }
    .questionDetail .header .platformContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 46px 40px 150px;
        grid-template-columns: 46px 40px 150px;
        -ms-grid-rows: 40px auto;
        grid-template-rows: 40px auto;
        gap: 0;
    }
}