.questionFormContainer {
    width: 100%;
    height: auto;
    padding: 21.3vh 27.6vw 100px; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    background: url("../../images/faq/faq-finance-bg.png") no-repeat;
    position: relative;
}
.questionFormContainer::before {
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg);
    position: absolute;
    content: '';
    right: 0;
    width: 100%;
    height: 10%;
    top: -33px;
    border-top: 67px solid transparent;
}
.questionFormContainer .textField {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.questionFormContainer .textArea { 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.questionFormContainer .upload .uploadInput:hover {
    cursor: pointer;
}
.questionFormContainer h1.title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 7.7rem;
    font-family: "Lato-Bold";
}
.questionFormContainer .textField span.label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "Lato-Regular";
}
.questionFormContainer span span.asterisk {
    color: #D2353B;
}
.questionFormContainer .textField {
    gap: 7px;
    width: 48%;
    margin-top: 3rem;
}
.questionFormContainer .textField input{
    height: 4rem;
    padding: 0.9rem;
    border: 1px solid #D9DCDF;
    border-radius: 5px;
}
.questionFormContainer .textArea textarea{
    height: 9.6rem;
    padding: 9px;
    border: 1px solid #D9DCDF;
    border-radius: 5px;
}
.questionFormContainer .buttonField button {
    width: 125px;
    height: 4rem;
    background: #D2353B;
    border-radius: 6px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*font-weight: 600;*/
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato-Regular";
}
.questionFormContainer .buttonField {
    margin-top: 3rem; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.questionFormContainer .textFields-row { 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3.6rem;
}
.questionFormContainer .upload {
    margin-top: 3rem; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    gap: 70px;
    height: 50px;
}
.questionFormContainer .upload .uploadInput {
    display: none;
}
.questionFormContainer p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-top: 1.2rem;
    font-family: "Lato-Regular";
}
.uploadInput::-webkit-file-upload-button {
    visibility: hidden;
}
#fileLabel {
    color: #9DB3FF;
}
#fileLabel:hover {
    cursor: pointer;
}
.inputError {
    display: none;
}
.submitButtonContainer { 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}
.captchaError {
    display: none;
    color: #D2353B;
}
@media (max-width: 1023.98px){ 
    .questionFormContainer {
        margin-top: 50px;
        background-color: transparent;
        padding: 100px 20px 20px !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
    }
    .questionFormContainer .buttonField {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }
    .questionFormContainer h1.title {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 5.1rem;
    }
    .questionFormContainer .textField span.label {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
    .questionFormContainer .upload .uploadInput {
        margin-left: 3.7rem;
    }
    .questionFormContainer p {
        margin: 3em 0;
    }
    .questionFormContainer .textFields-row { 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .questionFormContainer .textField {
        gap: 7px;
        width: 100%;
    }
    .questionFormContainer .textField span {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
    .questionFormContainer .textField input{
        height: 4rem;
        padding: 0.9rem;
    }
    .questionFormContainer .textArea textarea {
        height: 4rem;
        padding: 0.9rem;
    }
}