a:hover {
    cursor: pointer;
}
.searchQuestionContainer {
    background: #fff;
    border-radius: 12px;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 16px;
    padding: 24px 44px;
}

span.numberOfRecords {
    color: #FA1D26;
    font-weight: 400;
    font-size: 2rem;
    line-height: 22px;
}

.questionResultCard a {
    display: -webkit-flex; 
    display: flex;
    width: 100%;
    border: 1px solid #C8E7FF;
    border-radius: 12px;
    flex-basis: 20vh;
    padding: 20px 40px 30px;
    gap: 40px;
}

.questionResultCard img {
    width: 10vw;
}

.questionResultCard .question {
    display: -webkit-flex; 
display: flex;
    flex-direction: column;
    gap: 16px;
}

.moreButton {
    background-color: transparent;
    display: -webkit-flex; 
display: flex;
    justify-content: center;
}

.moreButton button {
    background-color: transparent;
    color: #FA1D26;
    width: 150px;
    border: none;
    display: -webkit-flex; 
display: flex;
    align-items: center;
    gap: 5px;
}
.searchContainer {
    display: -webkit-flex; 
display: flex;
    flex-direction: column;
    gap: 25px;
}

.searchContainer.no-result {
    justify-content: center;        
    align-items: center;
}
.searchContainer.no-result > p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #514D4D;
}
img.no-result {
    width: 400px;
}
.createNewBtn {
    width: 150px;
    height: 40px;
    border: 1px solid #D23538;
    background: #D23538;
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: "Lato-Regular";
}
@media screen and (max-width: 1023.98px) {
    .searchQuestionContainer {
        flex-direction: column;
        background: transparent;
        padding: 0;
    }
    .questionResultCard a {
        padding: 10px 10px 16px;
        gap: 20px;
    }
    .questionResultCard a img {
        width: 27px;
        height: 50px;
    }
    .questionResultCard a .question h1 {
        font-size: 1.4rem;
        font-weight: 700;
    }
    /* .questionResultCard a .question h2 {
        display: none;
    } */
    .questionResultCard a .question p {
        font-size: 1.2rem;
    }
}