@media (max-width: 1439.98px) {
    .menuContainer { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 40px;
        width: 100%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .menuContainer .menu {
        cursor: pointer;
    }

    .quickActionsContainer.quickActionsContainer-d-none {
        display: none;
    }

    .menuContainer .title h1 {
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 22px;
        text-transform: uppercase;
        text-align: left;
    }

    .quickActionsContainer {
        position: absolute;
        max-height: 73vh;
        width: 250px;
        height: auto;
        background-color: #fff;
        padding: 19px 19px 25px 27px;
        border-radius: 12px;
        z-index: 20;
        /* transform: translate(46px, -40px) */
    }
    
    .quickActionsContainer .title { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media(min-width: 1440px) {
    .menuContainer {
        display: none;
    }
    .quickActionsContainer {
        max-height: 73vh;
        width: 250px;
        height: auto;
        background-color: #fff;
        display: block;
        padding: 19px 19px 80px 27px;
        border-radius: 12px;
    }
    .quickActionsContainer .title .fa-close {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439.98px) {
    .menuContainer .title {
        display: none;
    }
}

@media (max-width: 1023.98px) {
    .menuContainer .title { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.quickActionsContainer span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #4B556F;
}
.quickActionsContainer .title {
    margin-bottom: 22px;
}

.quickActionsContainer .title i {
    cursor: pointer;
}

.quickActionsContainer h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.quickActionsContainer ul.disabled {
    display: none;
}

.quickActionsContainer ul li.active {
    background: #FFC8CA;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;
    color: #000000;
}

.quickActionsContainer .collapsibleTitle {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;
    color: #FA1D26;
    margin-bottom: 22px;
    width: 100%; 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
}
.quickActionsContainer .collapsibleTitle:hover {
    cursor: pointer;
}
.quickActionsContainer .collapsibleTitle img.collapsibleIcon {
    width: 22px;
    height: 22px;
}
.quickActionsContainer .collapsibleTitle span {
    width: 140px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;
    color: #FA1D26;
}
.quickActionsContainer .collapsibleTitle span.tags {
    color: #191E25;
}
.quickActionsContainer .collapsible {
    margin: 0 0 22px 31px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;
    color: #4B556F;
    height: 40px;
}
.quickActionsContainer .collapsible:hover {
    cursor: pointer;
}