.searchIndexContainer {
    display:flex;
    flex-direction: row;
    padding: 4.2vh 12.5vw 0;
    gap: 40px;
    background-color: #FAFAFA;
}

.searchIndexContainer .resultsContainer {
    border-radius: 12px;
    height: 73vh;
    width: 60vw;
    background-color: #fff;
    display: -webkit-flex; 
display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 215px;
}
.searchIndexContainer .resultsContainerWithResults {
    border-radius: 12px;
    width: 60vw;
    background-color: #fff;
    display: -webkit-flex; 
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left !important;
    padding: 44px;
    margin-bottom: 126px;
    gap: 10px;
}
.searchIndexContainer .resultsContainerWithResults p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 22px;
    color: #B861A1;
}
.searchIndexContainer .resultsContainerWithResults .resultCard {
    height: 207px;
    border: 1px solid #C8E7FF;
    border-radius: 12px;
    display: -webkit-flex; 
display: flex;
    justify-content: space-around;
    padding: 16px 20px;
}
.searchIndexContainer .resultsContainerWithResults .resultCard .left {
    justify-content: center;
    align-items: center;
    width: 200px;
    display: -webkit-flex; 
display: flex;
}
.searchIndexContainer .resultsContainerWithResults .resultCard .right {
    width: 100%;
    height: 159px;
}
.searchIndexContainer .resultsContainerWithResults .resultCard .right p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 22px;
    color: #000000;
}
.searchIndexContainer .resultsContainerWithResults .resultCard .right h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 22px;
    color: #000000;
}
.searchIndexContainer .resultsContainer p {
    color: #333;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
.searchIndexContainer .resultsContainer button {
    height: 4rem;
    width: 200px;
    background: #D2353B;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 18px;
}

.searchIndexContainer .resultsContainer img {
    width: 466px;
    height: 339px;
}