﻿.categoryResultsContainer > div { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 32px;
    }
    
    .categoryResultsContainer .questionList { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 32px;
    }
    
    .searchCategoryContainer .categoryResultsContainer p.categoryDescription {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 22px;
        color: #424347;
    }
    
    .searchCategoryContainer .categoryResultsContainer .categoryResultCards .categoryCard {
        padding: 10px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
        gap: 12px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        border: 1px solid #C8E7FF;
        border-radius: 12px;
        -ms-flex-preferred-size: 47%;
            flex-basis: 47%;
        min-height: 25vh;
    }
    
    .searchCategoryContainer .categoryResultsContainer .categoryResultCards .categoryCard h2.categoryTitle {
        font-weight: 700;
        font-size: 2rem;
        line-height: 22px;
        color: #000000;
    }
    
    .searchCategoryContainer .categoryResultsContainer .categoryResultCards .categoryCard p.questionTitle {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 22px;
        color: #000000;
    }
    
    @media (min-width: 1024px) {
        /* .categoryCard .questionTitleWrapper:last-of-type a {
            width: 80%;
        } */
        .lastQuestionTitle {
            width: 80%;
        }
        .searchCategoryContainer .categoryResultsContainer .categoryResultCards .categoryCard {
            padding: 20px;
        }
        .categoryImageContainer .singleTopicImageContainer {
            width: 576px;
            height: 446px;
        }
        .categoryImageContainer {
            margin: 0 auto 27px; 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .categoryImageContainer img {
            width: 200px;
            height: 200px;
        }
        .categoryImageContainer.singleTopicImageContainer img {
            width: 400px;
            height: 400px;
            /* width: 578px;
            height: 446px; */
        }
        .searchCategoryContainer {
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            padding: 4.2vh 12.5vw;
            gap: 40px;
            background-color: #FAFAFA;
        }
    
        .searchCategoryContainer .categoryResultsContainer h1.title {
            font-weight: 600;
            font-size: 3.6rem;
            color: #000000;
        }
        
        .searchCategoryContainer .categoryResultsContainer {
            background: #fff;
            border-radius: 12px; 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 60vw;
            gap: 16px;
            padding: 24px 44px;
            box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
        }
    
        .searchCategoryContainer .categoryResultsContainer .categoryResultCards { 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            gap: 20px;
        }
    
        h2.categoryTitle {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 22px;
        }
    }
    
    @media (max-width: 1023.98px) {
        .mb-no-border {
            border: none;
        }
        .categoryImageContainer { 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .mb-d-none {
            display: none;
        }
        .searchCategoryContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 48px;
            padding: 65px 44px;
            background-color: #FAFAFA;
        }
        .searchCategoryContainer .categoryResultsContainer {
            background: #FAFAFA;
            border-radius: 12px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%;
            gap: 16px;
        }    
        .searchCategoryContainer .categoryResultsContainer .categoryResultCards { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        h2.categoryTitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 22px;
        }
    }