﻿@model TTCMS.Web.Areas.TT_Admin.Models.LogTableViewModel
@using PagedList.Mvc;
@if (Model.ModelList.Any())
{
    <input id="Page" type="hidden" value="@Model.ModelList.PageNumber" />
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th>@TTCMS.Resources.Resources.LinkText</th>
                <th class="hidden-480">@TTCMS.Resources.Resources.IPAddress</th>
                <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    @TTCMS.Resources.Resources.Created
                </th>
                <th class="hidden-480">@TTCMS.Resources.Resources.User</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.ActivityLogId">
                    <td>@(item.MethodName)/@(item.ServiceName)</td>
                    <td class="hidden-480">@item.ClientIpAddress</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.ExecutionTime)</td>
                    <td class="hidden-480">
                       @item.UserUserName
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <a href="@Url.Action("Detail", new {Id = item.ActivityLogId })" data-toggle="modal" data-target="#myModal" data-remote="false" title="@TTCMS.Resources.Resources.DetailText" class="btn btn-xs btn-info">
                                @TTCMS.Resources.Resources.DetailText
                            </a>
                            @*@Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.ActivityLogId },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.ActivityLogId.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })*@
                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="@TTCMS.Resources.Resources.DetailText" data-toggle="modal" data-target="#myModal" data-remote="false" class="btn btn-xs btn-info" href="@Url.Action("Detail", new { Id = item.ActivityLogId })">
                                            @TTCMS.Resources.Resources.DetailText
                                        </a>
                                    </li>
                                    @*<li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.ActivityLogId },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.ActivityLogId.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>*@
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@TTCMS.Resources.Resources.Page @(Model.ModelList.PageCount < Model.ModelList.PageNumber ? 0 : Model.ModelList.PageNumber) @TTCMS.Resources.Resources.Of @Model.ModelList.PageCount</div></div>
        <div class="col-xs-6 no-padding">
            <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
               @Html.PagedListPager(
      Model.ModelList,
            page => Url.Action("Index",
        new { page, search = Model.Search }),
                             PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "TableContainer" })
            )
            </div>
    </div>
    </div>
    if (Request.IsAjaxRequest())
    {
        <script>
            LoadClickAjaxModal();
        </script>
    }
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}
