﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/trai-phieu-doanh-nghiep.png" alt="TVSI" class="lazyload"
             style="width: 100%;">
        <h1>Trái phiếu doanh nghiệp</h1>
    </div>
</section>

<section class="section-menu">
    <div class="menu-default pc">
        <div class="container">
            <div class="menu active">
                <a href="#">TRÁI PHIẾU DOANH NGHIỆP</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("UnderlyingSecurityIndex","UnderlyingSecurity")">CHỨNG KHOÁN CƠ SỞ</a>
            </div>
            <div class="menu">
                <a href="#">CHỨNG QUYỀN BẢO ĐẢM</a>
            </div>
        </div>
    </div>

    <hr class="pc">

    <div class="menu-detail">
        <div class="container only-image">
            <img data-src="/webroot/images/trai-phieu-doanh-nghiep.png" alt="TVSI" class="lazyload">
        </div>
    </div>

    <div class="other-product pc">
        <div class="container">
            <h2>Sản phẩm đầu tư khác</h2>
            <div class="items">
                <div class="item">
                    <img data-src="/webroot/images/news/1.png" alt="TVSI" class="lazyload">
                    <p>Chứng quyền có bảo đảm</p>
                </div>
                <div class="item">
                    <img data-src="/webroot/images/news/1.png" alt="TVSI" class="lazyload">
                    <p>Chứng khoán phái sinh</p>
                </div>
                <div class="item">
                    <img data-src="/webroot/images/news/1.png" alt="TVSI" class="lazyload">
                    <p>Chứng khoán cơ sở</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="#" class="invest sp">
            ĐẦU TƯ TRÁI PHIẾU
        </a>
    </div>
</section>


