﻿@model TTCMS.Web.Areas.TT_Admin.Models.FAQViewModel
@using PagedList.Mvc;

<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }
</style>

@if (Model.ModelList.Any())
{
    <input id="Page" type="hidden" value="@Model.ModelList.PageNumber" />
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@TTCMS.Resources.Resources.Question</th>
                <th>@TTCMS.Resources.Resources.Answer</th>
                <th>@TTCMS.Resources.Resources.LanguageText</th>
                <th class="hidden-480">@TTCMS.Resources.Resources.Status</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
            <tr id="item_@item.Id">
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" value="@item.Id">
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>@item.Question</td>
                <td>@Html.Raw(item.Answer)</td>
                <td>@Model.Languages.Where(l => l.Id == item.LanguageId).FirstOrDefault().Name</td>
                <td class="hidden-480">
                    @if (item.IsActived == true)
                    {
                        <span class="label label-sm label-success arrowed arrowed-right">
                            <i class="fa fa-unlock"></i> Active
                        </span>
                    }
                    else
                    {
                        <span class="label label-sm label-danger arrowed arrowed-right">
                            <i class="fa fa-unlock-alt"></i> NotActive
                        </span>
                    }
                </td>
                <td>
                    <div class="hidden-sm hidden-xs btn-group">

                        <a href="@Url.Action("Edit", "FAQManagement", new { Id = item.Id , LanguageId = item.LanguageId })" class="btn btn-primary">
                            <span class="hidden-320">@TTCMS.Resources.Resources.EditText</span>
                        </a>
                        @Ajax.ActionLink(
                            TTCMS.Resources.Resources.DeleteText,
                            "Delete",
                            new { Id = item.Id },
                            new AjaxOptions()
                            {
                                HttpMethod = "Delete",
                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                UpdateTargetId = @item.Id.ToString(),
                                OnSuccess = "onSuccess"
                            },
                            new
                            {
                                @class = "btn btn-xs btn-danger DeleteDialog",
                                @title = TTCMS.Resources.Resources.DeletePost
                            }
                        )

                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="inline pos-rel">
                            <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info" href="@Url.Action("Edit", new {Id = item.Id })">
                                        @TTCMS.Resources.Resources.EditText
                                    </a>
                                </li>
                                <li>
                                    @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id },
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Delete",
                                            Confirm = TTCMS.Resources.Resources.ConfirmText,
                                            UpdateTargetId = @item.Id.ToString(),
                                            OnSuccess = "onSuccess"
                                        }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@TTCMS.Resources.Resources.Page @(Model.ModelList.PageCount < Model.ModelList.PageNumber ? 0 : Model.ModelList.PageNumber) @TTCMS.Resources.Resources.Of @Model.ModelList.PageCount</div></div>
        <div class="col-xs-6 no-padding">
            <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
                @Html.PagedListPager(
                    Model.ModelList,
                    page => Url.Action("Index",
                    new { page, show = Model.Show, search = Model.Search }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "TableContainer" })
                )
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}