﻿@model  TTCMS.Web.Areas.TT_Admin.Models.FAQCreateViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.CreateNewsCateText;
    bool isEditPage = Model.Model.Id > 0;
    ViewBag.Title = isEditPage ?  TTCMS.Resources.Resources.CreateNewFAQ: TTCMS.Resources.Resources.EditFAQ;
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">@TTCMS.Resources.Resources.NewsCateText</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.CreateNewsCateText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(isEditPage ? "Edit" : "Create", "FAQManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Model.Id)
                <div class="col-xs-8">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.Question </label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(x => x.Model.Question, new { @class = "col-xs-12 col-sm-12" })
                            @Html.ValidationMessageFor(model => model.Model.Question, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.Answer </label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(x => x.Model.Answer, new { @class = "col-xs-12 col-sm-12 ckeditor" })
                            @Html.ValidationMessageFor(model => model.Model.Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.ActiveText</label>
                            <div class="col-sm-9">
                                <label>
                                    @Html.CheckBoxFor(x => x.Model.IsActived, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.LanguageText </label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.Model.LanguageId, (SelectList)Model.Lang, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="col-md-5">
                        @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index")
                    </div>
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        @if (isEditPage)
                        {
                            @TTCMS.Resources.Resources.btnUpdateSubmit
                        }
                        else
                        {
                            @TTCMS.Resources.Resources.btnCreateSubmit
                        }
                    </button>
                </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
}