﻿@model TTCMS.Web.ViewModels.HeaderMenuViewModel
@using TTCMS.Resources
@{
    var currentLanguage = Model.Languages.FirstOrDefault(x => x.Code == Model.LanguageCode);
}

<header>
    <div class="box-shadow">
        <div class="pc">
            <div class="box-shadow">
                <div class="container">
                    <div class="top">
                        <a class="logo" href="/">
                            <img src="@Html.Raw(Resources.HomeLogo)" alt="Logo" />
                        </a>
                        <div class="action">
                            <div class="left">
                                @if (Model.LanguageCode == "vi-VN")
                                {
                                    <a href="@Url.Action("AboutUsIndex","AboutUs")">
                                        @Resources.AboutUs
                                    </a>
                                    <a href="/InvestorRelation/FinancialReport?page=0">
                                        @Resources.InvestorRelation
                                    </a>
                                }
                                else if (Model.LanguageCode == "en-US")
                                {
                                    <a href="@Url.Action("AboutUsIndex","AboutUs")">
                                        @Resources.AboutUs
                                    </a>
                                    <a href="/InvestorRelation/FinancialReport?page=0">
                                        @Resources.InvestorRelation
                                    </a>
                                    <a href="/News/Danh-sach-tin-tuc?category=1138&page=0">
                                        @Resources.TVSINews
                                    </a>
                                }
                                @foreach (var item in Model.HeaderTopMenu)
                                {
                                    <a href="@item.Link" target="@item.Target">
                                        @item.Text
                                    </a>
                                }
                            </div>
                            <div class="right">
                                <div class="language-select">
                                    <p class="display">
                                        <img src="@currentLanguage.Img_Icon" alt="@currentLanguage.CountryCode" />@currentLanguage.CountryCode
                                    </p>
                                    <ul class="d-none">
                                        @for (var i = 0; i < Model.Languages.Count; i++)
                                        {
                                            <li class="language-select__item" data-type="@i" data-code="@Model.Languages[i].Code">
                                                <img src="@Model.Languages[i].Img_Icon" alt="@Model.Languages[i].CountryCode" />
                                                <p>@Model.Languages[i].CountryCode</p>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <a class="login" href="https://itrade-home.tvsi.com.vn/">
                                    <p>@TTCMS.Resources.Resources.LoginText</p>
                                </a>
                                <a class="hotline" href="tel:19001885">
                                    <img data-src="/webroot/images/home-new/phone.svg" alt="Phone"
                                         class="lazyload">
                                    <p>1900 1885</p>
                                </a>
                                <a class="register" href="@Url.Action("RegisterOpenAccountEKYC","Openaccount")">
                                    <p>@TTCMS.Resources.Resources.OpenAccount</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="bottom">
                        <div class="left">
                            <a href="/" class="logo">
                                <img src="@Html.Raw(Resources.HomeLogo)" alt="TVSI" />
                            </a>
                            <ul class="list-menu-default">
                                @*
                                    <li data-type="1">SẢN PHẨM & DỊCH VỤ</li>
                                    <li data-type="2">TRUNG TÂM PHÂN TÍCH</li>
                                    <li data-type="4">BIỂU PHÍ</li>
                                    <li data-type="5">TRUNG TÂM ĐÀO TẠO</li>
                                *@
                                @for (var i = 0; i < Model.HeaderMenu.Count; i++)
                                {
                                    <li data-type="@i">
                                        <a href="@Model.HeaderMenu[i].Link" target="@Model.HeaderMenu[i].Target">
                                            @Model.HeaderMenu[i].Text
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="right">
                            <div class="search">
                                <div class="searchType">
                                    <div class="flex-item">
                                        <input type="radio" id="stockSearch" name="searchType" value="1" checked>
                                        <label>@Resources.StockSymbolSearch</label>
                                    </div>
                                    <div class="flex-item">
                                        <input type="radio" name="searchType" value="0">
                                        <label>@Resources.NewsSearch</label>
                                    </div>
                                </div>
                                <div class="keyword">                       
                                    <input type="text" placeholder="@TTCMS.Resources.Resources.SearchText" id="autocomplete">
                                    <button id="searchbutton" onclick="Search()"><img src="/webroot/images/icon/search.svg" alt="Search"></button>
                                </div>
                            </div>
                            <div class="search-scroll">
                                <a class="register" href="@Url.Action("RegisterOpenAccountEKYC","Openaccount")">
                                    <p>@TTCMS.Resources.Resources.OpenAccount</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (var i = 0; i < Model.HeaderMenu.Count; i++)
            {
                if (Model.HeaderMenu[i].Children == null || Model.HeaderMenu[i].Children.Count == 0)
                {
                    continue;
                }

                <div class="list-menu-default-detail d-none" data-type="@i">
                    <div class="container px-0">
                        <table>
                            <thead>
                                <tr>
                                    @foreach (var item in Model.HeaderMenu[i].Children)
                                    {
                                        <th>
                                            <span target="@item.Target">
                                                @item.Text
                                            </span>
                                        </th>
                                    }
                                    @*
                                        <th>Đầu tư</th>
                                        <th>Dịch vụ chứng khoán</th>
                                        <th>Dịch vụ tài chính</th>
                                        <th>Tài chính doanh nghiệp</th>
                                        <th>Quản lý tài sản</th>
                                        <th>Dịch vụ môi giới</th>
                                    *@
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 0;
                                    var isBreak = false;
                                }

                                @while (!isBreak)
                                {
                                    var _isBreak = true;
                                    <tr>
                                        @for (int j = 0; j < Model.HeaderMenu[i].Children.Count; j++)
                                        {
                                            <td>
                                                @if (Model.HeaderMenu[i].Children[j].Children.Count > index && Model.HeaderMenu[i].Children[j].Children[index] != null)
                                                {

                                                    <a href="@Model.HeaderMenu[i].Children[j].Children[index].Link" target="@Model.HeaderMenu[i].Children[j].Children[index].Target">
                                                        @if (!string.IsNullOrEmpty(Model.HeaderMenu[i].Children[j].Children[index].Icon))
                                                        {
                                                            <img src="@Model.HeaderMenu[i].Children[j].Children[index].Icon" alt="Chung khoan" width="25" />
                                                        }
                                                        @Model.HeaderMenu[i].Children[j].Children[index].Text
                                                    </a>
                                                    _isBreak = false;
                                                }
                                            </td>
                                        }
                                    </tr>
                                    index = index + 1;
                                    isBreak = _isBreak;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="sp">
            <div class="container">
                <div class="content">
                    <div class="left">
                        <a href="/">
                            <img src="@Html.Raw(Resources.HomeLogo)" alt="TVSI" />
                        </a>
                    </div>
                    <div class="right">
                        <a href="tel:19001885" class="hotline">
                            <img data-src="/webroot/images/home-new/phone.svg" alt="TVSI" class="lazyload">
                            <p>1900 1885</p>
                        </a>
                        <a data-type="1">
                            <img src="/webroot/images/icon/header/search.svg" alt="Search" class="white">
                            <img src="/webroot/images/icon/header/search-red.svg" alt="Search" class="red">
                        </a>
                        <a data-type="2">
                            <img src="/webroot/images/icon/header/menu.svg" alt="Menu" class="white">
                            <img src="/webroot/images/icon/header/menu-red.svg" alt="Menu" class="red">
                        </a>
                    </div>
                </div>
            </div>
            <div class="detail d-none" data-type="1">
                <div class="cover">
                    <div class="searchType">
                        <div class="flex-item">
                            <input type="radio" id="stockSearch" name="searchType-sp" value="1" checked>
                            <label>@Resources.StockSymbolSearch</label>
                        </div>
                        <div class="flex-item">
                            <input type="radio" name="searchType-sp" value="0">
                            <label>@Resources.NewsSearch</label>
                        </div>
                        </div>
                        <div class="search">
                            <input type="text" placeholder="@Resources.SearchText" id="autocomplete-sp">
                            <button onclick="SearchSP()">@Resources.SearchText</button>
                        </div>
                    </div>
            </div>
            <div class="detail d-none" data-type="2">
                <div class="button-group">
                    <a class="login" href="https://itrade-home.tvsi.com.vn/">
                        <img src="/webroot/images/icon/user.svg" alt="User">
                        <p>@TTCMS.Resources.Resources.LoginText</p>
                    </a>
                    <a class="register" href="@Url.Action("RegisterOpenAccountEKYC","Openaccount")">
                        <p>@TTCMS.Resources.Resources.OpenAccount</p>
                    </a>
                </div>
                <div class="top">
                    <a href="@Url.Action("AboutUsIndex","AboutUs")">
                        @TTCMS.Resources.Resources.AboutUs
                    </a>
                    <a href="/InvestorRelation/FinancialReport?page=0">
                        @Resources.InvestorRelation
                    </a>
                    @foreach (var item in Model.HeaderTopMenu)
                    {
                        <a href="@item.Link" target="@item.Target">
                            @item.Text
                        </a>
                    }
                </div>
                <hr>
                <div class="bottom">
                    @for (var i = 0; i < Model.HeaderMenu.Count; i++)
                    {
                        <div class="list">
                            <h3>
                                <a href="@Model.HeaderMenu[i].Link" target="@Model.HeaderMenu[i].Target">
                                    @Model.HeaderMenu[i].Text
                                </a>
                            </h3>
                            @if (Model.HeaderMenu[i].Children != null && Model.HeaderMenu[i].Children.Count > 0)
                            {
                                <div class="list-menu-default">
                                    @for (var j = 0; j < Model.HeaderMenu[i].Children.Count; j++)
                                    {
                                        <div class="list-detail">
                                            <h4>
                                                <a href="@Model.HeaderMenu[i].Children[j].Link" target="@Model.HeaderMenu[i].Children[j].Target">
                                                    @Model.HeaderMenu[i].Children[j].Text
                                                </a>
                                            </h4>
                                            @if (Model.HeaderMenu[i].Children[j].Children != null && Model.HeaderMenu[i].Children[j].Children.Count > 0)
                                            {
                                                <ul>
                                                    <li>

                                                        @for (var k = 0; k < Model.HeaderMenu[i].Children[j].Children.Count; k++)
                                                        {
                                                            <a href="@Model.HeaderMenu[i].Children[j].Children[k].Link" target="@Model.HeaderMenu[i].Children[j].Children[k].Target">
                                                                <img src="@Model.HeaderMenu[i].Children[j].Children[k].Icon" alt="" width="25" /> @Model.HeaderMenu[i].Children[j].Children[k].Text
                                                            </a>
                                                        }
                                                    </li>
                                                </ul>
                                            }
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                    }
                </div>
                <div class="language-select">
                    <p class="display">
                        <img src="@currentLanguage.Img_Icon" alt="@currentLanguage.CountryCode" />@currentLanguage.CountryCode
                    </p>
                    <ul class="d-none">
                        @for (var i = 0; i < Model.Languages.Count; i++)
                        {
                            <li class="language-select__item" data-type="@i" data-code="@Model.Languages[i].Code">
                                <img src="@Model.Languages[i].Img_Icon" alt="@Model.Languages[i].CountryCode" />
                                <p>@Model.Languages[i].CountryCode</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    window.onload = function () {
        $(".language-select__item").on("click", function () {
            if (!this.dataset.code) return;
            $.ajax({
                url: "@Url.Action("UpdateLanguage","Menu")",
                type: 'POST',
                data: { code: this.dataset.code },
                success: function (response) {
                    if (response.isSuccess) {
                        window.location.href = '/';
                    }
                    else {
                        console.log(response);
                    }
                }
            });
        });

        $("#searchbutton").click(function () {
            var searchType = $('input:radio[name=searchType]:checked').map(function (i, el) { return $(el).val(); }).get();
            if (searchType == 1) {
                event.preventDefault();
                return;
            } 
            if ($(this).data("url") != undefined) {
                redirect($(this).data("url"));
            }
        });

        $("#autocomplete").keyup(function(event) {
            if (event.keyCode === 13) {
                var searchType = $('input:radio[name=searchType]:checked').map(function (i, el) { return $(el).val(); }).get();
                if (searchType == 1) {
                    event.preventDefault();
                    return;
                } else {
                    $("#searchbutton").click();
                }
            }
        });
    }

    function redirect(u) {
        window.location.href = u;
    };

    function Search() {
        var keyword = $("#autocomplete").val();
        window.location.href = `/Search?keyWord=${keyword}`;
    }

    function SearchSP() {
        var keyword = $("#autocomplete-sp").val();
        var searchType_sp = $('input:radio[name=searchType-sp]:checked').map(function (i, el) { return $(el).val(); }).get();
        if (searchType_sp === "1") {
            return    
        }
        window.location.href = `/Search?keyWord=${keyword}`;
    }
    $('input[type=radio][name=searchType]').change(function () {
        $("#autocomplete").autocomplete("option", "disabled", this.value !== "1")
    })

    $('input[type=radio][name=searchType-sp]').change(function () {
        $("#autocomplete-sp").autocomplete("option", "disabled", this.value != "1")
    })

    $( function() {
        var cache = {};
        $("#autocomplete").autocomplete({
            minLength: 1,
            source: function (request, response) {
                var code = request.term.toUpperCase();
                var params = {
                    code: request.term,
                    langId: @Model.SearchLanguageId
                }
                if (code in cache) {
                    response(cache[code]);
                    return;
                }

                $.ajax({
                    url: `/MenuController/GetSymbol?code=${code}&langId=${@Model.SearchLanguageId}`,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    processData: false,
                    cache: true,
                    success: function (data) {
                        cache[code] = data;
                        response(data);
                    },
                    error: function (xhr) {
                        console.log('error');
                    }
                });
            },
            focus: function (event, ui) {
                $("#autocomplete").val(ui.item.Title.split(" ")[0]);
                return false;
            },
            select: function (event, ui) {
                window.location.href = ui.item.RedirectUrl
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>").append(`<p style="border-bottom: 1px solid black">${item.Title}</p>`).appendTo(ul);
        };
    });
    $( function() {
        var cache = {};
        $("#autocomplete-sp").autocomplete({
            minLength: 1,
            source: function (request, response) {
                var code = request.term.toUpperCase();
                var params = {
                    code: request.term,
                    langId: @Model.SearchLanguageId
                }
                if (code in cache) {
                    response(cache[code]);
                    return;
                }
                $.ajax({
                    url: `/MenuController/GetSymbol?code=${code}&langId=${@Model.SearchLanguageId}`,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    processData: false,
                    cache: true,
                    success: function (data) {
                        cache[code] = data;
                        response(data);
                    },
                    error: function (xhr) {
                        console.log('error');
                    }
                });
            },
            focus: function (event, ui) {
                $("#autocomplete-sp").val(ui.item.Title.split(" ")[0]);
                return false;
            },
            select: function (event, ui) {
                window.location.href = ui.item.RedirectUrl
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>").append(`<p style="border-bottom: 1px solid black">${item.Title}</p>`).appendTo(ul);
        };
    });
</script>
<style>
    @@media (max-width: 880px) {
        header .pc .bottom .right {
            max-width: 150px;
        }
    }
    header .pc .bottom .right .search {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    header .pc .bottom .right .search .keyword input {
        background-color: #F3F3F3 !important;
        font-family: "Roboto Condensed" !important;
        font-size: 14px !important;
        padding: 12px 40px 12px 15px !important;
        border-radius: 5px !important;
        margin-bottom: 20px;
        border: none !important;
        color: #333 !important;
    }
    header .pc .bottom .right .search .keyword button {
        position: absolute;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background: none;
        bottom: 25px;
        right: 7px;
        transform: translateY(-50%);
        height: 17px;
    }
    header .pc .bottom .right .search-scroll {
        display: none;
    }
    .ui-menu-item a {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .autocomplete-dropdown .list .item-title {
        white-space: normal;
    }
    .right .search .searchType {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .right .search .searchType label {
        display: flex;
    }
    input[type=radio] {
        width: 13px;
        accent-color: #D2353B;
    }
    .cover .searchType {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .flex-item {
        display: flex;
        gap: 5px;
    }
    a.register p {
        color: #fff;
    }
    .ui-widget.ui-widget-content {
        width: 200px;
        max-height:200px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ui-widget.ui-widget-content::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }

    .ui-widget.ui-widget-content::-webkit-scrollbar-thumb {
        width: 0;
        display: none;
    }

    .ui-widget.ui-widget-content::-webkit-scrollbar-thumb {
        width: 0;
        display: none;
    }
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        border: none!important;
        background-color: #D2353B;
        color: #fff;
    }
    
    @@media (max-width: 1023.98px) {
        .ui-widget.ui-widget-content {
            width: 125px;
        }
    }
    @@media (max-width: 992px) {
        .right .search .searchType {
            justify-content: flex-start;
        }
    }
    
</style>
