﻿@model TTCMS.Web.ViewModels.GalleryViewModel
@using TTCMS.Resources
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="gallery">
    <div class="main-content di-table-cell vertical-top" id="maincontent">
        <div id="breadcrumbs" class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("Index","Home")">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Model.RedirectPageURL">@Model.RedirectPage</a>
                </li>
            </ul><!-- /.breadcrumb -->
        </div>
        <h1>@Model.Title</h1>
        <div class="flexbox">
            <div class="list-media">
                <div class="row">
                    <div class="swiper-container gallery">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Images)
                            {
                                <div class="swiper-slide">
                                    <img src="@Url.Content(item)" class="lazyload" alt="Hoạt động của TVSI" />
                                </div>
                            }
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="thi-truong-chung-khoan">
                    @if (Model.TotalPageNum > 1)
                    {
                        <nav class="pagination-custom">
                            <ul id="paged" class="pagination">
                                @if (Model.CurrentPage != 0)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?folder=@Model.FolderName&page=@(Model.CurrentPage-1)&categoryItemId=@Model.CategoryItemId" )">
                                            @TTCMS.Resources.Resources.Previous
                                        </a>
                                    </li>
                                }
                                @if (Model.TotalPageNum <= 6)
                                {
                                    for (int i = 1; i <= Model.TotalPageNum; i++)
                                    {
                                        <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                            <a class="page-link" href="?folder=@Model.FolderName&page=@(i-1)&categoryItemId=@Model.CategoryItemId" )">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else if (Model.CurrentPage < 3 && Model.CurrentPage >= 0)
                                {
                                    for (int i = 1; i <= 3; i++)
                                    {
                                        <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                            <a class="page-link" href="?folder=@Model.FolderName&page=@(i-1)&categoryItemId=@Model.CategoryItemId" )">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        ...
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?folder=@Model.FolderName&page=@(Model.TotalPageNum - 1)&categoryItemId=@Model.CategoryItemId" )">
                                            @Model.TotalPageNum
                                        </a>
                                    </li>
                                }
                                else if (Model.CurrentPage >= 3 && Model.CurrentPage + 1 < Model.TotalPageNum - 2)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?folder=@Model.FolderName&page=0&categoryItemId=@Model.CategoryItemId" )">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        ...
                                    </li>
                                    for (int i = Model.CurrentPage; i <= Model.CurrentPage + 2; i++)
                                    {
                                        <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                            <a class="page-link" href="?folder=@Model.FolderName&page=@(i-1)&categoryItemId=@Model.CategoryItemId" )">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        ...
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?folder=@Model.FolderName&page=@(Model.TotalPageNum - 1)&categoryItemId=@Model.CategoryItemId" )">
                                            @Model.TotalPageNum
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?folder=@Model.FolderName&page=0&categoryItemId=@Model.CategoryItemId" )">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        ...
                                    </li>
                                    for (int i = Model.TotalPageNum - 2; i <= Model.TotalPageNum; i++)
                                    {
                                        <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                            <a class="page-link" href="?folder=@Model.FolderName&page=@(i-1)&categoryItemId=@Model.CategoryItemId" )">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                @if (Model.CurrentPage + 1 != Model.TotalPageNum)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?folder=@Model.FolderName&page=@(Model.CurrentPage+1)&categoryItemId=@Model.CategoryItemId" )">
                                            @TTCMS.Resources.Resources.Next
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                </div>
            </div>
            <div class="latest">
                @if (Model.Newest != null && Model.Newest.Count > 0)
                {
                    <div class="news">
                        <h2>@Resources.LatestNews</h2>

                        <ul>
                            @foreach (var item in Model.Newest)
                            {
                                <li>
                                    <a href="/News/Gallery?folder=@item.Slug&page=0&categoryItemId=@Model.CategoryItemId">
                                        <div class="image">
                                            <img data-src="@item.ImageUrl" class="lazyload">
                                        </div>
                                        <div class="content">
                                            <h3>@item.Title</h3>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </div>
</section>
<script>
    function sectionSwiperGallery() {
        let swiper = new Swiper('.gallery', {
            loop: true,
            spaceBetween: 10,
            centeredSlides: true,
            autoplay: false,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            grabCursor: true,
        });
    };
    function resizeImg(img) {
        img.width = width;
        return false;
    }
    this.sectionSwiperGallery();
</script>

<style>
    .breadcrumbs {
        position: relative;
        z-index: auto;
        background-color: transparent;
        border: none;
        min-height: 41px;
        line-height: 40px;
        padding: 0 12px 0 0;
    }

    .breadcrumb {
        background-color: transparent;
        line-height: 20px;
        padding: 0;
        font-size: 13px;
        color: #333;
        border-radius: 0;
    }

        .breadcrumb > li, .breadcrumb > li.active {
            color: #555;
            padding: 0 3px 0 3px;
        }

        .breadcrumb .home-icon {
            font-size: 20px;
            margin-left: 2px;
            margin-right: 2px;
            vertical-align: top;
        }

        .breadcrumb > li > a {
            display: inline-block;
            color: #4c8fbd;
        }

        .breadcrumb > li ~ li:before {
            font-family: FontAwesome;
            font-size: 14px;
            content: "\f105";
            color: #b2b6bf;
            padding: 0;
            margin: 0 8px 0 0;
            position: relative;
            top: 1px;
        }
    section#gallery {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }
    .swiper-slide img {
        width: 778px;
    }
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
        color: #fff;
    }
    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
        color: #fff;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: #fff;
    }
    @@media (min-width: 768px){
        .swiper-slide img {
            height: 500px;
        }
        #maincontent {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            width: 70vw;
            max-width: 1110px;
        }
        #maincontent .flexbox {
            display: flex;
            gap: 60px;
        }
        #maincontent .flexbox .list-media {
            width: 70%;
        }
        #maincontent .flexbox .latest {
            min-width: 200px;
            width: 30%;
        }
        #maincontent .flexbox .latest .news h2 {
            color: white;
            background: #D2353B;
            font-size: 20px;
            padding: 3px 10px;
        }
        #maincontent .flexbox .latest .news ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        #maincontent .flexbox .latest .news ul li a {
            display: flex;
            align-self: center;
            gap: 10px;
            margin-top: 15px;
        }
        #maincontent .flexbox .latest .news ul li a .image {
            min-width: 50px;
            max-width: 50px;
        }
        #maincontent .flexbox .latest .news ul li a .image img {
            width: 50px;
            height: 50px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        #maincontent .flexbox .latest .news ul li a .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #606060;
        }
        #maincontent .flexbox .latest .news ul li a .content h3 {
                font-size: 15px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: normal !important;
        }
        #maincontent .flexbox .latest .news ul li a .content p {
            font-size: 12px;
            font-style: italic;
        }
    }
    @@media (max-width: 767.98px){
        .swiper-slide img {
            height: 300px;
        }
        #maincontent {
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin-top: 62px;
        }
        #maincontent .flexbox {
            display: flex;
            flex-direction: column;
        }
        #maincontent .flexbox .list-media {
            margin: 20px 0;
        }
        #maincontent .flexbox .latest .news h2 {
            color: white;
            background: #D2353B;
            font-size: 2rem;
            padding: 3px 10px;
        }
        #maincontent .flexbox .latest .news ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        #maincontent .flexbox .latest .news ul li a {
            display: flex;
            align-self: center;
            gap: 10px;
            margin-top: 15px;
        }
        #maincontent .flexbox .latest .news ul li a .image {
            min-width: 50px;
            max-width: 50px;
        }
        #maincontent .flexbox .latest .news ul li a .image img {
            width: 50px;
            height: 50px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        #maincontent .flexbox .latest .news ul li a .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #606060;
        }
        #maincontent .flexbox .latest .news ul li a .content h3 {
                font-size: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
        }
        #maincontent .flexbox .latest .news ul li a .content p {
            font-size: 12px;
            font-style: italic;
        }
    }
</style>