﻿@model TTCMS.Web.ViewModels.NewsViewItemModel
@using TTCMS.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="detail-post">
    <div class="bg">
        <div class="container">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="@Url.Action("Index","Home")">@TTCMS.Resources.Resources.Home</a>
                    </li>
                    <li>
                        <a href="@Model.RedirectPageUrl">@Model.RedirectPage</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>
            <div class="cover">
                <div class="left">
                    <h1>@Model.News.Title</h1>
                    <div class="info">
                        <p class="time">@Model.News.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")</p>
                        <ul class="social">
                            <li>
                                <a href="#"><img data-src="/webroot/images/icon/facebook.svg" alt="Facebook" class="lazyload"></a>
                            </li>
                            <li>
                                <a href="#"><img data-src="/webroot/images/icon/twitter.svg" alt="Twitter" class="lazyload"></a>
                            </li>
                            <li>
                                <a href="#"><img data-src="/webroot/images/icon/mail.svg" alt="Mail" class="lazyload"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="like active">
                        <img data-src="/webroot/images/icon/thumbs-up.svg" alt="Like" class="lazyload thumbs">
                        <img data-src="/webroot/images/icon/check.svg" alt="Like" class="lazyload check">
                        <p>Thích</p>
                        <div class="number">16</div>
                    </div> -->
                    <div class="desc">
                        <p>@Model.News.Description</p>
                        @Html.Raw(Model.News.Content)
                    </div>
                </div>
                <div class="right">
                    @if (Model.Hotest != null && Model.Hotest.Count > 0)
                    {
                        <div class="news">
                            <h2>@Resources.HotestNews</h2>
                            <ul>
                                @foreach (var item in Model.Hotest)
                                {
                                    <li>
                                        <a href="/News/@(item.Slug).html">
                                            <div class="image">
                                                <img data-src="@item.ImageUrl" class="lazyload">
                                            </div>
                                            <div class="content">
                                                <h3>@item.Title</h3>
                                                <p>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @if (Model.Newest != null && Model.Newest.Count > 0)
                    {
                        <div class="news">
                            <h2>@Resources.LatestNews</h2>

                            <ul>
                                @foreach (var item in Model.Newest)
                                {
                                    <li>
                                        <a href="/News/@(item.Slug).html">
                                            <div class="image">
                                                <img data-src="@item.ImageUrl" class="lazyload">
                                            </div>
                                            <div class="content">
                                                <h3>@item.Title</h3>
                                                <p>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section MetaTags
{
    <meta name="description" content="@Model.News.Title" />
    <meta name="keywords" content="@Model.News.Title" />
}
<style>
    @@media (min-width: 768px){
        .detail-post {
            margin-top: 132px;
        }
    }

    .breadcrumbs {
        position: relative;
        z-index: auto;
        background-color: transparent;
        border: none;
        min-height: 41px;
        line-height: 40px;
        padding: 0 12px 0 0;
    }

    .breadcrumb {
        background-color: transparent;
        line-height: 20px;
        padding: 0;
        font-size: 13px;
        color: #333;
        border-radius: 0;
    }
    .breadcrumb>li, .breadcrumb>li.active {
        color: #555;
        padding: 0 3px 0 3px;
    }
    .breadcrumb .home-icon {
        font-size: 20px;
        margin-left: 2px;
        margin-right: 2px;
        vertical-align: top;
    }
    .breadcrumb>li>a {
        display: inline-block;
        color: #4c8fbd;
    }
    .breadcrumb>li~li:before {
        font-family: FontAwesome;
        font-size: 14px;
        content: "\f105";
        color: #b2b6bf;
        padding: 0;
        margin: 0 8px 0 0;
        position: relative;
        top: 1px;
    }
</style>


