﻿@model TTCMS.Web.ViewModels.SearchNewsInfo
@using TTCMS.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/tthd-bg.png" alt="TVSI" class="lazyload" style="width: 100%;">
        @if (Model.CurrentKeyWord != "")
        {
            <h1>@(Resources.SearchNews): " @Model.CurrentKeyWord " </h1>
        }
        else
        {
            <h1>@(Resources.ActivityNews)</h1>
        }
    </div>
</section>
<section class="section-menu">
    @if (string.IsNullOrEmpty(Model.CurrentKeyWord))
    {
        <div class="menu-default pc">
            <div class="container">
                @foreach (var item in Model.CategoryItems)
                {
                    <div class="menu @(item.Id == Model.CategoryItemId ? "active" : "")" data-type="1">
                        <a href="?categoryItemId=@item.Id&page=0">@item.Name</a>
                    </div>
                }
            </div>
        </div>
        <div class="vertical-scrolling menu-default sp">
            @foreach (var item in Model.CategoryItems)
                {
                    <a class="menu @(item.Id == Model.CategoryItemId ? "active" : "")" href="?categoryItemId=@item.Id&page=0">
                        <p>@item.Name</p>
                    </a>
                }
        </div>
    }
    <div class="container">
        @if (Model.CurrentKeyWord != "") {
            <h3 class="searchResultText">@Resources.SearchResult</h3>
        }
        @if (Model.CurrentKeyWord == "" && Model.News != null && Model.News.Count > 0) {
            <hr />
        }
        @if (Model.Layout == 0)
            {
                <div class="container">
                    @if (Model.News != null && Model.News.Count > 0)
                    {
                        <div id="NewsData" class="row">
                            @foreach (var item in Model.News)
                            {
                                <div class="col-md-4">
                                    <img src="@item.ImageUrl" alt="Rectangle 911">
                                    <a href="@(Model.DisplayImageContent ? "/News/Gallery?folder=" + item.Slug + "&page=0&categoryItemId=" + Model.CategoryItemId : item.Slug + ".html")">
                                        <h4 class="text-center menu-title">@item.Title</h4>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <h3 style="font-style:ITALIC">@Resources.NoData</h3>
                    }
                </div>
            }
            else if (Model.Layout == 1)
            {

                <div class="container">
                    @if (Model.News != null && Model.News.Count > 0)
                    {
                        <div class="news-special">
                            <ul id="NewsData">
                                @for (int i = 0; i < Model.News.Count; i++)
                                {
                                    <li class="item@(i)">
                                        <div class="image">
                                            <img src="@Model.News[i].ImageUrl" alt="News">
                                        </div>
                                        <a href="@(Model.DisplayImageContent ? "/News/Gallery?folder=" + Model.News[i].Slug + "&page=0&categoryItemId=" + Model.CategoryItemId : Model.News[i].Slug + ".html")">
                                            <h2>@Model.News[i].Title</h2>
                                            <div class="desc">
                                                <p class="category">
                                                    @Model.News[i].category
                                                </p>
                                                <div class="date">@Model.News[i].CreatedDate.ToString("dd/MM/yyyy")</div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <h3 style="font-style:ITALIC">@Resources.NoData</h3>
                    }
                </div>
            }
            else
            {
                <div class="container">
                    @if (Model.News != null && Model.News.Count > 0)
                    {
                        <div id="NewsData" class="thi-truong-chung-khoan">
                            @foreach (var item in Model.News)
                            {
                                    <a class="post" href="@(Model.DisplayImageContent ? "/News/Gallery?folder=" + item.Slug + "&page=0&categoryItemId=" + Model.CategoryItemId : item.RedirectUrl != null ? item.RedirectUrl : "/News/" + item.Slug + ".html")">
                                        <div class="left">
                                            <img data-src="@item.ImageUrl" alt="" class="lazyload">
                                        </div>
                                        <div class="right">
                                            <h2>@item.Title</h2>
                                            <div class="info">
                                                <p class="category">
                                                    @item.category
                                                </p>
                                                @if (item.CreatedDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                                {
                                                    <p class="date">@item.CreatedDate.ToString("dd/MM/yyyy")</p>
                                                }
                                            </div>
                                            <p class="desc">@item.Desc</p>
                                        </div>
                                    </a>
                                    }
                            </div>
                    }
                    else
                    {
                        <h3 style="font-style:ITALIC">@Resources.NoData</h3>
                    }
                </div>
            }
            <div class="thi-truong-chung-khoan">
                @if (Model.TotalPageNum > 0)
                {
                    <nav class="pagination-custom">
                        <ul id="paged" class="pagination">
                            @if(Model.CurrentPage != 0) {
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PageURL&page=@(Model.CurrentPage-1)" )">
                                        @TTCMS.Resources.Resources.Previous
                                    </a>
                                </li>
                            }
                            @if(Model.TotalPageNum <= 6) {
                                for (int i = 1; i <= Model.TotalPageNum; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="@Model.PageURL&page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else if(Model.CurrentPage < 3 && Model.CurrentPage >= 0){
                                for (int i = 1; i <= 3; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="@Model.PageURL&page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    ...
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PageURL&page=@(Model.TotalPageNum - 1)")">
                                        @Model.TotalPageNum
                                    </a>
                                </li>
                            }
                            else if (Model.CurrentPage >= 3 && Model.CurrentPage + 1 < Model.TotalPageNum - 2)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PageURL&page=0")">
                                        1
                                    </a>
                                </li>
                                <li>
                                    ...
                                </li>
                                for (int i = Model.CurrentPage; i <= Model.CurrentPage + 2; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="@Model.PageURL&page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    ...
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PageURL&page=@(Model.TotalPageNum - 1)")">
                                        @Model.TotalPageNum
                                    </a>
                                </li>
                            }
                            else {
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PageURL&page=0")">
                                        1
                                    </a>
                                </li>
                                <li>
                                    ...
                                </li>
                                for (int i = Model.TotalPageNum - 2; i <= Model.TotalPageNum; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="@Model.PageURL&page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            @if(Model.CurrentPage + 1 != Model.TotalPageNum) {
                                <li class="page-item">
                                    <a class="page-link" href="@Model.PageURL&page=@(Model.CurrentPage+1)" )">
                                        @TTCMS.Resources.Resources.Next
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
    </div>
    @Html.HiddenFor(x => x.CategoryItemId)
</section>
@section scripts
{
    <script type="text/javascript">
        function GetPageData(pageNum, keyWord) {
            //After every trigger remove previous data and paging
            $("#NewsData").empty();
            const categoryItemId = $("#CategoryItemId").val();
            $.ajax("/News/GetPageData", { pageNumber: pageNum, keyWord: keyWord, categoryItemId }, function (response) {
                var rowData = " <a class='post' href='#'></a >";
                for (var i = 0; i < response.length; i++) {
                    var m = new Date(parseInt(response[i].CreatedDate.replace(/\D/g, "")));
                    var year = m.getFullYear();
                    var month = pad(m.getMonth() + 1);
                    var day = pad(m.getDate());
                    var finalDate = day + "/" + month + "/" + year;

                    rowData = rowData + '<a class="post" href="' + response[i].Slug + '.html">' +
                        '<div class="left">' +
                        ' <img data-src="' + response[i].ImageUrl + '" alt="" class="lazyload">' +
                        ' </div>' +
                        '<div class="right">' +
                        '<h2>' + response[i].Title + '</h2>' +
                        ' <div class="info">' +
                        ' <p class="category">' + response[i].category + '</p>' +
                        '<p class="date">' + finalDate + '</p>' +
                        '</div>' +
                        '<p class="desc">' + response[i].Desc + '</p>' +
                        '</div>' +
                        ' </a>';
                }
                $("#NewsData").append(rowData);
            });
        }
        function pad(num) {
            num = "0" + num;
            return num.slice(-2);
        }
    </script>
}

<style>
    @@media (min-width: 768px) {
        section.banner-default {
            margin-top: 132px;
        }
    }
    @@media (max-width: 767.98px) {
        #NewsData {
            padding: 0 20px;
        }    
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .thi-truong-chung-khoan .pagination-custom ul li.active a {
        color: #fff;
        z-index: 1;
    }
    .col-md-4 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 10px;
        width: 33.33333333%;
    }
    .col-md-4 img {
        height: 100%;
        max-height: 250px;
    }
    .col-md-4 h4 {
        font-size: 1.6rem;
        font-weight: bold;
        font-family: "Roboto Condensed", sans-serif;
    }
    .searchResultText {
        font-style: ITALIC;
        color: #D2353B;
        margin-top: 20px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('.vertical-scrolling').scrollLeft($('a.menu.active').first().position().left - 10)
    })
</script>