﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TTCMS.Resources

<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu active" href="@Url.Action("AboutUsIndex")">
            <p>@Resources.AboutUs</p>
        </a>
        <a class="menu" href="@Url.Action("EnterpriseValue")">
            <p>@Resources.EnterpriseValue</p>
        </a>
        <a class="menu" href="@Url.Action("DevelopmentMilestones")">
            <p>@Resources.DevelopmentMilestones</p>
        </a>
        <a class="menu" href="@Url.Action("Teams")">
            <p>@Resources.Teams</p>
        </a>
        <a class="menu" href="@Url.Action("BranchNetwork")">
            <p>@Resources.BranchNetwork</p>
        </a>
        <a class="menu" href="@Url.Action("ProfileTVSI")">
            <p>@Resources.ProfileTVSI</p>
        </a>
    </div>
    <div class="menu-default pc">
        <div class="container">
            <div class="menu active">
                <a href="@Url.Action("AboutUsIndex")">@Resources.AboutUs</a>
            </div>
            <div class="menu" >
                <a href="@Url.Action("EnterpriseValue")">@Resources.EnterpriseValue</a>
            </div>
            <div class="menu" >
                <a href="@Url.Action("DevelopmentMilestones")">@Resources.DevelopmentMilestones</a>
            </div>
            <div class="menu" >
                <a href="@Url.Action("Teams")">@Resources.Teams</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("BranchNetwork")">@Resources.BranchNetwork</a>
            </div>
            <div class="menu" >
                <a href="@Url.Action("ProfileTVSI")">@Resources.ProfileTVSI</a>
            </div>
        </div>
    </div>
    <div class="divider">
        <hr>
    </div>
    <div class="about about-1">
        <div class="first">
            <div class="container">
                <div class="content">
                    <div class="title-default">
                        <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                        <h2>@Resources.BusinessDevelopment</h2>
                    </div>
                    <p class="desc">
                        @Resources.CorporateDescription
                    </p>
                    <div class="bottom">
                        <h3>
                            @Resources.AboutUsLicense
                        </h3>
                        <div class="number">
                            <div class="left">
                                <div class="item">
                                    <b>1</b>
                                    <p>@Resources.Broker</p>
                                </div>
                                <div class="item">
                                    <b>2</b>
                                    <p>@Resources.Proprietary</p>
                                </div>
                                <div class="item">
                                    <b>3</b>
                                    <p>@Resources.SecuritiesServices</p>
                                </div>
                                <div class="item">
                                    <b>4</b>
                                    <p>@Resources.Underwriting</p>
                                </div>
                            </div>
                            <div class="right">
                                <div class="item">
                                    <b>5</b>
                                    <p>@Resources.PortfolioManagement</p>
                                </div>
                                <div class="item">
                                    <b>6</b>
                                    <p>@Resources.FinancialServices</p>
                                </div>
                                <div class="item">
                                    <b>7</b>
                                    <p>@Resources.CorpFinanceConsultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="container">
                <div class="content">
                    <p class="desc">
                        @Resources.AboutUsIndexSecondContainerFirstDesc 
                        <br><br>
                        @Resources.AboutUsIndexSecondContainerSecondDesc
                    </p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="container">
                <div class="content">
                    <div class="title-default">
                        <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                        <h2>@Resources.StrategicPartners</h2>
                    </div>
                    <div class="desc">
                        <div class="item">
                            <div class="left">
                                <h3>1. @Resources.SaigonCommerceBank</h3>
                                <p>
                                    @Html.Raw(Resources.SaigonCommerceBankInfo)
                                </p>
                            </div>
                            <div class="right">
                                <img data-src="/webroot/images/logo/scb.png" alt="SCB" class="lazyload">
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <h3>2. @Resources.BaoLong</h3>
                                <p>
                                    @Html.Raw(Resources.BaoLongInfo)
                                </p>
                            </div>
                            <div class="right">
                                <img data-src="/webroot/images/logo/bao-long.png" alt="Bao Long" class="lazyload">
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <h3>3. @Resources.TVFM</h3>
                                <p>
                                    @Html.Raw(Resources.TVFMInfo)
                                </p>
                            </div>
                            <div class="right">
                                <img data-src="/webroot/images/logo/tvfm.png" alt="TVFM" class="lazyload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .about.about-1 .title-default h2 {
        text-transform: uppercase;
    }
</style>