@using TTCMS.Resources
@{
    ViewBag.Title = TTCMS.Resources.Resources.BranchNetwork;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("AboutUsIndex")">
            <p>@Resources.AboutUs</p>
        </a>
        <a class="menu" href="@Url.Action("EnterpriseValue")">
            <p>@Resources.EnterpriseValue</p>
        </a>
        <a class="menu" href="@Url.Action("DevelopmentMilestones")">
            <p>@Resources.DevelopmentMilestones</p>
        </a>
        <a class="menu" href="@Url.Action("Teams")">
            <p>@Resources.Teams</p>
        </a>
        <a class="menu active" href="@Url.Action("BranchNetwork")">
            <p>@Resources.BranchNetwork</p>
        </a>
        <a class="menu" href="@Url.Action("ProfileTVSI")">
            <p>@Resources.ProfileTVSI</p>
        </a>
    </div>
    <div class="menu-default pc">
        <div class="container">
            <div class="menu">
                <a href="@Url.Action("AboutUsIndex")">@Resources.AboutUs</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("EnterpriseValue")">@Resources.EnterpriseValue</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("DevelopmentMilestones")">@Resources.DevelopmentMilestones</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("Teams")">@Resources.Teams</a>
            </div>
            <div class="menu active">
                <a href="@Url.Action("BranchNetwork")">@Resources.BranchNetwork</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("ProfileTVSI")">@Resources.ProfileTVSI</a>
            </div>
        </div>
    </div>

    <div class="divider">
        <hr>
    </div>

    <div class="about about-5">
        <div class="container">
            <div class="first-branch">
                <a class="branch-name">@Resources.Hanoi</a>
                <div class="container-flexbox">
                    <div class="branch-details">
                        <p class="branch-title">@Resources.HeadQuarters</p>
                        <p class="branch-text">@Resources.HQLocation</p>
                        <p class="branch-text">Hotline: 1900 1885</p>
                        <p class="branch-text">Fax: 024 3728 0920</p>
                        <p class="branch-text">Email: contact@tvsi.com.vn</p>
                    </div>
                    <div class="branch-details">
                        <p class="branch-title">@Resources.HaThanhBranchFull</p>
                        <p class="branch-text">@Resources.HaThanhLocation</p>
                        <p class="branch-text">Fax: 024 3717 3250</p>
                    </div>
                    <div class="branch-details">
                        <p class="branch-title">@Resources.NgocKhanhBranchFull</p>
                        <p class="branch-text">@Resources.NgocKhanhLocation</p>
                        <p class="branch-text">Fax: 024. 3237 3092</p>
                    </div>
                    <div class="branch-details">
                        <p class="branch-title">@Resources.MyDinhBranchFull</p>
                        <p class="branch-text">@Resources.MyDinhLocation</p>
                        <p class="branch-text">Fax: 024. 3792 5180</p>
                    </div>
                </div>
            </div>
            <div class="second-branch">
                <div class="container-flexbox">
                    <div class="branch-details">
                        <a class="branch-name">@Resources.Haiphong</a>
                        <p class="branch-title">@Resources.HaiPhongBranchFull</p>
                        <p class="branch-text">@Resources.HaiPhongLocation</p>
                        <p class="branch-text">Fax: 0225. 3757560</p>
                    </div>
                    <div class="branch-details">
                        <a class="branch-name">@Resources.Danang</a>
                        <p class="branch-title">@Resources.DaNangBranchFull</p>
                        <p class="branch-text">@Resources.DaNangLocation</p>
                        <p class="branch-text">Fax: 0236. 3752283</p>
                    </div>
                </div>
            </div>
            <div class="third-branch">
                <div class="container-flexbox">
                    <div class="branch-details">
                        <a class="branch-name">@Resources.Quynhon</a>
                        <p class="branch-title">@Resources.QuyNhonBranchFull</p>
                        <p class="branch-text">@Resources.QuyNhonLocation</p>
                        <p class="branch-text">Fax: 0256. 3818 820</p>
                    </div>
                    <div class="branch-details">
                        <a class="branch-name">@Resources.Hochiminh</a>
                        <p class="branch-title">@Resources.HCMBranchFull</p>
                        <p class="branch-text">@Resources.HCMLocation</p>
                        <p class="branch-text">Fax: 028. 3920 7542</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
<script type="text/javascript">
  
$(document).ready(function() {
    $('.vertical-scrolling').scrollLeft(400)
})
</script>
}

<style>
    .branch-name {
        text-transform: uppercase;
    }
</style>