﻿@using TTCMS.Resources
@{
    ViewBag.Title = TTCMS.Resources.Resources.DevelopmentMilestones;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("AboutUsIndex")">
            <p>@Resources.AboutUs</p>
        </a>
        <a class="menu" href="@Url.Action("EnterpriseValue")">
            <p>@Resources.EnterpriseValue</p>
        </a>
        <a class="menu active" href="@Url.Action("DevelopmentMilestones")">
            <p>@Resources.DevelopmentMilestones</p>
        </a>
        <a class="menu" href="@Url.Action("Teams")">
            <p>@Resources.Teams</p>
        </a>
        <a class="menu " href="@Url.Action("BranchNetwork")">
            <p>@Resources.BranchNetwork</p>
        </a>
        <a class="menu" href="@Url.Action("ProfileTVSI")">
            <p>@Resources.ProfileTVSI</p>
        </a>
    </div>
    <div class="menu-default pc">
        <div class="container">
            <div class="menu">
                <a href="@Url.Action("AboutUsIndex")">@Resources.AboutUs</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("EnterpriseValue")">@Resources.EnterpriseValue</a>
            </div>
            <div class="menu active">
                <a href="@Url.Action("DevelopmentMilestones")">@Resources.DevelopmentMilestones</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("Teams")">@Resources.Teams</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("BranchNetwork")">@Resources.BranchNetwork</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("ProfileTVSI")">@Resources.ProfileTVSI</a>
            </div>
        </div>
    </div>
    <div class="divider">
        <hr>
    </div>


    <div class="about about-3">
        <div class="container">
            <p>
                @Resources.DevelopmentMilestones
            </p>
            <img data-src="@Html.Raw(Resources.PrizesImgPath)" alt="TVSI" class="lazyload">
            <div class="years">
                <div class="year">
                    <h3>2006</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2006)
                    </ul>
                </div>
                <div class="year">
                    <h3>2007</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2007)
                    </ul>
                </div>
                <div class="year">
                    <h3>2008</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2008)
                    </ul>
                </div>
                <div class="year">
                    <h3>2009</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2009)
                    </ul>
                </div>
                <div class="year">
                    <h3>2010</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2010)
                    </ul>
                </div>
                <div class="year">
                    <h3>2011</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2011)
                    </ul>
                </div>
                <div class="year">
                    <h3>2012</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2012)
                    </ul>
                </div>
                <div class="year">
                    <h3>2013</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2013)
                    </ul>
                </div>
                <div class="year">
                    <h3>2014</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2014)
                    </ul>
                </div>
                <div class="year">
                    <h3>2015</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2015)
                    </ul>
                </div>
                <div class="year">
                    <h3>2016</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2016)
                    </ul>
                </div>
                <div class="year">
                    <h3>2017</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2017)
                    </ul>
                </div>
                <div class="year">
                    <h3>2018</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2018)
                    </ul>
                </div>
                <div class="year">
                    <h3>2019</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2019)
                    </ul>
                </div>
                <div class="year">
                    <h3>2020</h3>
                    <ul>
                        @Html.Raw(Resources.Milestones2020)
                    </ul>
                </div>
            </div>
    </div>
</section>
<style>
    .about-3 .container p {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 29px;
        text-align: justify;
        color: #262036;
    }
    @@media(max-width: 767.98px) {
        .about-3 .container p {
            font-size: 1.4rem;
            line-height: 17px;
        }
    }
</style>
@section scripts {
<script type="text/javascript">
  
$(document).ready(function() {
    $('.vertical-scrolling').scrollLeft(120)
})
</script>
}