﻿@using TTCMS.Resources
@{
    ViewBag.Title = TTCMS.Resources.Resources.EnterpriseValue;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="container-v2">
        <div class="about about-2">
            <div class="first">
                <div class="container">
                    <div class="bg"></div>
                    <div class="vertical-scrolling menu-default sp">
                        <a class="menu" href="@Url.Action("AboutUsIndex")">
                            <p>@Resources.AboutUs</p>
                        </a>
                        <a class="menu active" href="@Url.Action("EnterpriseValue")">
                            <p>@Resources.EnterpriseValue</p>
                        </a>
                        <a class="menu " href="@Url.Action("DevelopmentMilestones")">
                            <p>@Resources.DevelopmentMilestones</p>
                        </a>
                        <a class="menu" href="@Url.Action("Teams")">
                            <p>@Resources.Teams</p>
                        </a>
                        <a class="menu " href="@Url.Action("BranchNetwork")">
                            <p>@Resources.BranchNetwork</p>
                        </a>
                        <a class="menu" href="@Url.Action("ProfileTVSI")">
                            <p>@Resources.ProfileTVSI</p>
                        </a>
                    </div>
                    <div class="menu-default pc">
                        <div class="container">
                            <div class="menu">
                                <a href="@Url.Action("AboutUsIndex")">@Resources.AboutUs</a>
                            </div>
                            <div class="menu  active">
                                <a href="@Url.Action("EnterpriseValue")">@Resources.EnterpriseValue</a>
                            </div>
                            <div class="menu">
                                <a href="@Url.Action("DevelopmentMilestones")">@Resources.DevelopmentMilestones</a>
                            </div>
                            <div class="menu">
                                <a href="@Url.Action("Teams")">@Resources.Teams</a>
                            </div>
                            <div class="menu">
                                <a href="@Url.Action("BranchNetwork")">@Resources.BranchNetwork</a>
                            </div>
                            <div class="menu">
                                <a href="@Url.Action("ProfileTVSI")">@Resources.ProfileTVSI</a>
                            </div>
                        </div>
                    </div>
                    <div class="divider">
                        <hr>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="title-default">
                                <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                                <h2>@Resources.Vision</h2>
                            </div>
                            <img data-src="/webroot/images/tam-nhin.png" alt="TVSI" class="lazyload">
                        </div>
                        <div class="right">
                                <div class="openQuote">
                                    <img data-src="/webroot/images/icon/quotes-no-bg.svg" alt="TVSI"
                                        class="lazyload before">
                                </div>
                                <div class="text">
                                    <p>@Resources.VisionInfo</p>
                                </div>
                                <div class="closeQuote">
                                    <img data-src="/webroot/images/icon/quotes-no-bg.svg" alt="TVSI"
                                        class="lazyload after">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second">
                <div class="container">
                    <div class="content">
                        <div class="left">
                            <div class="title-default">
                                <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                                <h2>@Resources.Mission</h2>
                            </div>
                            <img class="vision-img" src="/webroot/images/tam-nhin.png" alt="TVSI" class="lazyload">
                            <ul>
                                @Html.Raw(Resources.MissionInfo)
                            </ul>
                        </div>
                        <div class="right">
                            <img class="vision-img" src="/webroot/images/aboutTvsi_mission.jpg" alt="TVSI" class="lazyload">
                            <ul>
                                @Html.Raw(Resources.MissionInfo)
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third">
                <div class="container">
                    <div class="title-default">
                        <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                        <h2>@Resources.CoreValue</h2>
                    </div>
                    <div class="content">
                        <ul>
                            @Html.Raw(Resources.CoreValueInfo)
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .about.about-2 .third {
        padding-bottom: 70px;
    }
    
    .about.about-2 .first .content .right .closeQuote {
        display: flex;
        justify-content: flex-end;
    }
    .about.about-2 .first .content .right .closeQuote img {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    @@media screen and (min-width: 768px) {
        .about.about-2 .first .content .right .text {
            padding: 40px;
        }
    }
    @@media screen and (max-width: 767.98px) {
        .about.about-2 .first .content .right {
            display: flex;
        }
        .about.about-2 .first .content .right .openQuote {
            justify-content: flex-start;
        }
        .about.about-2 .first .content .right .closeQuote {
            justify-content: flex-end;
        }
        .about.about-2 .first .content .right .closeQuote, .about.about-2 .first .content .right .openQuote {
            display: flex;
            flex-direction: column;
            width: 29px;
            height: 44px;
        }
    }
</style>



