﻿@using TTCMS.Resources
@{
    ViewBag.Title = TTCMS.Resources.Resources.ProfileTVSI;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("AboutUsIndex")">
            <p>@Resources.AboutUs</p>
        </a>
        <a class="menu " href="@Url.Action("EnterpriseValue")">
            <p>@Resources.EnterpriseValue</p>
        </a>
        <a class="menu " href="@Url.Action("DevelopmentMilestones")">
            <p>@Resources.DevelopmentMilestones</p>
        </a>
        <a class="menu" href="@Url.Action("Teams")">
            <p>@Resources.Teams</p>
        </a>
        <a class="menu " href="@Url.Action("BranchNetwork")">
            <p>@Resources.BranchNetwork</p>
        </a>
        <a class="menu active" href="@Url.Action("ProfileTVSI")">
            <p>@Resources.ProfileTVSI</p>
        </a>
    </div>
    <div class="menu-default pc">
        <div class="container">
            <div class="menu">
                <a href="@Url.Action("AboutUsIndex")">@Resources.AboutUs</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("EnterpriseValue")">@Resources.EnterpriseValue</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("DevelopmentMilestones")">@Resources.DevelopmentMilestones</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("Teams")">@Resources.Teams</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("BranchNetwork")">@Resources.BranchNetwork</a>
            </div>
            <div class="menu active">
                <a href="@Url.Action("ProfileTVSI")">@Resources.ProfileTVSI</a>
            </div>
        </div>
    </div>
    <div class="divider">
        <hr>
    </div>

    <div class="about about-6 content-aboutus">
        <iframe class="video-content" src="https://www.youtube.com/embed/0WM_pK-OMrg?rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('.vertical-scrolling').scrollLeft(400)
        })
    </script>
}

<style>
    .about.about-6.content-aboutus {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .about.about-6.content-aboutus iframe {
        width: 40vw;
        height: 50vh;
    }
    @@media (max-width: 767.98px) {
        iframe {
            width: 80vw;
            height: 300px;
        }
    }
</style>


