﻿@using TTCMS.Resources
@{
    ViewBag.Title = TTCMS.Resources.Resources.Teams;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("AboutUsIndex")">
            <p>@Resources.AboutUs</p>
        </a>
        <a class="menu " href="@Url.Action("EnterpriseValue")">
            <p>@Resources.EnterpriseValue</p>
        </a>
        <a class="menu " href="@Url.Action("DevelopmentMilestones")">
            <p>@Resources.DevelopmentMilestones</p>
        </a>
        <a class="menu active" href="@Url.Action("Teams")">
            <p>@Resources.Teams</p>
        </a>
        <a class="menu " href="@Url.Action("BranchNetwork")">
            <p>@Resources.BranchNetwork</p>
        </a>
        <a class="menu " href="@Url.Action("ProfileTVSI")">
            <p>@Resources.ProfileTVSI</p>
        </a>
    </div>
    <div class="menu-default pc">
        <div class="container">
            <div class="menu">
                <a href="@Url.Action("AboutUsIndex")">@Resources.AboutUs</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("EnterpriseValue")">@Resources.EnterpriseValue</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("DevelopmentMilestones")">@Resources.DevelopmentMilestones</a>
            </div>
            <div class="menu active">
                <a href="@Url.Action("Teams")">@Resources.Teams</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("BranchNetwork")">@Resources.BranchNetwork</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("ProfileTVSI")">@Resources.ProfileTVSI</a>
            </div>
        </div>
    </div>

    <div class="divider">
        <hr>
    </div>

    <div class="about about-4">
        <div class="container">
            <div class="title-default">
                <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                <h2>@Resources.Boards</h2>
            </div>
            <div class="members">
                <div class="member">
                    @Html.Raw(Resources.NguyenTienThanh)
                    <div class="info">
                        <img data-src="/webroot/images/members/nguyen-tien-thanh.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.NguyenTienThanhInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.NguyenVietCuong)
                    <div class="info">
                        <img data-src="/webroot/images/members/nguyen-viet-cuong.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.NguyenVietCuongInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.LeThanhTung)
                    <div class="info">
                        <img data-src="/webroot/images/members/le-thanh-tung.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.LeThanhTungInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.TranVietDuc)
                    <div class="info">
                        <img data-src="/webroot/images/members/tran-viet-duc.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.TranVietDucInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.BuiThiThanhHien)
                    <div class="info">
                        <img data-src="/webroot/images/members/bui-thi-thanh-hien.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.BuiThiThanhHienInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.TaMinhPhuong)
                    <div class="info">
                        <img data-src="/webroot/images/members/ta-minh-phuong.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.TaMinhPhuongInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.TranThiCamHanh)
                    <div class="info">
                        <img data-src="/webroot/images/members/tran-thi-cam-hanh.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.TranThiCamHanhInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.NguyenTrungDu)
                    <div class="info">
                        <img data-src="/webroot/images/members/nguyen-trung-du.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.NguyenTrungDuInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.PhamThiNgocLan)
                    <div class="info">
                        <img data-src="/webroot/images/members/pham-thi-lan-ngoc.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.PhamThiNgocLanInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.NguyenBichVan)
                    <div class="info">
                        <img data-src="/webroot/images/members/nguyen-bich-van.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.NguyenBichVanInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.NguyenThiBichNgoc)
                    <div class="info">
                        <img data-src="/webroot/images/members/nguyen-thi-bich-ngoc.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.NguyenThiBichNgocInfo)
                        </ul>
                    </div>
                </div>
                <div class="member">
                    @Html.Raw(Resources.LeDacAn)
                    <div class="info">
                        <img data-src="/webroot/images/members/le-dac-an.png" alt="TVSI" class="lazyload">
                        <ul>
                            @Html.Raw(Resources.LeDacAnInfo)
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title-default">
                <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                <h2>@Resources.OrgStructure</h2>
            </div>
            <img data-src="@Html.Raw(Resources.OrgChartsImgPath)" alt="TVSI" class="lazyload organization">
        </div>
    </div>
</section>

@section scripts {
<script type="text/javascript">
  
$(document).ready(function() {
    $('.vertical-scrolling').scrollLeft(240)
})
</script>
}