﻿@using PagedList;
@using PagedList.Mvc;
@model TTCMS.Web.Areas.TT_Admin.Models.CategoryTableViewModel

<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }
</style>

@if (Model.ModelList.Any())
{
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@TTCMS.Resources.Resources.CategoryName</th>
                <th class="hidden-480">@TTCMS.Resources.Resources.Description</th>
                <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    @TTCMS.Resources.Resources.Created
                </th>
                <th class="hidden-480">@TTCMS.Resources.Resources.Status</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.CategoryId">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.CategoryId">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Name))
                        {
                            foreach (var categoryItem in item.CategoryItems)
                            {
                                <a class="d-block category__name" href="@Url.Action("Edit", new { Id = categoryItem.Id })">
                                    <b>@categoryItem.Language.Name:</b> @categoryItem.Name
                                </a>
                            }
                        }
                        else
                        {
                            <span>@item.Name</span>
                        }
                    </td>
                    <td class="hidden-480">@item.Description</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                    <td class="hidden-480">
                        @if (item.IsActive == true)
                        {
                            <span class="label label-sm label-success arrowed arrowed-right">
                                <i class="fa fa-unlock"></i> Active
                            </span>
                        }
                        else
                        {
                            <span class="label label-sm label-danger arrowed arrowed-right">
                                <i class="fa fa-unlock-alt"></i> NotActive
                            </span>
                        }
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <div class="dropdown">
                                <button class="btn btn-xs btn-info dropdown-toggle" type="button" id="btn-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.EditText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var categoryItem in item.CategoryItems)
                                    {
                                        <li>
                                            <a href="@Url.Action("Edit", new { Id = categoryItem.Id })">
                                                @categoryItem.Language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="btn-add-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.CreateLanguageText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var language in Model.Languages.Where(lang => !item.CategoryItems.Any(categoryItem => categoryItem.Language.Id == lang.Id)))
                                    {
                                        <li>
                                            <a href="@Url.Action("Create", new { id = item.CategoryId, languageId = language.Id })">
                                                @language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @Ajax.ActionLink(
                                TTCMS.Resources.Resources.DeleteText,
                                "Delete",
                                new { Id = item.CategoryId },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Delete",
                                    Confirm = TTCMS.Resources.Resources.ConfirmText,
                                    UpdateTargetId = @item.CategoryId.ToString(),
                                    OnSuccess = "onSuccess"
                                },
                                new
                                {
                                    @class = "btn btn-xs btn-danger DeleteDialog",
                                    @title = TTCMS.Resources.Resources.DeletePost
                                }
                            )
                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info" href="@Url.Action("Edit", new {Id = item.CategoryId })">
                                            @TTCMS.Resources.Resources.EditText
                                        </a>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.CategoryId },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.CategoryId.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}