﻿<span><strong>Slug:</strong></span>
<span class="url-text url-edit-value">@ViewBag.Slug</span>
<span><a style="padding: 0 3px;" onclick="URL_Edit('edit');" href="#" class="btn btn-white btn-sm btn-primary url-text"> @TTCMS.Resources.Resources.EditText</a></span>
<span class="url-edit" style="display:none">
<input type="text" value="@ViewBag.Slug" style="height: 20px; padding: 0 2px;width:auto" name="Route" id="Route" class="url-edit-save"></span>
<span><a style="padding: 0 3px;display:none" onclick="URL_Edit('save');" href="#" class="btn btn-white btn-sm btn-primary url-edit">@TTCMS.Resources.Resources.SaveText</a></span>

