﻿@using TTCMS.Data.Entities;
@model  TTCMS.Web.ViewModels.CategoryViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.CreateNewsCateText;
    bool isEditPage = Model.CategoryId > 0;
    string thumbnail = string.IsNullOrEmpty(Model.Thumbnail) ? "/Content/images/add-image.jpg" : Model.Thumbnail;
}

<style>
    .d-none {
        display: none;
    }

    input[type=checkbox].category-checkbox {
        margin-top: 12px;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">@TTCMS.Resources.Resources.NewsCateList</a>
                </li>
                <li class="active">@(isEditPage ? TTCMS.Resources.Resources.EditNewsCatetext : TTCMS.Resources.Resources.CreateNewsCateText)</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(isEditPage ? "Edit" : "Create", "NewsCateManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.CategoryId)
                    @Html.HiddenFor(x => x.CategoryItem.Id)
                    @Html.HiddenFor(x => x.CategoryItem.Slug)
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.CategoryName </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.CategoryItem.Name, new { @class = "col-xs-10 col-sm-7 get-slug", @placeholder = TTCMS.Resources.Resources.CategoryName })
                                @Html.ValidationMessageFor(model => model.CategoryItem.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Slug</label>
                            <div class="col-sm-9" style="padding-top: 8px">
                                <span id="SlugText">/category/@(Model.CategoryItem.Slug)</span>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.CategoryItem.Description, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.Description })
                                @Html.ValidationMessageFor(model => model.CategoryItem.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="CategoryItem_IsRedirect"> @TTCMS.Resources.Resources.IsRedirect </label>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(x => x.CategoryItem.IsRedirect, new { @class = "category-checkbox", @placeholder = TTCMS.Resources.Resources.IsRedirect })
                                @Html.ValidationMessageFor(model => model.CategoryItem.IsRedirect, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group" id="redirectUrl" style="@(Model.CategoryItem.IsRedirect ? "" : "display:none")">
                            <label class="col-sm-3 control-label no-padding-right"> @TTCMS.Resources.Resources.RedirectUrl </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.CategoryItem.RedirectUrl, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.RedirectUrl })
                                @Html.ValidationMessageFor(model => model.CategoryItem.RedirectUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="CategoryItem_IsInNewsList"> @Html.Raw(TTCMS.Resources.Resources.IsInNewsList) </label>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(x => x.CategoryItem.IsInNewsList, new { @class = "category-checkbox" })
                                @Html.ValidationMessageFor(model => model.CategoryItem.IsInNewsList, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-9">
                                <div class="col-md-5">
                                    @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index")
                                </div>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    @if (isEditPage)
                                    {
                                        @TTCMS.Resources.Resources.btnUpdateSubmit
                                    }
                                    else
                                    {
                                        @TTCMS.Resources.Resources.btnCreateSubmit
                                    }
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @TTCMS.Resources.Resources.btnReset
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="widget-box" style="overflow:hidden">
                            <div class="widget-header">
                                <h4 class="widget-title">@TTCMS.Resources.Resources.Option</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div style="padding-top: 10px;" class="form-group">
                                        <div class="col-xs-12">
                                            <label class="ace-file-input ace-file-multiple">
                                                <span class="ace-file-container hide-placeholder selected">
                                                    <span data-title="Ảnh đại diện" class="ace-file-name large" id="ThumbnailContainer">
                                                        @Html.HiddenFor(x => x.Thumbnail)
                                                        <img id="Image" class="middle" style="max-width:250px;max-height:250px;min-height:200px;" src="@thumbnail">
                                                        <i class=" ace-icon fa fa-picture-o file-image"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.ActiveText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4"> @TTCMS.Resources.Resources.SortText </label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.TextBoxFor(x => x.Order, new { @class = "col-xs-10 col-sm-4", @placeholder = TTCMS.Resources.Resources.SortText })
                                                <div class="space-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">Icon</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-12">
                                                    @Html.HiddenFor(x => x.Icon)
                                                    <button type="button" id="BtnIcon">
                                                        <img id="Icon" class="middle @(string.IsNullOrEmpty(Model.Icon) ? "d-none" : "")" height="38" src="@Model.Icon">
                                                        <i class="ace-icon fa fa-picture-o file-image @(string.IsNullOrEmpty(Model.Icon) ? "" : "d-none")"></i>
                                                    </button>
                                                </div>
                                                <div class="space-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.ShowText</label>
                                            <div class="controls col-xs-12 col-sm-8">
                                                <div class="row">
                                                    @Html.DropDownListFor(model => model.Target,
                                                         new List<SelectListItem>()
                                                            {
                                                            new SelectListItem { Text = TTCMS.Resources.Resources.self, Value = "_self" },
                                                            new SelectListItem { Text = TTCMS.Resources.Resources.blank,  Value = "_blank" },
                                                            }, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Target", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.LanguageText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.CategoryItem.Language.Id, (SelectList)Model.Lang, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.DrpCategories != null)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.Category</label>
                                            <div class="controls col-xs-12 col-sm-8">
                                                <div class="row">
                                                    @Html.DropDownListFor(
                                                        model => model.ParentID,
                                                        Model.DrpCategories,
                                                        TTCMS.Resources.Resources.RootCategory,
                                                        new { @class = "form-control" }
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">Layout</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(
                                                    model => model.Layout,
                                                    Model.DrpLayouts,
                                                    new { @class = "form-control" }
                                                )
                                                <img class="category__layout-thumbnail @(Model.Layout == CategoryLayout.Grid ? "" : "d-none")" id="CategoryLayout@((int)CategoryLayout.Grid)" src="~/asset/tvsi/images/category-layout-1.jpg" width="200" />
                                                <img class="category__layout-thumbnail @(Model.Layout == CategoryLayout.FeaturedPostGrid ? "" : "d-none")" id="CategoryLayout@((int)CategoryLayout.FeaturedPostGrid)" src="~/asset/tvsi/images/category-layout-2.jpg" width="200" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script>
        window.onload = function () {

            $("#CategoryItem_IsRedirect").on('change', function () {
                toggleRedirectUrlBlock(this.checked);
            });

            $("#ThumbnailContainer").on("click", function () {
                BrowseServer(handleSelectAction);
            });

            $('#BtnIcon').on("click", function () {
                BrowseServer(handleSelectIconAction);
            });

            $('#Order')
                .ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
                .closest('.ace-spinner')
                .on('changed.fu.spinbox', function () { });

            $("#CategoryItem_Name")
                .on("change", function () {
                    $.get("@(Url.Action("GetSlug"))?val=" + this.value)
                        .done(function (slug) {
                            $("#CategoryItem_Slug").val(slug);
                            $("#SlugText").html(slug);
                        });
                });

            $('#Layout')
                .on("change", function () {
                    console.log(this.value);
                    const id = 'CategoryLayout' + this.value;
                    $('.category__layout-thumbnail').each((index, item) => {
                        $(item).toggleClass('d-none', item.id !== id);
                    })
                });
        }

        function toggleRedirectUrlBlock(isChecked) {
            if (isChecked) {
                $("#redirectUrl").css("display", "block");
            }
            else {
                $("#redirectUrl").css("display", "none");
            }
        }

        function handleSelectIconAction(fileUrl) {
            $('#Icon').val(fileUrl);
            $('#BtnIcon i').addClass('d-none');
            $('#BtnIcon img').removeClass("d-none").attr("src", fileUrl);
        }

        function handleSelectAction(fileUrl) {
            $('#Thumbnail').val(fileUrl);
            $('#Image').attr("src", fileUrl);
            console.log(fileUrl)
        }

        function URL_Edit(type) {
            if (type == "edit")
            {
                $(".url-text").css("display", "none");
                $(".url-edit").css("display", "block");
            }
            else if (type == "save")
            {
                var value = $(".url-edit-save").val();
                $(".url-edit-value").text(value);
                $(".url-text").css("display", "block");
                $(".url-edit").css("display", "none");
            }
        }
    </script>
}