﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webroot/images/logo/favicon.svg" type="image/x-icon" rel="icon">
    <link href="/webroot/images/logo/favicon.svg" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/webroot/css/swiper-bundle.min.css" />
    <script src="~/webroot/js/swiper-bundle.min.js"></script>
    <script src="~/webroot/js/jquery-3.6.0.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
    <link href="~/webroot/js/bootstrap-autocomplete.min.js" rel="Stylesheet">
    <link href="~/webroot/css/main.css" rel="stylesheet" />
    <link href="~/webroot/css/about_us.css" rel="stylesheet" />
    <link href="~/webroot/css/faq.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/header.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/block-questions.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/question-form.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/search-index.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/search-category.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/search-quick-actions.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/question-page.css" rel="stylesheet" />
    <link href="~/webroot/css/faq/category-page.css" rel="stylesheet" />
    @* <link href="~/webroot/css/faq/search-question.css" rel="stylesheet" /> *@
    <link href="~/webroot/css/jquery-ui.css" rel="Stylesheet">
    <script src="~/webroot/js/swiper-bundle.min.js"></script>
    @* <script src="~/webroot/js/jquery-3.6.0.min.js"></script> *@
    <link type="text/css" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    @* <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> *@
    <link rel="stylesheet" type="text/css" href="~/webroot/css/jquery-social-share-bar.css">
    <script type="text/javascript" src="~/webroot/js/jquery-social-share-bar.js"></script>
    <script type="text/javascript" id="stringeeXChatWidget" src="https://v2.stringee.com/stringeexchat/sdk/product/StringeeXChatBox-2.0.2.js?key=REMvTGEwckZwZWdsbTE2YTFNS1VFZz09&showBot=1&route=&showroute=1"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDFHL9RJQ2">
    </script>
    <script>
        window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-ZDFHL9RJQ2');
    </script>
    @RenderSection("MetaTags", required: false)
</head>

    <body>
        <div class="main">
            @Html.Action("FAQHeader", "FAQ")
            <main>
                @RenderBody()
            </main>
            @Html.Action("BotMenu", "FAQ")
        </div>
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/main")
        @Scripts.Render("~/bundles/faq")
        @* <script src="/webroot/js/main.js"></script> *@
        <script src="~/webroot/js/jquery-ui-1.12.1.js"></script>
        <style>
            * {
                font-family: "Lato-Regular";
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "Lato-Regular";
            }

            .stringeeX_chatbox_iframe_wrapper {
                bottom: 30px !important;
                right: 19px !important;
            }

                .stringeeX_chatbox_iframe_wrapper.full-open {
                    bottom: 630px;
                    right: 19px;
                    z-index: 9;
                }

            @@media (min-width: 768px) {
                .pc-d-none {
                    display: none !important;
                }
            }

            @@media (max-width: 767.98px) {
                .stringeeX_chatbox_iframe_wrapper {
                    display: none !important;
                }

                .mb-d-none {
                    display: none !important;
                }
            }

            @@media only screen and (min-device-width: 280px) and (max-device-width: 1024px) and (orientation: portrait) {
                .stringeeX_chatbox_iframe_wrapper {
                    display: none !important;
                }
            }

            @@media only screen and (min-device-width: 280px) and (max-device-width: 1024px) and (orientation: landscape) {
                .stringeeX_chatbox_iframe_wrapper.full-open {
                    width: 40% !important;
                    height: 40% !important;
                    margin-bottom: 0;
                    margin-right: 0;
                }

                .stringeeX_chatbox_iframe_wrapper {
                    display: none !important;
                }
            }
        </style>
        <style>
            main {
                background-color: #FAFAFA;
            }

            @@keyframes float {
                0% {
                    -webkit-transform: translatey(0px);
                    -ms-transform: translatey(0px);
                    transform: translatey(0px);
                }

                50% {
                    -webkit-transform: translatey(40px);
                    -ms-transform: translatey(40px);
                    transform: translatey(40px);
                }

                100% {
                    -webkit-transform: translatey(0px);
                    -ms-transform: translatey(0px);
                    transform: translatey(0px);
                }
            }

            .floatingCharacter {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
                -webkit-transform: translatey(0px);
                -ms-transform: translatey(0px);
                transform: translatey(0px);
                -webkit-animation: float 6s ease-in-out infinite;
                animation: float 6s ease-in-out infinite;
            }

            @@media (max-width: 767.98px) {
                .floatingCharacter {
                    height: 200px;
                }
            }
        </style>
    </body>
</html>