@model TTCMS.Web.ViewModels.FAQTopicViewModel

<a href="/SearchCategory?topicId=@Model.Id"><h1>@Model.TopicName</h1></a>
<div class="subTopics">
    @if(Model.SubTopics != null && Model.SubTopics.Count > 0)
    {
        foreach(var subTopic in Model.SubTopics)
        {
            <a href="/SearchCategory?topicId=@subTopic.Id">@subTopic.TopicName</a>
        }
    }
</div>
