﻿@model TTCMS.Web.Areas.TT_Admin.Models.AjaxAlertViewModel
<div class="container" id="admin_alert">

    <div class="alert @Model.Code alert-dismissable">
        <button type="button" class="close toast-close-button" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Model.Msg
    </div>
</div>


