﻿<div class="BlockVideo">
    <div class="col-md-12 VideoTitle">
        <span class="spanTitle">@TTCMS.Resources.Resources.FAQBlockVideoTitle</span>
    </div>
    <div class="col-md-12 VideoTitle">
        <div class="ContentTitle">
            <button 
                class="ButtonYoutube" 
                onclick="window.open('https://www.youtube.com/channel/UCo_gSghFsyBaCyvNg8mhDWg')">
                @TTCMS.Resources.Resources.FAQButtonYoutube
            </button>
        </div>
    </div>
    <div class="col-md-12 VideoContent">
        <img class="videoImg floatingCharacter" src="~/webroot/images/faq/human.png"/>
        <div class="iframe">
            <iframe 
                class="FAQvideo-content" 
                src="https://www.youtube.com/embed/YK6OMxtbCZw" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
            ></iframe>
        </div>
        <img class="imgPlant floatingCharacter" src="~/webroot/images/faq/Plant.png" />
    </div>
</div>