﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel
<div class="QuestionContainer">
    <div class="QuestionBody">
        <div class="title">
            <h1>Câu hỏi mới nhất</h1>
        </div>
        <div class="questionList-mobile">
            <div class="btnprev">
                <i class="fa fa-chevron-left fa-2x"></i>
            </div>
            <div class="swiper questionMobileSwiper">
                <div class="swiper-button-prev">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <div class="swiper-wrapper">
                    @if(Model.Latest.Count > 0)
                    {
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="swiper-slide">
                                <h2 class="question-title">@Model.Latest[i].QuestionName</h2>
                                @if(!string.IsNullOrEmpty(Model.Latest[i].ContentBrief))
                                {
                                    <p class="text">@Model.Latest[i].ContentBrief</p>
                                }
                                <div class="popularity">
                                    <p class="text">Mức độ quan tâm</p>
                                    <div class="stars">
                                        @for(int j = 0; j < 5; j++)
                                        {
                                            <img src="/webroot/images/icon/star.svg" alt="" class="star">
                                        }
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="left">
                                        @Model.Latest[i].CreatedDate.ToString("dd/MM/yyyy")
                                    </div>
                                    <a href="/QuestionPage?id=@Model.Latest[i].Id" class="right reply">
                                        Trả lời
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    <div class="swiper-slide question questionSlide write">
                        <div class="plusIcon">
                            <img src="~/webroot/images/faq/plus_icon.svg" alt="">
                        </div>
                        <h2 class="question-title">Viết câu hỏi mới</h2>
                        <p class="text">Bạn có thể viết bất kì câu hỏi nào nếu Bạn không hiểu.</p>
                    </div>
                </div>
                <div class="swiper-button-next">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>
            <div class="btnnext">
                <i class="fa fa-chevron-right fa-2x"></i>
            </div>
        </div>
        <div class="questionList">
            <div class="question write">
                <div class="plusIcon">
                    <img src="~/webroot/images/faq/plus_icon.svg" alt="">
                </div>
                <h2 class="question-title">Tạo câu hỏi mới</h2>
            </div>
            @if (Model.Latest != null && Model.Latest.Count > 0)
            {
                for (int i = 0; i < 3; i++)
                {
                    <a class="question" href="/QuestionPage?id=@Model.Latest[i].Id">
                        <h2 class="question-title">@Model.Latest[i].QuestionName</h2>
                        @if(!string.IsNullOrEmpty(Model.Latest[i].ContentBrief)) {
                            <p class="text">@Model.Latest[i].ContentBrief</p>
                        }
                        <div class="popularity">
                            <p class="text">Mức độ quan tâm</p>
                            <div class="stars">
                                @for(int j = 0; j < 5; j++)
                                {
                                    <img src="/webroot/images/icon/star.svg" alt="" class="star">
                                }
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="left">
                                @Model.Latest[i].CreatedDate.ToString("dd/MM/yyyy")
                            </div>
                            <div href="/QuestionPage?id=@Model.Latest[i].Id" class="right reply">
                                Trả lời
                            </div>
                        </div>
                    </a>
                }
                
            }
        </div>
    </div>
</div>
<style>
    
.QuestionContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    width: 100%;
    padding: 150px 0 150px;
    background-color: rgba(237,28,36, 0.1);
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg);
}
.QuestionBody {
    -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
            transform: skewY(-2deg); 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    width: 100%;
}

.QuestionContainer h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 7.7rem;
    color: #000000;
    margin-bottom: 8.88vh;
    font-family: "Lato-Bold";
}
.QuestionContainer .questionList { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 0 50px;
}
.QuestionContainer .questionList {
    position: relative;
}
.QuestionContainer .questionList .question.write {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    background-color: #fff;
    margin-right: 50px;
    gap: 20px;
}
.QuestionContainer .questionList .question.write .plusIcon {
    background-color: rgba(237,28,36, 0.1);
    mix-blend-mode: normal;
    height: 10rem;
    width: 10rem;
    border-radius: 50%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-justify-content: center;
}
.QuestionContainer .questionList .question.write .plusIcon:hover {
    cursor: pointer;
}
.QuestionContainer .questionList .question.write .plusIcon img {
    opacity: 1.0;
}

.QuestionContainer a.seeMore {
    margin-top: 6.3vh;
    cursor: pointer;
    color: #3838BF;
}
@@media screen and (min-width: 1024px) and (max-width: 1365.98px) {
    .QuestionContainer {
        padding-top: 100px;
    }
    .QuestionContainer .questionList {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    }
    .question {
        max-width: auto;
        width: 45%;
        height: 300px;
    }
}
@@media (max-width: 1023.98px) {
    .QuestionContainer {
        height: 540px;
        padding-top: 47px;
    }
    .QuestionContainer h1 {
        margin-bottom: 6.4rem;
    }
    .QuestionContainer .questionList .question.mb-d-none {
        display: none;
    }
    .QuestionContainer .questionList { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .QuestionContainer .title h1 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 4.8rem;
    }
    .QuestionContainer .questionList .question h2.question-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #171725;
    }
    .QuestionContainer .questionList .question p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: 0.1px;
        color: #92929D;
    }
    .QuestionContainer a.seeMore {
        margin-top: 3.3rem;
    }
}

.QuestionContainer .QuestionBody .swiper {
    width: 80vw;
    height: 300px;
}
.QuestionContainer .QuestionBody .swiper-wrapper {
    width: 80vw;
    max-width: 400px;
    height: 300px;
    border-radius: 20px;
}
.QuestionContainer .QuestionBody .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 41px 20px 30px;
    border-radius: 20px;
}
.QuestionContainer .QuestionBody .swiper-slide h2 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
    text-align: left;
}
.QuestionContainer .QuestionBody .swiper-slide p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #92929D;
}

.QuestionContainer .QuestionBody .swiper-slide .popularity {
    text-align: left;
}
.QuestionContainer .QuestionBody .swiper-slide .bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.popularity .stars {
    display: flex;
    gap: 6px;
}
.popularity .stars .star {
    width: 24px;
    height: 24px;
}
.bottom {
    display: flex;
    justify-content: space-between;
}
.bottom .left {
    display: flex;
    color: #B5B5BE;
    align-items: center;
}
.bottom .left img.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: -5px;
}
.bottom .left img.avatar:last-child{
    margin-left: 0;
}

.bottom .right.reply {
    background: #ED1C24;
    border: 1px solid #E81F28;
    border-radius: 6px;
    padding-top: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    width: 100px;
    height: 28px;
    color: #fff;
    cursor: pointer;
}
.questionList-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.swiper-button-next, .swiper-button-prev {
    display: none;
}
@@media (max-width: 1023.98px){
    .QuestionContainer .questionList {
        display: none;
        visibility: hidden;
    }
}
@@media (min-width: 1024px){
    .questionList-mobile {
        display: none;
    }
    .question:not(:last-child) {
        margin-right: 50px;
    }
    .QuestionContainer .questionList-mobile .question.write {
        margin-left: 50px;
    }
}
@@media (min-width: 1024px) and (max-width: 1499.98px) {
	.question {
        flex: 1 0 20%;
    }
}
@@media (min-width: 1500px){
	.question {
        flex: 1 0 20%;
    }
}
@@media (min-width: 1024px){
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.question {
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 46px 19px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
.question:hover {
    background: #FAFAFA;
    transition: 0.3s all;
}
.question h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #171725;
    font-family: "Lato-Bold";
}
.question button.reply {
    background: #ED1C24;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 28px;
}
.question p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0.1px;
    color: #B5B5BE;
    font-family: "Lato-Regular";
}
.btnnext, .btnprev {
    color: #E81F28;
}
.QuestionContainer .questionList-mobile .question.write {
    align-items: center;
    background-color: #fff;
}
.QuestionContainer .questionList-mobile .question.write .plusIcon {
    background-color: rgba(255, 197, 66, 0.1);
    mix-blend-mode: normal;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.QuestionContainer .questionList-mobile .question.write .plusIcon:hover {
    cursor: pointer;
}
.QuestionContainer .questionList-mobile .question.write .plusIcon img {
    opacity: 1.0;
}
</style>
<script>
    var swiper = new Swiper(".QuestionContainer .QuestionBody .swiper.questionMobileSwiper", {
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    }); 
    $(document).ready(function() {
        $(".btnnext").click(function(e) {
            $(".swiper-button-next").click()
        })
        $(".btnprev").click(function(e) {
            $(".swiper-button-prev").click()
        })
    })
</script>


