﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel

<div class="BlockCategory">
    <div class="CategoryTitle">
        <span class="spanTitle">@TTCMS.Resources.Resources.FAQBlockCategoryTitle</span>
    </div>
    <div class="CategoryContent">
        @if(Model.HomeTopics != null && Model.HomeTopics.Count > 0)
        {
            for(int i = 0; i < Model.HomeTopics.Count; i++)
            {
                <a href="/SearchCategory?topicId=@Model.HomeTopics[i].Id" class="blockContent @(i < 4 ? "firstRow" : "secondRow")" id="blockCotent-@Model.HomeTopics[i].Id">
                    <img src="https://beta.tvsi.com.vn\@Model.HomeTopics[i].ImageUrl"/>
                    <span class="titleCategory">@Model.HomeTopics[i].TopicName</span>
                </a>
            }
        }
    </div>
</div>
<script>
    var isExpanded = false;
    var currentExpandRow = "";
</script>
<style>
    .expandedContent {
        border: solid 1px #DCDCDC;
        border-radius: 20px;
        padding: 10px;
        display: none;
        width: 100%;
    }
</style>

