﻿@model TTCMS.Data.Entities.Menu[]
@using TTCMS.Resources
<footer>
    <div class="contact-fixed">
        <ul>
            <li>
                <a target="_blank" href="https://m.me/tvsi.com.vn"> 
                    <img src="/webroot/images/icon/mess_icon.png" alt="" class="lazyload">
                </a>
            </li>
            <li>
                <a target="_blank" href="https://zalo.me/2591116426381964836">
                    <img src="/webroot/images/icon/zalo_icon.png" alt="" class="lazyload">
                </a>
            </li>
        </ul>
    </div>
    <div class="pc">
        <div class="bg-red">
            <div class="container">
                <div class="top">
                    <div class="left">
                        <img data-src="@Html.Raw(Resources.LogoFooter)" alt="TVSI" class="lazyload">
                    </div>
                    <div class="right">
                        <a class="mail" href="mailto:contact@tvsi.com.vn" target="_blank">
                            <img data-src="/webroot/images/icon/footer/mail.svg" alt="Mail" class="lazyload">
                            <span>contact@tvsi.com.vn</span>
                        </a>
                        <a href="tel:19001885" target="_blank">
                            <img data-src="/webroot/images/icon/footer/phone.svg" alt="Phone" class="lazyload">
                            <span>1900 1885</span>
                        </a>
                        <a href="https://www.facebook.com/tvsi.com.vn/" target="_blank">
                            <img data-src="/webroot/images/home-new/facebook.svg" alt="FB" class="lazyload">
                        </a>
                        <a class="zalo">
                            <img data-src="/webroot/images/home-new/zalo.svg" alt="Zalo" class="lazyload">
                            <span class="qr">
                                <img data-src="/webroot/images/ZaloQR.png" alt="Zalo" class="lazyload">
                            </span>
                        </a>
                        <a href="https://www.youtube.com/channel/UCo_gSghFsyBaCyvNg8mhDWg" target="_blank">                            
                            <img data-src="/webroot/images/home-new/youtube.svg" alt="Youtube" class="lazyload">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-purple">
            <div class="container address">
                <h3>@TTCMS.Resources.Resources.BranchNetwork</h3>
                <table class="branch">
                    <thead>
                        <tr>
                            <th>@TTCMS.Resources.Resources.HeadQuarters</th>
                            <th>@Resources.MyDinhBranch</th>
                            <th>@Resources.ThangLongBranch</th>
                            <th>@Resources.NgocKhanhBranch</th>
                            <th>@Resources.HaiPhongBranch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Resources.HQLocation<br>
                                Fax: 024 3728 0920<br>
                                Email: contact@tvsi.com.vn
                            </td>
                            <td>
                                @Resources.MyDinhLocation<br>
                                Fax: 024. 3792 5180
                            </td>
                            <td>
                                @Resources.ThangLongLocation<br>
                                Fax: 024 3717 3250
                            </td>
                            <td>
                                @Resources.NgocKhanhLocation<br>
                                Fax: 024. 3237 3092
                            </td>
                            <td>
                                @Resources.HaiPhongLocation<br>
                                Fax: 0225. 3757560
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="branch">
                    <thead>
                        <tr>
                            <th>@Resources.DaNangBranch</th>
                            <th>@Resources.QuyNhonBranch</th>
                            <th>@Resources.HCMBranch</th>
                            <th class="opacity-0"></th>
                            <th class="opacity-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Resources.DaNangLocation<br>
                                Fax: 0236. 3752283<br>
                            </td>
                            <td>
                                @Resources.QuyNhonLocation<br>
                                Fax: 0256. 3818 820
                            </td>
                            <td>
                                @Resources.HCMLocation<br>
                                Fax: 028. 3920 7542
                            </td>
                            <td class="opacity-0"></td>
                            <td class="opacity-0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-black">
            <div class="container">
                <div class="content">
                    <div class="left">
                        <p>
                            @Resources.Copyright | <a href="/page/khuyen-cao">@Resources.Disclaimers</a>
                        </p>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sp">
        <div class="bg-red">
            <div class="container">
                <div class="contact">
                    <div class="left">
                        <a href="mailto:contact@tvsi.com.vn">
                            <img data-src="/webroot/images/icon/footer/mail.svg" alt="Mail" class="lazyload">
                            <span>contact@tvsi.com.vn</span>
                        </a>
                        <a href="tel:19001885">
                            <img data-src="/webroot/images/icon/footer/phone.svg" alt="Phone" class="lazyload">
                            <span>1900 1885</span>
                        </a>
                    </div>
                    <div class="right">
                        <a href="https://www.facebook.com/tvsi.com.vn/" target="_blank">
                            <img data-src="/webroot/images/home-new/facebook.svg" alt="FB" class="lazyload">
                        </a>
                        <a class="zalo" href="https://zalo.me/2591116426381964836">
                            <img data-src="/webroot/images/home-new/zalo.svg" alt="Zalo" class="lazyload">
                        </a>
                        <a href="https://www.youtube.com/channel/UCo_gSghFsyBaCyvNg8mhDWg" target="_blank">                            
                            <img data-src="/webroot/images/home-new/youtube.svg" alt="Youtube" class="lazyload">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-purple">
            <div class="container address">
                <h3>@Resources.BranchNetwork</h3>
                <table>
                    <thead>
                        <tr>
                            <th>@Resources.HeadQuarters</th>
                            <th>@Resources.MyDinhBranch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Resources.HQLocation<br>
                                Fax: 024 3728 0920<br>
                                Email: contact@tvsi.com.vn
                            </td>
                            <td>
                                @Resources.MyDinhLocation<br>
                                Fax: 024. 3792 5180
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>@Resources.ThangLongBranch</th>
                            <th>@Resources.NgocKhanhBranch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Resources.ThangLongLocation<br>
                                Fax: 024 3717 3250
                            </td>
                            <td>
                                @Resources.NgocKhanhLocation<br>
                                Fax: 024. 3237 3092
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>@Resources.HaiPhongBranch</th>
                            <th>@Resources.DaNangBranch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Resources.HaiPhongLocation<br>
                                Fax: 0225. 3757560
                            </td>
                            <td>
                                @Resources.DaNangLocation<br>
                                Fax: 0236. 3752283
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>@Resources.QuyNhonBranch</th>
                            <th>@Resources.HCMBranch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Resources.QuyNhonLocation<br>
                                Fax: 0256. 3818 820
                            </td>
                            <td>
                                @Resources.HCMLocation<br>
                                Fax: 028. 3920 7542
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-black">
            <div class="container">
                <p>
                    @Resources.Copyright | <a href="/page/khuyen-cao">@Resources.Disclaimers</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<style>
    table.branch {
        max-width: 100% !important;
    }
    @@media only screen and (min-device-width: 280px) and (max-device-width: 1024px) and (orientation: landscape) {
        footer .contact-fixed {
            display: none;
        }
    }
    .container.address h3, .container.address th {
        text-transform: uppercase;
    }
    .container {
        max-width: 100%;
        padding-left: 180px;
        padding-right: 180px;
    }
    @@media (max-width: 1024px) {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>