﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel
@using TTCMS.Resources

<header class="faq-header">
    <div class="faq-header-row">
        <div class="left">
            <a href="/">
                <img src="/webroot/images/logo/logo-faq.svg" alt="Logo" />
            </a>
        </div>
        <div class="right">
            <button onclick=onAskingQuestionClick()>@TTCMS.Resources.Resources.AskQuestions</button>
            <div class="phone">
                <a href="tel:19001885" class="hotline">
                    <img src="/webroot/images/home-new/phone.svg">
                    <p>1900 1885</p>
                </a>
            </div>
        </div>
    </div>
    <img src="/webroot/images/faq/cloud.svg" class="mb-d-none" style="width: 45px;">
    <div class="faq-header-col">
        <div class="bannerContainer">
            <img id="banner" src="/webroot/images/faq/banner.svg" alt="">
            <div class="floatingContainer dp-none">
                <img class="bannerCharacter floatingCharacter" src="/webroot/images/faq/cha1.svg" alt="">
                <img class="bannerCharacter middleCharacter floatingCharacter"src="/webroot/images/faq/cha2.svg" alt="">
                <img class="bannerCharacter floatingCharacter"src="/webroot/images/faq/cha3.svg" alt="">
            </div>
        </div>
        <div class="headerWelcomeContainer">
            <p class="mb-d-none">Chào mừng Bạn đến với <span>Trung tâm hỗ trợ</span> của TVSI</p>
            <p class="pc-d-none">Chào mừng Bạn đến với <span>Trung tâm hỗ trợ</span><br/> của TVSI</p>
            <h1>Chúng tôi có thể <br/> giúp gì cho Bạn?</h1>
            <div class="inputContainer">
                <span class="input-icon">
                    <input type="text"
                            autocomplete="off"
                            id="faqSearchInput"
                            name="keyword"
                            class="nav-search-input"
                            placeholder="@TTCMS.Resources.Resources.EnterKeywordText">
                    <button class="searchIconButton" onclick=SearchKeyword()>
                        <i class="ace-icon fa fa-search fa-2x nav-search-icon"></i>
                    </button>
                </span>
                <small class="input-error">Vui lòng nhập từ khoá</small>
            </div>
            <div class="quick-search">
                <div class="left">
                    <p>Tìm kiếm nhanh</p>
                </div>
                <div class="chips">
                    @if (Model.QuickSearches != null && Model.QuickSearches.Count > 0)
                    {
                        foreach (var item in Model.QuickSearches)
                        {
                            <a href="/SearchQuestion?keyword=@item">
                                <span class="chip">@item</span>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    .nav-search-icon {
        color: #ED1C24;
    }
    .searchIconButton {
        background: transparent;
        width: 70px;
        height: 24px;
        margin-left: -40px;
    }
    .input-icon {
        margin-bottom: 5px;
    }
    .input-error {
        display: none;
        color: #ED1C24;
    }
    .bannerCharacter {
        width: 180px;
    }
    .bannerCharacter.middleCharacter {
        width: 350px;
    }
    .ui-widget.ui-widget-content {
        width: 200px;
        max-height:200px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ui-widget.ui-widget-content::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }

    .ui-widget.ui-widget-content::-webkit-scrollbar-thumb {
        width: 0;
        display: none;
    }

    .ui-widget.ui-widget-content::-webkit-scrollbar-thumb {
        width: 0;
        display: none;
    }
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        border: none!important;
        background-color: #D2353B;
        color: #fff;
    }
    .ui-widget {
        font-famliy: "Lato-Regular";
    }
    
    @@media (max-width: 1023.98px) {
        .ui-widget.ui-widget-content {
            height: 200px;
        }
    }
</style>