﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel
@{
    ViewBag.Title = "TVSI FAQ";
    Layout = "~/Views/FAQ/_FAQLayout.cshtml";
}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<section>
    @{
        Html.RenderPartial("BlockCategory");
    }
    @{
        Html.RenderPartial("BlockQuestionsView");
    }
    @{
        Html.RenderPartial("BlockVideo");
    }
    @{
        Html.RenderPartial("QuestionFormView");
    }
</section>


<style>
    .BlockCategory {
        background-color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 50px;
        padding-top: 50px;
    }

    .CategoryTitle {
        text-align: center;
    }

    .spanTitle {
        font-size: 4.8rem;
        font-weight: 700;
        position: relative;
        z-index: 1;
        font-family: "Lato-Bold";
    }

    @@media (max-width: 1023.98px)
    {
        .spanTitle {
            font-size: 3.2rem;
            line-height: 51px;
        }
        .videoImg {
            display: none;
        }
        .imgPlant {
            display: none;
        }
        .FAQvideo-content {
            width: 86vw;
            height: calc(80vw * 36 / 65)
        }
    }

    .imgTitle {
        position: absolute;
        left: 48%;
    }

    .CategoryContent {
        text-align: center;
        width: 100%;
        padding: 0 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 50px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .blockContent {
        border: solid 1px #DCDCDC;
        border-radius: 20px;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 21%;
                flex: 1 0 21%;
        height: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
    }

    .blockContent:hover {
        background: rgba(237,28,36, 0.1);
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
    }

    .blockContent img {
        display: table-header-group;
        border-radius: 10px;
        width: 100%;
        max-width: 350px;
        max-height: 270px;
    }
    .FAQvideo-content {
        border-radius: 20px;
    }
    

    .divText {
        display: table-header-group;
    }
    .titleCategory {
        font-size: 1.8rem;
        font-family: "Lato-Bold";
    }
    .titleContent {
        padding: 1rem 0 0 2rem;
        text-align: left;
    }
    .detailCategory {
        font-size: 1.4rem;
        color: #B5B5BE;
        display: block;
    }
    /*block video*/
    .BlockCategory {
        background-color: #FFFFFF;
        min-height: 65vh;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 100px;
    }
    .VideoTitle {
        text-align: center;
        padding-top: 4rem;
    }
    .VideoContent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .VideoContent .iframe {
        border-radius: 20px;
    }
    .ButtonYoutube {
        border-radius: 6px !important;
        background: #D2353B;
        height: 5rem;
        color: #FFFFFF;
        width: 200px;
        font-size:1.4rem;
    }
    
    .videoImg {
        width: 208px;
        z-index: 9999;
        height: 380px;
        top: 200px;
        position: relative;
    }
    .imgPlant {
        position: relative;
        z-index: 9999;
        width:85px;
        height:111.26px;
        top: 300px;
        right: -20px;
        margin-right: 100px;
    }
    .chart2 {
        position: absolute;
        right: 18%;
        margin-top: -6rem;
        z-index: 9999;
    }
    @@media (min-width: 1024px) {
        .FAQvideo-content {
            width: 700px;
            padding-bottom: 1%;
            height: 393.75px;
        }
        
        .BlockVideo {
            padding-bottom: 220px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .VideoContent {
            padding-top: 100px;
            text-align: center;
            width: 1200px;
        }
    }
    @@media only screen and (max-width: 767.98px){
        .blockContent {
            width: 156px;
            height: 145px;
            padding: 0px 10px;
            -webkit-box-flex: 1;
            -ms-flex: 1 0 40%;
            flex: 1 0 40%;  
        }
        .blockContent img {
            height: 92px;
        }
        .blockContent a {
            word-break: break-word;
        }
        .titleCategory {
            font-size: 1.4rem !important;
            line-height: 17px;
            word-wrap:break-word;
        }
        .BlockCategory {
            overflow-x: auto;
            padding-bottom: 50px;
        }
        .ButtonYoutube {
            width: 45% !important;
        }
        .VideoContent {
            padding-top: 70px;
            padding-bottom: 50px;
        }
        .imgChart1 {
            position: absolute;
            top: -5%;
            left: 5%;
            width: 50%;
        }
        .videoImg {
            display:none;
        }
        .imgPlan {
            position: absolute;
            right: 12%;
            width: 4rem;
            margin-top: -18%;
            z-index: 9999;
        }
        .chart2 {
            position: absolute;
            right: 20%;
            margin-top: -3%;
            z-index: 9999;
            width: 4rem;
        }
        .iframe {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
    @@media only screen and (max-width: 1365.98px) {
        .CategoryContent {
            gap: 30px;
            padding: 0 30px;
        }
    }
    @@media only screen and (min-width: 768px)and (max-width: 1023.98px) {
        .BlockVideo {
            overflow-x: auto;
            white-space: nowrap;
        }

        .ButtonYoutube {
            width: 25% !important;
        }

        .VideoContent {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .imgChart1 {
            position: absolute;
            top: -5%;
            left: 15%;
            width: 25%;
        }

        .videoImg {
            display: none;
        }

        .imgPlan {
            position: absolute;
            right: 25%;
            width: 3rem;
            margin-top: -8%;
            z-index: 9999;
        }

        .chart2 {
            position: absolute;
            right: 20%;
            margin-top: -3%;
            z-index: 9999;
            width: 4rem;
        }
    }
</style>