﻿﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel
@using TTCMS.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .accordion {
        position: relative;
        z-index: 0;
    }

    .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #D2353B;
    }
</style>

<section class="pt-5 mb-5" style="margin-top: 132px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center my-5">
                    <h1 class="fw-bold">@Resources.FAQ</h1>
                </div>
                <div class="accordion" id="accordionFAQ">
                    @for (int i = 0; i < Model.FAQs.Count; i++)
                    {
                        <div class="accordion-item">
                            <button class="accordion-button @(i == 0 ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="@(i == 0 ? "true" : "false")" aria-controls="collapse-@i">
                                <h2 class="accordion-header" id="heading-@i">
                                    @(i+1). @Model.FAQs[i].Question
                                </h2>
                            </button>
                            <div id="collapse-@i" class="accordion-collapse collapse @(i == 0 ? "show" : "")" aria-labelledby="heading-@i" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">
                                    @Html.Raw(Model.FAQs[i].Answer)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .accordion-button.collapsed:hover {
        color: #ED1C24 !important;
        opacity: 1 !important;
    }
</style>
