﻿@model TTCMS.Web.ViewModels.QuestionCommentViewModel

@if(Model.Comments != null && Model.Comments.Count > 0)
{
    foreach(var item in Model.Comments)
    {
        <div class="commentCard" id="comment-@item.Id">
            @if (item.AdminCreated)
            {
                <h2 class="commentedBy">Bình luận chính thức từ <span class="textEmphasized">TVSI</span></h2>
            }
            else
            {
                <h2 class="commentedBy">@item.CreatedBy</h2>
            }
            <p class="commentContent">@Html.Raw(item.Content)</p>
            @if (!string.IsNullOrEmpty(item.AttachmentURL))
            {
                <a class="attachment" href="/Content/CustomerUploads/@item.AttachmentURL">Đính kèm của bình luận</a>
            }
            <div class="bottom">
                <a role="button" class="replyButton" id="replyButton-@item.Id">Phản hồi</a>
            </div>
            @if (item.Replies != null && item.Replies.Count > 0)
            {
                foreach (var reply in item.Replies)
                {
                    <div class="reply">
                        @if (reply.AdminCreated)
                        {
                            <h2 class="repliedBy">Phản hồi chính thức từ <span class="textEmphasized">TVSI</span></h2>
                        }
                        else
                        {
                            <h2 class="repliedBy">Phản hồi từ @reply.CreatedBy</h2>
                        }
                        <p class="commentContent">@Html.Raw(reply.Content)</p>
                    </div>
                }
            }
        </div>
    }
}
<div class="seeMore">
    @Html.Hidden("CurrentCommentPage")
    @if(Model.TotalRecords > Model.Comments.Count){
        <button onclick=onLoadMoreCommentClick(@Model.QuestionId)>Xem thêm <i class="fa fa-arrow-right"></i></button>
    }
</div>
<style>
    .attachment {
        color: #0d6efd;
    }
    .attachment:hover {
        color: #0a58ca;
    }
    .replyClickIcon, .replyButton {
        background: transparent;
    }
    a[role=button] {
        color: #FA1D26 !important;
        background: transparent;
    }
    a[role=button]:hover {
        opacity: 0.5;
    }
</style>
