@model TTCMS.Web.ViewModels.FAQQuestionPageViewModel
@{
    ViewBag.Title = Model.QuestionName;
    Layout = "~/Views/FAQ/_FAQLayout.cshtml";
}
<div id="overlay">
    <div id="commentModal">
        <div class="modalTitle">
            <h2>Vui lòng nhập tên và mã Captcha</h2>
            <i class="fa fa-close"></i>
        </div>
        <label for="">Tên</label>
        <input type="text" id="commentName">
        <small class="nameInputError inputError">Vui lòng điền họ tên</small>
        <label for="">Số điện thoại</label>
        <input placeholder="0..." class="inputRequired" name="commentPhoneNumber" id="commentPhoneNumber" autocomplete="off" maxlength="10" required/>
        <small class="phoneInputError inputError"></small>
        <div id="recaptcha-comment"></div>
        <small class="wrongCaptchaError inputError">Vui lòng hoàn thành captcha</small>
        <button onclick=SendComment(@Model.Id) class="sendComment">Gửi</button>
    </div>
</div>
<section>
    <div class="questionPageContainer">
        @{
            Html.RenderAction("QuickActionPartialView", new { 
                activeTopicId = Model.ActiveTopicId, 
                questionName = Model.QuestionName 
            });
        }
        <div class="questionDetail">
            <div class="header">
                <div class="breadcrumbs">
                    <span>
                        <i class="fa fa-home" aria-hidden="true">
                        </i>
                        <a href="/">Trang chủ</a>
                    </span>
                    @if(Model.Topic != null) 
                    {
                        if(Model.Topic.Parent != null) 
                        {
                            <span>/</span>
                            <a href="/SearchCategory?topicId=@Model.Topic.Parent.Id">@Model.Topic.Parent.TopicName</a>
                        }
                        <span>/</span>
                        <a href="/SearchCategory?topicId=@Model.Topic.Id">@Model.Topic.TopicName</a>
                    }
                </div>
                <h1 class="mb-d-none">@Model.QuestionName</h1>
                @if((Model.DesktopAttachments != null && Model.DesktopAttachments.Count > 0) || (Model.MobileAttachments != null && Model.MobileAttachments.Count > 0))
                {
                    <div class="platformContainer">
                        <p>Thiết bị</p>
                        <div class="platformCheck">
                            <div>
                                @if(Model.MobileAttachments != null && Model.MobileAttachments.Count > 0)
                                {
                                    <div class="form-check" id="mobileCheckWrapper">
                                        <input class="form-check-input" type="radio" value="mobile" name="platform">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Điện thoại
                                        </label>
                                    </div>
                                }
                                @if(Model.DesktopAttachments != null && Model.DesktopAttachments.Count > 0)
                                {
                                    <div class="form-check" id="desktopCheckWrapper">
                                        <input class="form-check-input" type="radio" value="pc" name="platform">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Máy tính
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>  

            <div class="post">
                @if(Model.DesktopAttachments != null && Model.DesktopAttachments.Count > 0)
                {
                    <div id="slidePc" style="display:none">
                        <div class="pc-container">
                            <img src="~/webroot/images/faq/Laptop.jpg" />
                        </div>
                        @if(Model.DesktopAttachments != null && Model.DesktopAttachments.Count > 0)
                        {
                            <div class="swiper desktopSwiper">
                                <div class="swiper-wrapper">
                                    @foreach(var item in Model.DesktopAttachments)
                                    {
                                        <div class="swiper-slide swiper-slide-pc">
                                            <img src="https://beta.tvsi.com.vn\@item.ImageUrl" class="img-pc" />
                                            <div class="attachment-description">
                                                @Html.Raw(item.Description)
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="swiper-pagination-container swiper-pagination-desktop">
                                    <div class="swiper-button-prev swiper-button-desktop-prev btnprev">
                                        <i class="fa fa-circle-chevron-left"></i>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-desktop"></div>
                                    <div class="swiper-button-next swiper-button-desktop-next btnnext">
                                        <i class="fa fa-circle-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="desktopSwiperMobileContainer">
                                <div class="swiper desktopSwiperMobile">
                                    <div class="swiper-wrapper">
                                        @foreach(var item in Model.DesktopAttachments)
                                        {
                                            <div class="swiper-slide swiper-slide-pc">
                                                <img src="https://beta.tvsi.com.vn\@item.ImageUrl" class="img-pc" />
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="swiper-button-groups swiper-button-groups-pc">
                                    <div class="swiper-button-prev swiper-button-desktopMobile-prev btnprev">
                                        <i class="fa fa-circle-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next swiper-button-desktopMobile-next btnnext">
                                        <i class="fa fa-circle-chevron-right"></i>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                }
                @if(Model.MobileAttachments != null && Model.MobileAttachments.Count > 0)
                {
                    <div id="slideMobile">
                        <div class="phone-container">
                            <img src="~/webroot/images/faq/phone.png"/>
                        </div>
                        @if(Model.MobileAttachments != null && Model.MobileAttachments.Count > 0)
                        {
                            <div class="mobileSwiperDesktopViewContainer">
                                <div class="swiper mobileSwiper">
                                    <div class="swiper-wrapper">
                                        @foreach(var item in Model.MobileAttachments)
                                        {
                                            <div class="swiper-slide swiper-slide-mobile">
                                                <img src=@("https://beta.tvsi.com.vn" + @item.ImageUrl) />
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-mobile">
                                    </div>
                                </div>
                                <div class="mobilePaginationContainer mb-d-none"> @*mb-d-none*@
                                    @for(int i = 0; i < Model.MobileAttachments.Count; i++)
                                    {
                                        <div class="pagination">
                                            <button onclick=slideTo2(@i) class="pagination-button pagination-button-mobile @(i == 0 ? "active" : "")">@(i+1)</button>
                                            <div class="paginationDescription">@Html.Raw(Model.MobileAttachments[i].Description)</div>
                                        </div>
                                    }
                                </div>
                                <div class="swiper-button-groups swiper-button-groups-mobile">
                                    <div class="swiper-button-prev swiper-button-mobile-prev btnprev">
                                        <i class="fa fa-circle-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next swiper-button-mobile-next btnnext">
                                        <i class="fa fa-circle-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                @if(Model.MobileAttachments != null && Model.MobileAttachments.Count > 0)
                {
                    <div class="mobilePaginationContainer lg-d-none">
                        @for(int i = 0; i < Model.MobileAttachments.Count; i++)
                        {
                            <div class="pagination">
                                <button onclick=slideTo2(@i) class="pagination-button pagination-button-mobile @(i == 0 ? "active" : "")">@(i+1)</button>
                                <div class="paginationDescription">@Html.Raw(Model.MobileAttachments[i].Description)</div>
                            </div>
                        }
                    </div>
                }
                @if(Model.DesktopAttachments != null && Model.DesktopAttachments.Count > 0)
                {
                    <div class="desktopPaginationContainer">
                        @for(int i = 0; i < Model.DesktopAttachments.Count; i++)
                        {
                            <div class="pagination">
                                <button onclick=slideTo3(@i) class="pagination-button pagination-button-desktop @(i == 0 ? "active" : "")">@(i+1)</button>
                                <div class="paginationDescription">@Html.Raw(Model.DesktopAttachments[i].Description)</div>
                            </div>
                        }
                    </div>
                }
                <p>
                    @Html.Raw(Model.Content)
                </p>
                <br/>
                <div>
                    <p>Hãy chia sẻ ý kiến của Bạn tại phần <span class="textEmphasized" id="textComment">Bình luận</span>. TVSI rất mong nhận được phản hồi của Bạn!</p>
                </div>
                <br/>
                <div class="commentSection">
                    <div class="postReactionContainer">
                        <div class="commentDetailsContainer">
                            <button onclick=onCommentIconClick() class="reactionIcon"><img src="/webroot/images/faq/comment.svg"/></button>
                            <p>@Model.QuestionComment.TotalRecords bình luận</p>
                        </div>
                        <div class="likeDetailsContainer">
                            <button onclick=onQuestionLikeClick(@Model.Id) class="reactionIcon">
                                <img id="likeIcon" src="@(Model.Liked ? "/webroot/images/faq/heart-liked.png" : "/webroot/images/faq/heart.png")"/>
                            </button>
                            <p>@Model.NumberOfLiked Thích</p>
                        </div>
                        <div class="shareDetailsContainer">
                            <div class="shareButtonHolder">
                                <button class="reactionIcon" onclick=onShareClick()><img src="/webroot/images/faq/share.svg"/></button>
                                <p>Chia sẻ</p>
                            </div>
                            <div id="shareModal">
                                <div id="share-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="commentInput">
                        <div class="inputContainer">
                            <input id="questionCommentInput" type="text" placeholder="Viết bình luận">
                        </div>
                        <div class="inputActions">
                            <input type="text" hidden id="CommentFilePath-@Model.Id" name="CommentFilePath">
                            <input class="commentUploadInput" hidden type="file" id="Comment_File_Uploader_@Model.Id" name="Comment_File_Uploader" 
                                accept="image/*, .doc, .docx, .pdf, .xlsx, .xls, .ppt, .pptx"
                                oninvalid="this.setCustomValidity('Vui lòng chỉ tải lên file ảnh, file văn bản Microsoft Office hoặc file PDF nhỏ hơn 2MB')"
                                oninput="this.setCustomValidity('')"/>
                            <i class="fa fa-paperclip inputAttach"></i>
                            <i class="fa fa-chevron-right" id="inputSend"></i>
                        </div>
                    </div>
                    <small class="commentInputError inputError">Vui lòng nhập bình luận của Bạn vào đây</small>
                    <label id="CommentFileLabel-@Model.Id"></label>
                    <div id="commentsList">
                        @{
                            Html.RenderAction("QuestionCommentPartialView", Model.QuestionComment);
                        }
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    @{
        Html.RenderPartial("QuestionFormView", Model.HomeViewModel);
    }
</section>
<style>
    .attachment-description a {
        color: #0d6efd;
    }
    .attachment-description a:hover {
        color: #ED1C24;
    }
    .swiper-button-groups {
        display: flex;
        justify-content: space-between;
    }
    .swiper-button-groups-mobile {
        margin-top: -300px;
    }
    .swiper-button-groups-pc {
        position: absolute;
    }
    @@media (max-width: 1023.98px) {
        .swiper-button-groups-mobile {
            grid-column-start: 1;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }
    .breadcrumbs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    @@media (max-width: 1439.98px) {
        .questionDetail .breadcrumbs {
            display: none;
        }
    }
    .phone-container {
        width: 300px;
    }
    .liked {
        -webkit-filter: invert(65%) sepia(4%) saturate(676%) hue-rotate(201deg) brightness(89%) contrast(92%);
                filter: invert(65%) sepia(4%) saturate(676%) hue-rotate(201deg) brightness(89%) contrast(92%);
    }
    .reactionIcon img {
        width: 20px;
        height: 20px;
    }
    .textEmphasized {
        font-weight: 700;
        color: #ED1C24;
    }
    .textEmphasized:hover {
        cursor: pointer;
    }
    .noscroll {
        overflow: hidden !important;
    }
    table a {
        color: #0d6efd !important;
    }
    table a:hover {
        color: #ED1C24 !important;
    }
    .mobileSwiperDesktopViewContainer {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 242px 7vh auto;
        grid-template-columns: 242px 7vh auto;
        margin-top: -580px;
        margin-left: 27px;
    }
    .swiper-pagination-mobile>div {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 16px;
    }
    .swiper-pagination-mobile>div>span {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .pc-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .questionDetail .header h1 {
        text-transform: uppercase;
    }
    .swiper.desktopSwiper {
        margin-top: -560px;
        width: 70%;
        max-width: 700px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .slidePc {
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .swiper-wrapper {
        width: 100%;
    }

    #slidePc .swiper.desktopSwiperMobile  .swiper-wrapper {
        width: 100%;
    }

    #slideMobile .swiper-wrapper {
        width: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .swiper-slide-pc {
        width: 420px;
    }
    
    .swiper-slide-mobile {
        width: 193px;
        height: 510px;
        border-radius: 0;
    }
    .swiper-slide-mobile img {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        height: 510px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: center;
        width: 100% !important;
        background-color: transparent;
        gap: 140px;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
        left: 300px;
        top: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 45px;
    }

    .swiper-slide img.img-pc {
        display: block;
        width: 420px;
        height: 260px;
        -o-object-fit: fill;
           object-fit: fill;
        border-radius: 5px;
    }

    .attachment-description {
        text-align: justify;
    }

    .swiper-button-icon {
        color: #fff;
    }
    .swiper-button-next, .swiper-button-prev {
        position: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .swiper-button-prev::after, .swiper-button-next::after {
        display: none;
    }

    .swiper-pagination-container.swiper-pagination-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 16px;
    }

    .swiper-pagination.swiper-pagination-desktop {
        position: relative;
        width: auto !important;
        gap: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
    }
    
    .swiper-pagination-bullet.swiper-pagination-bullet-mobile {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        gap: 16px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #fff;
        color: #333;
        height: 45px;
        width: auto;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-mobile .swiper-pagination-index {
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 20px;
        font-size: 2.4rem;
        color: #ffffff;
        background: #fa1d26;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .swiper-pagination-bullet-active .swiper-pagination-index {
        background: #fa1d26;
    }

    .swiper-pagination-bullet-pc {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 20px;
        font-size: 1.8rem;
        color: #ffffff;
        opacity: 1;
        background: #ffc8ca;
    }

    .swiper-pagination-desktop .swiper-pagination-bullet {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #fa1d26;
    }

    .form-check-input:checked {
        background-color: #FA1D26;
        border-color: #FA1D26;
    }
    .btnnext, .btnprev {
        color: #FA1D26;
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }
    .swiper.mobileSwiper {
        height: 510px;
        -ms-grid-column: 1;
            grid-column-start: 1;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .fa-circle-chevron-left, 
    .fa-circle-chevron-right {
        font-size: 30px;
    }
    :host >>> .swiper-pagination {
        pointer-events: all !important;
    }
    .mobilePaginationContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 25px;
        -ms-grid-column: 3;
            grid-column-start: 3;
    }
    .desktopPaginationContainer {
        display: none;
    }
    .paginationContainer {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 45px;
        margin-bottom: 50px;
    }
    .pagination {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 30px 15px auto;
        grid-template-columns: 30px 15px auto;
    }
    .pagination .paginationDescription {
        -ms-grid-column: 3;
            grid-column-start: 3;
    }
	.pagination .paginationDescription a, .pagination .paginationDescription a span {
		color: #0d6efd !important;
	}
    .pagination p {
        margin: 0 !important;
    }
	.post > table.no-padding > tbody > tr:not(:first-of-type) > td {
		padding: 0 !important;
	}
    .pagination-button {
        width: 30px;
        height: 30px;
        background: #FA1D26;
        opacity: 0.3;
        color: #fff;
        border-radius: 50%;
        font-size: 1.8rem;
        line-height: 22px;
        cursor: pointer;
        -ms-grid-column: 1;
        grid-column-start: 1;
        padding-left: 0;
        padding-right: 0;
    }
    .active {
        opacity: 1 !important;
    }
    .pc-container img {
        width: 1000px;
    }
    
    .swiper.desktopSwiperMobile {
        width: 70%;
    }
    
    .swiper-slide img.img-pc {
        width: 100%;
        height: 450px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .questionDetail .header .platformContainer .platformCheck > div {
        padding-left: 10px;
    }

    @@media screen and (max-width: 650.98px) {
        .pc-container img {
            min-width: 310px;
        }   
        .swiper.desktopSwiperMobile {
            height: 100%;
            width: 70%;
            margin-top: -175px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .swiper.mobileSwiper {
            margin-left: auto;
        }

        .swiper-slide img.img-pc {
            width: 100%;
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    @@media screen and (max-width: 1439.98px) {
        .questionPageContainer {
            padding: 45px 25px 41px;
            text-align: justify;
        }
    }
    @@media screen and (min-width: 768px) and (max-width: 1023.98px) {
        .questionDetail .header .platformContainer {
            /* padding-left: 86px; */
        }
        .mobilePaginationContainer {
            margin-left: 86px;
        }
    }
    @@media screen and (max-width: 1023.98px) {
        .paginationContainer {
            margin-top: 50px;
        }
        #slideMobile {
            text-align: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 650px;
        }
        .mobileSwiperDesktopViewContainer {
            margin-left: auto;
            margin-right: auto;
            width: 245px;
        }
        .mb-d-none {
            display: none;
        }
        .mobilePaginationContainer {
            margin-bottom: 50px;
        }
        .swiper.mobileSwiper {
            margin-left: 0;
            margin-right: auto;
            width: auto;
        }
        .questionDetail .header {
            margin-bottom: 31px;
        }
        .post #slideMobile .phone-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .swiper-slide {
            border-radius: 0;
            height: 100%;
            width: 250px;
            border-bottom: 25px;
        }
        #slidePC .swiper-wrapper {
            width: 235px;
            height: 400px;
        }
        .swiper .mobileSwiper {
            height: 400px;
            position: inherit;
            border-radius: 0;
        }
        .swiper-pagination {
            position: inherit;
        }
        .swiper-pagination-container.swiper-pagination-desktop {
            display: none;
        }
    }
    @@media screen and (min-width: 1024px){
        .mobilePaginationContainer.lg-d-none {
            display: none;
        }
        .swiper-button-groups-pc {
            display: none;
        }
    }
    .commentCard .bottom {
        width: 100%;
    }
    .replyAction {
        margin-top: 10px;
    }
    table {
        border-collapse: collapse;
        border-radius: 15px;
        border-width: 0;
        width: 100%;
        max-width: 760px;
    }
    
    table tr:first-of-type td {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .post > table > tbody > tr:first-of-type > td {
        padding: 32px 44px;
    }
    @@media (max-width: 767.98px) {
        .post > table > tbody > tr:first-of-type > td {
            padding: 20px;
        }
        .post > table > tbody > tr:not(:first-of-type) > td {
            padding: 15px;
        }
    }
    @@media (min-width: 1024px) {
        .post > table > tbody > tr:not(:first-of-type) > td {    
            padding: 48px 44px 32px;
        }
    }
    .post > table > tbody > tr:not(:first-of-type) > td {
        border: 1px solid #F1F1F5;
        border-top: none;
    }
    table.inner td {
        border: 1px solid #333;
    }
    .post > table > tbody > tr > td > table > tbody > tr > tr {
        border: 1px solid black;
    }
    .post > table tr:first-of-type p, .post > table tr:first-of-type span {
        font-size: 16px;
        font-family: 'Lato-Regular' !important;
    }
    table > table tr:first-of-type p, table > table tr:first-of-type span {
        color: #333 !important;
    }
    table tr:not(:first-of-type) td {
        /*padding: 48px 44px 32px;*/
    }
    table th {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
</style>
@Scripts.Render("~/bundles/faqQuestionPage")   

@section Scripts
{
    <script>
        $('#share-bar').share({
            pageUrl: window.location.href,
            pageTitle: "@Html.Raw(Model.QuestionName)",
            channels: ['facebook','linkedin','twitter','email']
        });
        $(".inputAttach").on("click touchstart", function(){
            $("#Comment_File_Uploader_@Model.Id").click();
        })
        $('#Comment_File_Uploader_@Model.Id').change(function(event) {
            if ($(this).val() === "") return
            var split = $(this).val().split("\\")
            var value = split[split.length - 1]
            var file = event.currentTarget.files[0];
            $("#CommentFileLabel-@Model.Id").text(`Đính kèm: ${split[split.length - 1]}`);
            $("#CommentFilePath-@Model.Id").val(split[split.length - 1]);
        })
    </script>
}