﻿@model TTCMS.Web.ViewModels.FAQHomeViewModel

<div class="questionFormContainer">
    <div class="questionFormBody">
        <h1 class="title">Bạn có thể tạo câu hỏi ở đây</h1>
        <form id="frmQuestion" enctype="multipart/form-data">
            <div class="textFields-row">
                <div class="textField">
                    <span class="label">Họ và tên <span class="asterisk">*</span></span>
                    <input placeholder="Trần Văn A" class="inputRequired" name="FullName" id="FullName" autocomplete="off" required
                        oninvalid="this.setCustomValidity('Vui lòng nhập họ và tên')"
                        oninput="this.setCustomValidity('')"
                    />
                    <small class="inputError"></small>
                </div>
                <div class="textField">
                    <span class="label">Số điện thoại <span class="asterisk">*</span></span>
                    <input placeholder="0..." class="inputRequired" name="PhoneNumber" id="PhoneNumber" autocomplete="off" maxlength="10" required
                        oninvalid="this.setCustomValidity('Vui lòng nhập đúng số điện thoại')"
                        oninput="this.setCustomValidity('')"
                    />
                    <small class="inputError"></small>
                </div>
            </div>
            <div class="textFields-row">
                <div class="textField">
                    <span class="label">Số tài khoản TVSI (nếu có)</span>
                    <input name="AccountNumber" autocomplete="off" maxlength="6"/>
                </div>
                <div class="textField">
                    <span class="label">Tiêu đề</span>
                    <input name="PendingQuestionTitle" id="PendingQuestionTitle" class="inputRequired" autocomplete="off"/>
                    <small class="inputError"></small>
                </div>
            </div>
            <div class="upload">
                <span class="label">Tải tài liệu</span>
                <div class="uploadText">
                    <label id="fileLabel">Chọn file để tải lên</label>
                    <small class="inputError fileError">Vui lòng chỉ tải lên file có dung lượng nhỏ hơn 2mb.</small>
                </div>
                <input type="text" hidden id="FilePath" name="FilePath">
                <input class="uploadInput" type="file" id="file_Uploader" name="file_Uploader" 
                    accept="image/*, .doc, .docx, .pdf, .xlsx, .xls, .ppt, .pptx"
                    oninvalid="this.setCustomValidity('Vui lòng chỉ tải lên file ảnh, file văn bản Microsoft Office hoặc file PDF nhỏ hơn 2MB')"
                    oninput="this.setCustomValidity('')"/>
            </div>
            <div class="textArea">
                <span class="label">Mô tả<span class="asterisk">*</span></span>
                <textarea name="Content" autocomplete="off" required id="Content"
                    oninvalid="this.setCustomValidity('Vui lòng nhập nội dung mô tả')"
                    oninput="this.setCustomValidity('')"
                ></textarea>
            </div>
            <div class="buttonField">
                <div id="recaptcha-questionForm"></div>
                <div class="submitButtonContainer">
                    <button type="submit" value="submit" id="btnSubmit">Gửi yêu cầu</button>
                    <small class="captchaError">Vui lòng hoàn thành captcha</small>
                </div>
            </div>
        </form>
    </div>
    <div id="AjaxAlert">
    </div>
</div>