@model TTCMS.Web.ViewModels.QuickActionViewModel

<div class="quickActions">
    <div class="menuContainer">
        <img class="menu" src="/webroot/images/faq/menu.svg" alt="">
        @if(Model.ActiveTopic != null && string.IsNullOrEmpty(Model.QuestionName))
        {
            <div class="title categoryTitle">
                <a href="/SearchCategory?topicId=@Model.ActiveTopic.Id">
                    <h1>@Model.ActiveTopic.TopicName</h1>
                </a>
                <p>@Model.ActiveTopic.TopicDescription</p>
            </div>
        }
        @if(!string.IsNullOrEmpty(Model.QuestionName))
        {
            <div class="title">
                <div class="breadcrumbs">
                    <span>
                        <i class="fa fa-home" aria-hidden="true">
                        </i>
                        <a href="/">Trang chủ</a>
                    </span>
                    @if (Model.ActiveTopic != null)
                    {
                        if (Model.ActiveTopic.Parent != null)
                        {
                            <span>/</span>
                            <a href="/SearchCategory?topicId=@Model.ActiveTopic.Parent.Id">@Model.ActiveTopic.Parent.TopicName</a>
                        }
                        <span>/</span>
                        <a href="/SearchCategory?topicId=@Model.ActiveTopic.Id">@Model.ActiveTopic.TopicName</a>
                    }
                </div>
                <h1>@Model.QuestionName</h1>
            </div>
        }
        @if(Model.TotalNumberOfRecords > 0) {
            <div class="title">
                <span class="numberOfRecords">@Model.TotalNumberOfRecords kết quả phù hợp với điều Bạn tìm kiếm</span>
            </div>
        }
    </div>
    <div class="quickActionsContainer quickActionsContainer-d-none">
        <div class="title">
            <h1>Thao tác nhanh</h1>
            <i class="fa fa-close"></i>
        </div>
        <div class="collapsibleTitle">
            <img src="/webroot/images/faq/menu-board.svg" class="collapsibleIcon" alt="">
            <span class="mayConcern active">Có thể Bạn quan tâm</span>
            <img src="/webroot/images/faq/arrow-up.svg" alt="">
        </div>
        <ul>
            @if (Model.Topics != null && Model.Topics.Count > 0)
            {
                foreach (var topic in Model.Topics)
                {
                    <li class="@(topic.Id == Model.ActiveTopicId ? "active" : "")">
                        <a href="/SearchCategory?topicId=@topic.Id">
                            <span class="collapsible">@topic.TopicName</span>
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="collapsibleTitle">
            <img src="/webroot/images/faq/tag-2.svg" class="collapsibleIcon" alt="">
            <span class="tags">Từ khoá phổ biến</span>
            <img src="/webroot/images/faq/arrow-down.svg" alt="">
        </div>
        <ul class="ul-tags">
            @if (Model.Tags != null && Model.Tags.Count > 0)
            {
                foreach (var tag in Model.Tags)
                {
                    <li class="li-tag-item">
                        <a href="/SearchQuestion?keyword=@tag">
                            @tag
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<script>
    $("img.menu").click(function() {
        if($(".quickActionsContainer").hasClass("quickActionsContainer-d-none")) {
            $(".quickActionsContainer").removeClass("quickActionsContainer-d-none")
        } else {
            $(".quickActionsContainer").addClass("quickActionsContainer-d-none")
        }
    })
    $("i.fa.fa-close").click(function() {
        if(!$(".quickActionsContainer").hasClass("quickActionsContainer-d-none")) {
            $(".quickActionsContainer").addClass("quickActionsContainer-d-none")
        }
    })
</script>
<style>
    .quickActionsContainer {
        box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
    }
    .ul-tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 5px;
        margin-left: 31px;
    }
    .li-tag-item a {
        border-radius: 5px;
        border: 1px solid #ED1C24;
        color: #4B556E;
        height: 30px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
        padding: 4px 9px;
    }
    @@media (min-width: 1024px) {
        .title span.numberOfRecords {
            display: none;
        }
    }
    @@media (min-width: 1024px) and (max-width: 1439.98px) {
        .menuContainer .title.categoryTitle {
            display: none;
        }
    }
    @@media (max-width: 1439.98px) {
        .menuContainer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            gap: 40px;
            width: 100%;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

            .menuContainer .menu {
                cursor: pointer;
                box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
            }

        .quickActionsContainer.quickActionsContainer-d-none {
            display: none;
        }

        .menuContainer .title h1 {
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 22px;
            text-transform: uppercase;
            text-align: left;
        }

        .quickActionsContainer {
            position: absolute;
            max-height: 73vh;
            width: 250px;
            height: auto;
            background-color: #fff;
            padding: 19px 19px 25px 27px;
            border-radius: 12px;
            z-index: 20;
            /* transform: translate(46px, -40px) */
        }

            .quickActionsContainer .title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }
    }

    @@media(min-width: 1440px) {
        .menuContainer {
            display: none;
        }
        .quickActionsContainer {
            max-height: 73vh;
            width: 250px;
            height: auto;
            background-color: #fff;
            display: block;
            padding: 19px 19px 80px 27px;
            border-radius: 12px;
        }
        .quickActionsContainer .title .fa-close {
            display: none;
        }
    }

    @@media (max-width: 1439.98px) {
        .menuContainer .title { 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }

    .quickActionsContainer span {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 22px; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #4B556F;
    }
    .quickActionsContainer .title {
        margin-bottom: 22px;
    }

    .quickActionsContainer .title i {
        cursor: pointer;
    }

    .quickActionsContainer h1 {
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .quickActionsContainer ul.disabled {
        display: none;
    }

    .quickActionsContainer ul li.active {
        background: #FFC8CA;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 22px;
        color: #000000;
    }

    .quickActionsContainer .collapsibleTitle {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 22px;
        color: #FA1D26;
        margin-bottom: 22px;
        width: 100%; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: left;
    }
    .quickActionsContainer .collapsibleTitle:hover {
        cursor: pointer;
    }
    .quickActionsContainer .collapsibleTitle img.collapsibleIcon {
        width: 22px;
        height: 22px;
    }
    .quickActionsContainer .collapsibleTitle span {
        width: 140px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 22px;
        color: #FA1D26;
    }
    .quickActionsContainer .collapsibleTitle span.tags {
        color: #191E25;
    }
    .quickActionsContainer .collapsible {
        margin: 0 0 22px 31px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 22px;
        color: #4B556F;
        height: 40px;
    }
    .quickActionsContainer .collapsible:hover {
        cursor: pointer;
    }
</style>