﻿@model TTCMS.Web.ViewModels.FAQSearchQuestionViewModel


@if (Model.Questions != null && Model.Questions.Count > 0)
{
    foreach (var item in Model.Questions)
    {
        <div class="questionResultCard">
            <a href="/QuestionPage?id=@item.Id">
                <img src="https://beta.tvsi.com.vn\@item.ImageURL" />
                <div class="question">
                    @if (Model.TopicId == 0)
                    {
                        <h1>@item.TopicName</h1>
                        <h2 class="questionName">@Html.Raw(item.QuestionName)</h2>
                    }
                    else
                    {
                        <h1>@Html.Raw(item.QuestionName)</h1>
                    }
                    @if (!string.IsNullOrEmpty(item.ContentBrief))
                    {
                        <p>@item.ContentBrief</p>
                    }
                </div>
            </a>
        </div>
    }
}

@if (Model.TotalPage > 0)
{
    <div id="paged" class="pagination">
        <button onclick=LoadMore(parseInt(@(Model.CurrentPage - 1)))>
            @if(Model.CurrentPage > 1) {
                <img class="left" src="/webroot/images/faq/arrow-right.png">
            }
        </button>
        @if(Model.TotalPage <= 6) {
            for (int i = 1; i <= Model.TotalPage; i++)
            {
                <button class="page-link @(i == Model.CurrentPage ? "active" : "")" onclick=LoadMore(@i)>@i</button>
                
            }
        }
        else if(Model.CurrentPage < 3 && Model.CurrentPage >= 0){
            for (int i = 1; i <= 3; i++)
            {
                <button class="page-link @(i == Model.CurrentPage ? "active" : "")" onclick=LoadMore(@i)>@i</button>
            }
            <p>...</p>
        
            <button class="page-link" onclick=LoadMore(@Model.TotalPage)>
                @Model.TotalPage
            </button>
            
        }
        else if (Model.CurrentPage >= 3 && Model.CurrentPage + 1 < Model.TotalPage - 2)
        {
            <button class="page-link" onclick=LoadMore(1)>1</button>
            <p>...</p>
            for (int i = Model.CurrentPage; i <= Model.CurrentPage + 2; i++)
            {
                <button class="page-link @(i == Model.CurrentPage ? "active" : "")" onclick=LoadMore(@i)>@i</button>
            }
            <p>...</p>
            <button class="page-link" onclick=LoadMore(@Model.TotalPage)>
                @Model.TotalPage
            </button>
            
        }
        else {
            <button class="page-link" onclick=LoadMore(1)>1</button>
            <p>...</p>
            for (int i = Model.TotalPage - 3; i <= Model.TotalPage; i++)
            {
                <button class="page-link @(i == Model.CurrentPage ? "active" : "")" onclick=LoadMore(@i)>@i</button>
            }
        }
        <button onclick=LoadMore(parseInt(@(Model.CurrentPage + 1)))>
            @if(Model.CurrentPage < Model.TotalPage) {
                <img src="/webroot/images/faq/arrow-right.png">
            }
        </button>
    </div>
}
<div class="notificationForSupport">
    <p>Bạn chưa tìm thấy câu trả lời phù hợp? Hãy Chat ngay với Dịch vụ Khách hàng</span> hoặc <span class="textEmphasized" id="createQuestionForm">Tạo câu hỏi</span> để TVSI sẵn sàng hỗ trợ Bạn nhé.</p>
</div>
<script>
</script>

<style>
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .page-item.active .page-link {
        color: #fff;
    }
    .page-link {
        opacity: 0.3;
        background-color: #ED1C24;
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
        border-color: #ED1C24 !important;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button img {
        width: 35px;
        height: 35px;
    }
    button {
        background: transparent;
        width: auto;
        height: auto;
        padding: 0;
        min-width: 35px;
    }
    button.active {
        opacity: 1;
        color: #fff;
    }
    button img.left {
        -webkit-transform:rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    button.page-link {
        width: 40px;
        height: 40px;
    }
    @* button.page-link img {
        width: 100%;
        height: 100%;
    } *@
    .textEmphasized {
        font-weight: 700;
        color: #ED1C24;
    }
    .textEmphasized:hover {
        cursor: pointer;
    }
    .searchQuestionContainer {
        background: #fff;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 60vw;
        gap: 16px;
        padding: 24px 44px;
    }

    span.numberOfRecords {
        color: #FA1D26;
        font-weight: 400;
        font-size: 2rem;
        line-height: 22px;
    }

    .questionResultCard a {
        display: flex;
        width: 100%;
        border: 1px solid #C8E7FF;
        border-radius: 12px;
        flex-basis: 20vh;
        padding: 20px 40px 30px;
        gap: 40px;
    }

    .questionResultCard img {
        width: 10vw;
    }

    .questionResultCard .question {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .moreButton {
        background-color: transparent;
        display: flex;
        justify-content: center;
    }

    .moreButton button {
        background-color: transparent;
        color: #FA1D26;
        width: 150px;
        border: none;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    @@media (max-width: 767.98px) {
        .pagination {
            gap: 5px;
        }
    }
</style>
