﻿@model TTCMS.Web.ViewModels.FAQTopicViewModel
@{
    ViewBag.Title = Model.TopicName;
    Layout = "~/Views/FAQ/_FAQLayout.cshtml";
}
@using PagedList.Mvc;

<section>
    <div class="searchCategoryContainer">
        @{
            Html.RenderAction("QuickActionPartialView", new { activeTopicId = Model.Id });
        }
        @Html.Hidden("CurrentPage")
        <div class="categoryResultsContainer">
            <div class="breadcrumbs">
                <span>
                    <i class="fa fa-home" aria-hidden="true">
                    </i>
                    <a href="/">Trang chủ</a>
                </span>
                @if(Model.ParentTopic != null) 
                {
                    <span>/</span>
                    <a href="/SearchCategory?topicId=@Model.ParentTopic.Id">@Model.ParentTopic.TopicName</a>
                }
            </div>
            <h1 class="title mb-d-none">
                @Model.TopicName 
            </h1>
            <p class="categoryDescription mb-d-none">
                @Model.TopicDescription 
            </p>
                @if (Model.SubTopics != null && Model.SubTopics.Count > 0)
                {
                    <div class="categoryResultCards">
                        @foreach (var topic in Model.SubTopics)
                        {
                            <div class="categoryCard">
                                <a class="categoryImageContainer" href="/SearchCategory?topicId=@topic.Id">
                                    @if(topic.ImageUrl != null){
                                        <img src="https://beta.tvsi.com.vn\@topic.ImageUrl" />
                                    } else {
                                        <img src="/webroot/images/faq/questions/pana.png" alt="">
                                    }
                                </a>
                                <a href="/SearchCategory?topicId=@topic.Id">
                                    <h2 class="categoryTitle">@topic.TopicName</h2>
                                </a>
                                @if (topic.Questions != null && topic.Questions.Count > 0)
                                {
                                    for (int i = 0; i < (topic.Questions.Count >= 5 ? 5 : topic.Questions.Count); i++)
                                    {
                                        <div class="questionTitleWrapper">
                                            <a href="/QuestionPage?id=@topic.Questions[i].Id" class="@(i == 4 || i == topic.Questions.Count ? "lastQuestionTitle" : "")">
                                                <span class="questionTitle">
                                                    @topic.Questions[i].QuestionName 
                                                </span>
                                            </a>
                                            @if((topic.Questions.Count < 5 && i == topic.Questions.Count - 1) || i == 4)
                                            {
                                                <a href="/SearchCategory?topicId=@topic.Id">
                                                    <img class="next" src="/webroot/images/faq/arrow-right.png"/>
                                                </a>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div>
                        @if (Model.QuestionList != null && Model.QuestionList.Questions != null && Model.QuestionList.Questions.Count > 0)
                        {
                            <div class="searchContainer">
                                @{
                                    Html.RenderAction("SearchQuestionResultPartialView", Model.QuestionList);
                                }
                            </div>
                        }
                    </div>
                }
        </div>
    </div>
    @{
        Html.RenderPartial("QuestionFormView", Model.HomeViewModel);
    }
</section>
@Scripts.Render("~/bundles/faqSearchCategory")   

<style>
    .questionTitleWrapper a:hover {
        cursor: pointer;
        color: #ED1C24 !important;
    }
    .questionList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    span.question:hover {
        color: #ED1C24 !important;
    }
    h2.categoryTitle {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    h2.categoryTitle:hover {
        color: #ED1C24 !important;
    }
    .nextWrapper {
        display: flex;
        flex-direction: row-reverse;
    }
    img.next {
        width: 24px;
        height: 24px;
    }
    .categoryCard .questionTitleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .questionTitleWrapper a:nth-child(2) {
        min-width: 24px;
    }
    .categoryResultsContainer > div.breadcrumbs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 10px;
    }
    @@media (max-width: 1023.98px) {
        .categoryResultsContainer > div.breadcrumbs {
            display: none;
        }
    }

/**/

section.searchQuestion { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4.2vh 100px 100px;
    gap: 40px;
    background-color: #FAFAFA;
}
a:hover {
    cursor: pointer;
}
.searchQuestionContainer {
    background: #fff;
    border-radius: 12px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70vw;
    gap: 16px;
    padding: 24px 44px;
    box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
}

span.numberOfRecords {
    color: #FA1D26;
    font-weight: 400;
    font-size: 2rem;
    line-height: 22px;
}

.questionResultCard a { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 100%;
    border: 1px solid #C8E7FF;
    border-radius: 12px;
    -ms-flex-preferred-size: 20vh;
        flex-basis: 20vh;
    padding: 20px 40px 30px;
    gap: 40px;
}

.questionResultCard img {
    width: 10vw;
}

.questionResultCard .question { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
}

.moreButton {
    background-color: transparent; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.moreButton button {
    background-color: transparent;
    color: #FA1D26;
    width: 150px;
    border: none; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
}
.searchContainer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
}

.searchContainer.no-result {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;        
    -webkit-box-align: center;        
        -ms-flex-align: center;        
            align-items: center;
}
.searchContainer.no-result > p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #514D4D;
}
img.no-result {
    width: 400px;
}
.createNewBtn {
    width: 150px;
    height: 40px;
    border: 1px solid #D23538;
    background: #D23538;
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: "Lato-Regular";
}
@@media screen and (max-width: 1023.98px) {
    .searchQuestionContainer {
        background: transparent;
        padding: 0;
    }
    .questionResultCard a {
        padding: 10px 10px 16px;
        gap: 20px;
    }
    .questionResultCard a img {
        width: 40px;
        height: 40px;
    }
    .questionResultCard a .question h1 {
        font-size: 1.4rem;
        font-weight: 700;
    }
    .questionResultCard a .question p {
        font-size: 1.2rem;
    }
}

</style>
@section Scripts
{
    <script>
        function LoadMore(page) {
            var data = {
                topicId : "@Html.Raw(Model.Id)",
                page: page
            }
            $.ajax({
                url: "/GetMoreData",
                method: 'post',
                data: JSON.stringify(data),
                dataType: 'html',  
                contentType: "application/json; charset=utf-8",  
                headers: {  
                    'Accept': 'application/json',  
                    'Content-Type': 'application/json',  
                },  
                success: function (data) {
                    $(".searchContainer").html(data)
                    $('input[name="CurrentPage"]').val(parseInt(page))
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $(".categoryResultsContainer").offset().top
                    });
                }
            });
        }
    </script>
    
}

