﻿@{
    ViewBag.Title = "Tìm kiếm từ khoá " + Model.Keyword;
    Layout = "~/Views/FAQ/_FAQLayout.cshtml";
}
@model TTCMS.Web.ViewModels.FAQSearchQuestionViewModel
@using TTCMS.Resources
<section class="searchQuestion">
    @Html.Hidden("CurrentPage")
    @{
        Html.RenderAction("QuickActionPartialView", new { totalNumberOfRecords = Model.TotalNumberOfRecords});
    }
    <div class="searchQuestionContainer">
        @if(Model.TotalNumberOfRecords > 0){
            <span class="numberOfRecords">@Model.TotalNumberOfRecords kết quả phù hợp với điều Bạn tìm kiếm</span>
        }
        @if (Model.Questions != null && Model.Questions.Count > 0)
        {
            <div class="searchContainer">
                @{
                    Html.RenderAction("SearchQuestionResultPartialView", Model);
                }
            </div>
        } else {
            <div class="searchContainer no-result">
                <img src="/webroot/images/faq/no_result.png" class="no-result">
                <p>Không có kết quả nào phù hợp với điều Bạn tìm</p>
                <button onclick=RedirectToQuestionForm() class="createNewBtn">Tạo câu hỏi mới</button>
            </div>
        }
    </div>
</section>
@{
    Html.RenderPartial("QuestionFormView", Model.HomeViewModel);
}

<style>
    section.searchQuestion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 4.2vh 100px 100px;
        gap: 40px;
        background-color: #FAFAFA;
    }
    a:hover {
        cursor: pointer;
    }
    .searchQuestionContainer {
        background: #fff;
        border-radius: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 60vw;
        gap: 16px;
        padding: 24px 44px;
    }

    span.numberOfRecords {
        color: #FA1D26;
        font-weight: 400;
        font-size: 2rem;
        line-height: 22px;
    }

    .questionResultCard a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        border: 1px solid #C8E7FF;
        border-radius: 12px;
        max-height: 200px;
        -ms-flex-preferred-size: 20vh;
            flex-basis: 20vh;
        padding: 20px 40px 30px;
        gap: 40px;
    }

    .questionResultCard img {
        width: 10vw;
    }

    .questionResultCard .question {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 16px;
    }

    .moreButton {
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .moreButton button {
        background-color: transparent;
        color: #FA1D26;
        width: 150px;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 5px;
    }
    .searchContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 25px;
    }
    
    .searchContainer.no-result {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;        
        -webkit-box-align: center;        
            -ms-flex-align: center;        
                align-items: center;
    }
    .searchContainer.no-result > p {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        color: #514D4D;
    }
    img.no-result {
        width: 400px;
    }
    .createNewBtn {
        width: 150px;
        height: 40px;
        border: 1px solid #D23538;
        background: #D23538;
        border-radius: 6px;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.8rem;
        font-size: 1.4rem;
        font-family: "Lato-Regular";
    }
    @@media screen and (max-width: 1023.98px) {
        .searchQuestionContainer {
            background: transparent;
            padding: 0;
            width: 100%;
        }
        section.searchQuestion {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 4.2vh 30px;
        }
        
        .searchQuestionContainer span.numberOfRecords {
            display: none;
        }
        .questionResultCard a {
            padding: 10px 10px 16px;
            gap: 20px;
        }
        .questionResultCard a img {
            width: 40px;
            height: 40px;
        }
        .questionResultCard a .question h1 {
            display: none;
        }
        .questionResultCard a .question h2 {
            display: block;
            font-size: 1.4rem;
            font-weight: 700;
        }
        .questionResultCard a .question p {
            font-size: 1.2rem;
        }
    }
</style>
@Scripts.Render("~/bundles/faqSearchQuestion")   

<script>
    function LoadMore(page) {
        var data = {
            keyword : "@Html.Raw(Model.Keyword)",
            page: page
        }
        $.ajax({
            url: "/GetMoreData",
            method: 'post',
            data: JSON.stringify(data),
            dataType: 'html',  
            contentType: "application/json; charset=utf-8",  
            headers: {  
                'Accept': 'application/json',  
                'Content-Type': 'application/json',  
            },  
            success: function (data) {
                $(".searchContainer").html(data)
                $('input[name="CurrentPage"]').val(parseInt(page))
                $([document.documentElement, document.body]).animate({
                    scrollTop: $(".searchQuestionContainer").offset().top
                });
            }
        });
    }
</script>

