﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MetaTags{
    <link rel="Stylesheet" href="@Href("~/asset/css/eKYC.css")" />
}

<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/ekyc.png" alt="Ekyc" class="lazyload">
        <h1>Đăng ký mở tài khoản eKYC</h1>
    </div>
</section>

<section class="ekyc-select-image">
    <div class="container">
        <div class="desc">
            <h2>XÁC NHẬN GIẤY TỜ VÀ KHUÔN MẶT</h2>
            <h3>Chụp/ tải ảnh mặt trước và mặt sau giấy tờ của quý khách</h3>
            <p>* Chứng minh thư/Căn cước công dân còn hiệu lực theo quy định của pháp luật.</p>
            <p>
                * Vui lòng sử dụng giấy tờ thật. Hãy đảm bảo ảnh chụp không bị mờ hoặc bóng, thông tin hiển thị rõ
                ràng,
                dễ đọc trong điều kiện đầy đủ ánh sáng, ảnh chụp ở chế độ bình thường không phóng to/ thu nhỏ.
            </p>
        </div>

        <form action="@Url.Action("ConfirmFaceIndex", "OpenAccount")">
            @*<div class="take-photo">
                <div class="row">
                    <div class="col-12 col-md-6 ps-0 pe-4">
                        <div class="title-default">
                            <img src="/webroot/images/icon/chart.svg" alt="Chart">
                            <h2>CMND/CCCD mặt trước</h2>
                        </div>
                        <div class="photo">
                            <input type="file" accept="image/png, image/jpeg" class="d-none">
                            <img src="" alt="TVSI" class="input-upload">
                            <img src="/webroot/images/ekyc/border-red.svg" alt="Border"
                                 class="border-red pc lazyload">
                            <img src="/webroot/images/ekyc/border-red-sp.svg" alt="Border"
                                 class="border-red sp lazyload">
                            <div class="camera">
                                <img data-src="/webroot/images/ekyc/camera.svg" alt="Camera" class="lazyload">
                                <button type="button" class="take">
                                    CHỤP ẢNH
                                </button>
                                <button type="button" class="upload">
                                    TẢI ẢNH LÊN
                                </button>
                            </div>
                            <i class="close"><img data-src="/webroot/images/icon/close.png" alt="Close" class="lazyload"></i>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ps-4 pe-0">
                        <div class="title-default">
                            <img src="/webroot/images/icon/chart.svg" alt="Chart">
                            <h2>CMND/CCCD mặt trước</h2>
                        </div>
                        <div class="photo">
                            <input type="file" accept="image/png, image/jpeg" class="d-none">
                            <img src="" alt="TVSI" class="input-upload">
                            <img src="/webroot/images/ekyc/border-red.svg" alt="Border"
                                 class="border-red pc lazyload">
                            <img src="/webroot/images/ekyc/border-red-sp.svg" alt="Border"
                                 class="border-red sp lazyload">
                            <div class="camera">
                                <img data-src="/webroot/images/ekyc/camera.svg" alt="Camera" class="lazyload">
                                <button type="button" class="take">
                                    CHỤP ẢNH
                                </button>
                                <button type="button" class="upload">
                                    TẢI ẢNH LÊN
                                </button>
                            </div>
                            <i class="close"><img data-src="/webroot/images/icon/close.png" alt="Close" class="lazyload"></i>
                        </div>
                    </div>
                </div>
            </div>
*@
            <div class="form-card ocr-card">
                @*
                    <div class="col-md-12 col-xs-12">
                        <div class="text-infor-address">
                            <p>Chụp/ Tải ảnh mặt trước và mặt sau giấy tờ của Quý khách</p>
                        </div>
                        <div class="row">
                            <div class="rule-tvsi">
                                <p><b style="color: #E83231">!</b> LƯU Ý:</p>
                                <p> &#8226; Chứng minh thư/Căn cước công dân còn hiệu lực theo quy định của pháp luật;</p>
                                <p> &#8226; Vui lòng sử dụng giấy tờ thật. Hãy đảm bảo ảnh chụp không bị mờ hoặc bóng, thông tin hiển thị rõ ràng, dễ đọc trong điều kiện đầy đủ ánh sáng. Không sử dụng ảnh chụp phóng to thu nhỏ.</p>
                            </div>
                        </div>
                    </div>
                    *@
                <div class="tab-pane" id="about">
                    <section class="sRegister ">
                        <div class="sForm__infoWrap">
                            <main class="container-fluid">
                                <div class="sForm__infoWrap__right__content">
                                    <div class="createCapture info-step2">
                                        <div class="wrap__two">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div id="first_card_wrapper" class="wrap__two__content ">
                                                        <div class="wrap__two__content__img">
                                                            <div class="wrap__two__content__img__body">
                                                                <div class="wrap__buton">
                                                                    <div class="wrap__buton__capture upload-button">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase open-camera" type="button" value="Chụp ảnh">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase take_snapshot btn-capture" type="button" value="Chụp ảnh">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase btn-capture-continue" type="button" value="Chụp lại">
                                                                        <input class="image-tag" type="hidden" name="image">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase fileinput card_upload_file" id="fileInputFront" type="file" name="fileUpload" accept="image/*">
                                                                        <div class="upload-button--add btn-danger btn btn-dark btn-more--1 text-uppercase upload-button--add-front card_upload_button">
                                                                            <span class="text-first">Tải ảnh lên</span>
                                                                            <span class="text-last">TẢI LẠI</span>
                                                                            <span class="text-mobile">CHỤP / TẢI ẢNH</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="wrap__two__content__img__body__bg-img">
                                                                    <div class="capture-image camera_attach" id="front_camera">
                                                                    </div>
                                                                    <div class="capture-image camera_result" id="results_front_camera">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="warp__content__img_bottom">
                                                            <span>Mặt trước</span>
                                                        </div>
                                                        <div class="wrap__two__content__error error_front">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div id="last_card_wrapper" class="wrap__two__content">

                                                        <div class="wrap__two__content__img">

                                                            <div class="wrap__two__content__img__body">
                                                                <div class="wrap__buton">
                                                                    <div class="wrap__buton__capture upload-button">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase open-camera" type="button" value="Chụp ảnh">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase take_snapshot btn-capture" type="button" value="Chụp ảnh">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase btn-capture-continue" type="button" value="Chụp lại">
                                                                        <input class="image-tag" type="hidden" name="image">
                                                                        <input class="btn btn-danger btn-more--1 text-uppercase fileinput card_upload_file" id="fileInputBackside" name="fileUpload1" type="file" accept="image/*">
                                                                        <div class="upload-button--add btn-danger btn btn-dark btn-more--1 text-uppercase upload-button--add-front card_upload_button">
                                                                            <span class="text-first">Tải ảnh lên</span>
                                                                            <span class="text-last">TẢI LẠI</span>
                                                                            <span class="text-mobile">CHỤP/TẢI ẢNH</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="wrap__two__content__img__body__bg-img">
                                                                    <div class="capture-image camera_attach" id="backside_camera">
                                                                    </div>
                                                                    <div class="capture-image camera_result" id="results_backside_camera">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="warp__content__img_bottom">
                                                            <span>Mặt sau</span>
                                                        </div>
                                                        <div class="wrap__two__content__error error_back">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap__description">
                                            <p></p>
                                            <div>
                                                @*
                                                    <span style="color:#ff0000"> * Nếu muốn tự nhập thông tin, quý khách vui lòng bấm vào </span><a href="/home/open-account" style="text-decoration:none;">đây</a>
                                                *@
                                            </div>
                                            <p></p>
                                        </div>
                                    </div>

                                </div>
                            </main>

                        </div>
                    </section>
                </div>
            </div>


            <div class="note">
                <p>* Nếu muốn tự nhập thông tin, quý khách vui lòng bấm vào <a href="mo-tai-khoan-TKKH-ca-nhan-trong-nuoc.html">đây</a></p>
            </div>

            <button type="submit" class="continue">TIẾP TỤC</button>
        </form>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
                   var firstCardFile = '';
                   var lastCardFile = '';
                   var trackLoaded;
                   var cameraLoaded;
               
                   function setImageCardPreview($parent, content) {
                       $('video.video-stream', $parent).remove();
                       let trackId = $parent.attr('data-track-id');
                       if (cameraLoaded) {
                           let track = cameraLoaded.getTrackById(trackId);
                           if (track) {
                               track.stop();
                               cameraLoaded.removeTrack(track);
                           }
                       }
               
                       if (content) {
                           $('.camera_result', $parent).html(`<img style="width: 100%; height: 100%" src="${content}"/>`);
                           $parent.addClass("capture-success");
                       } else {
                           $('.camera_result', $parent).empty();
                           $parent.removeClass("capture-success");
                       }
                   }
               
                   function resizeCard($parent, fileUrl) {
                       var image = document.createElement('img');
               
                       image.onload = function (e) {
                           var canvas = document.createElement("canvas");
                           var MAX_WIDTH = 400;
                           var MAX_HEIGHT = 400;
                           var width = image.width;
                           var height = image.height;
               
                           if (width > height) {
                               if (width > MAX_WIDTH) {
                                   height *= (MAX_WIDTH / width);
                                   width = MAX_WIDTH;
                               }
                           } else {
                               if (height > MAX_HEIGHT) {
                                   width *= (MAX_HEIGHT / height);
                                   height = MAX_HEIGHT;
                               }
                           }
                           canvas.width = width;
                           canvas.height = height;
                           var ctx = canvas.getContext("2d");
                           ctx.drawImage(image, 0, 0, width, height);
                           canvas.toBlob(function (blob) {
                               handleCardChangeSuccess($parent, blob, image.src);
                           });
                       };
                       image.src = fileUrl;
                   }
               
                   function handleCardChangeSuccess($parent, file, filePreview) {
                       switch ($parent.prop('id')) {
                           case 'first_card_wrapper':
                               firstCardFile = file;
                               break;
                           case 'last_card_wrapper':
                               lastCardFile = file;
                               break;
                       }
                       $('.card_upload_file', $parent).val();
                       $('.open-camera', $parent).remove();
                       $parent.removeClass('capture-error').addClass("camera-play");
                       setImageCardPreview($parent, filePreview);
               
                       $('#nextClick').prop({
                           disabled: (typeof firstCardFile != 'object' || typeof lastCardFile != 'object')
                       });
                   }
                      function openCameraCallback(ele, track) {
                          $(ele).closest('.wrap__two__content').attr('data-track-id', track.id).addClass("camera-play");
                          $(ele).empty();
                          let $videoElement = $(
                              `<video width="100%" muted playsinline class="video-stream"></video>`
                          ).appendTo(ele);
                          let videoElement = $videoElement.get(0);
                          videoElement.src = null;
                          videoElement.srcObject = cameraLoaded;
                          videoElement.play();
                      }
                   var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
                   function ValidateSingleInput(oInput) {
                       if (oInput.type == "file") {
                           var sFileName = oInput.value;
                           if (sFileName.length > 0) {
                               var blnValid = false;
                               for (var j = 0; j < _validFileExtensions.length; j++) {
                                   var sCurExtension = _validFileExtensions[j];
                                   if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                       blnValid = true;
                                       break;
                                   }
                               }
               
                               if (!blnValid) {
                                   //alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                                   oInput.value = "";
                                   return false;
                               }
                           }
                       }
                       return true;
                   }     
                       function startCamera(ele) {
                   
                           if (cameraLoaded && cameraLoaded.getTracks().length > 0) {
                               let track = cameraLoaded.getTracks()[0].clone();
                               cameraLoaded.addTrack(track);
                               openCameraCallback(ele, track);
                               return;
                           }
                           $('#mtk-loader').addClass('loading');
                          
                           navigator.mediaDevices.getUserMedia({
                               video: {
                                   width: $(ele).width(),
                                   height: $(ele).height(),
                                   facingMode: 'user'
                               },
                               audio: false
                           }).then(function (stream) {
                               cameraLoaded = stream;
                               openCameraCallback(ele, cameraLoaded.getTracks()[0]);
                               $('#mtk-loader').removeClass('loading');
                            
                           }).catch(function (err) {
                             
                               $("#modal-camera").modal('show');
                               $('#mtk-loader').removeClass('loading');
                           });
                   
                       }
        $('.open-camera, .btn-capture-continue').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            if (!navigator.mediaDevices || typeof navigator.mediaDevices.getUserMedia != 'function' || !navigator.mediaDevices.enumerateDevices) {
                console.log("no cam");
            	return;
            }
           console.log("asdsada");
            let $parent = $(e.currentTarget).closest('.wrap__two__content');
            setImageCardPreview($parent, '');
            startCamera($parent.find('.camera_attach').get(0));
        });

        $('.take_snapshot').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            if (!cameraLoaded) {
                return;
            }
            let ele = e.currentTarget;
            let $parent = $(ele).closest('.wrap__two__content');
            let $video = $('video.video-stream', $parent);
            let video = $video.get(0);

            let trackId = $parent.attr('data-track-id');
            let track = cameraLoaded.getTrackById(trackId);
            let canvas = document.createElement("canvas");
            canvas.width = $(video).width();
            canvas.height = $(video).height();
            ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.toBlob(function (blob) {
                handleCardChange(blob, $parent);
            });
        });

        $('.btn-camera-mobile').on('change', function (e) {
            // limit upload 10mb
            if ($(this)[0].files[0].size > 10000000) {
            	swal( "Ảnh dung lượng quá cao!" ,  "Vui lòng tải lên ảnh dung lượng dưới 10MB !" ,  "error" )          
                return false;
            }
            $(".face-to-ekyc .results_front_camera").removeClass("results_front_camera");
            $(".face-to-ekyc .camera_result").addClass("results_front_camera_second");
            let ele = e.currentTarget;
            let $parent = $(ele).closest('.wrap__two__content');

            $isFileType = ValidateSingleInput(ele);
            if (!$isFileType) {
                $('.wrap__two__content__error', $parent).show();
                $('.wrap__two__content__error', $parent).html(validateMessages.image_format_invalid || 'Vui lòng chọn đúng định dạng hình ảnh.');
                return false;
            } else {
                $('.wrap__two__content__error', $parent).html('');
            }

            if (ele.files.length <= 0) {
                return;
            }
            let file = ele.files[0];
            handleCardChange(file, $parent);
        });
        $('.card_upload_file').on('change', function (e) {
            // limit upload 10mb
            if ($(this)[0].files[0].size > 10000000) {
            	swal ( "Ảnh dung lượng quá cao!" ,  "Vui lòng tải lên ảnh dung lượng dưới 10MB !" ,  "error" )
                return false;
            }          
            console.log("step 1");
            let ele = e.currentTarget;
            let $parent = $(ele).closest('.wrap__two__content');
            $isFileType = ValidateSingleInput(ele);
            if (!$isFileType) {
                $('.wrap__two__content__error', $parent).show();
                $('.wrap__two__content__error', $parent).html(validateMessages.image_format_invalid || 'Vui lòng chọn đúng định dạng hình ảnh.');
                return false;
            } else {
                $('.wrap__two__content__error', $parent).html('');
            }

            if (ele.files.length <= 0) {
                return;
            }
            let file = ele.files[0];
            handleCardChange(file, $parent);
        });
        $('.card_upload_button').on('click', function (e) {
        
                    e.preventDefault();
                    e.stopPropagation();
                    let ele = e.currentTarget;
                    let $parent = $(ele).closest('.wrap__two__content');
                    $('.btn-camera-mobile', $parent).trigger('click');
                    $('.card_upload_file', $parent).trigger('click');
                });

            function handleCardChange(file, $parent) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    if (file.size <= Math.pow(2, 20)) {
                        handleCardChangeSuccess($parent, file, e.target.result);
                        return;
                    }
        
                    resizeCard($parent, e.target.result);
                }
                reader.readAsDataURL(file);
            }
        $('#form-short').on('submit', function (e) {
            e.preventDefault();
            let form = this;
            let flag = true;
            $('#form-submit-msg').empty();
            if (firstCardFile == 'init' && lastCardFile == 'init') {
                $('#mtk-loader').addClass('loading');
                window.location.assign('?step=3');
                return;
            }
            if (!firstCardFile) {
                flag = false;
                $('#first_card_wrapper').addClass('capture-error');
                $('#first_card_wrapper').find('.wrap__two__content__error').text(idCardErrorsDefined.other || errorMessageDefault);
            }


            if (!lastCardFile) {
                flag = false;
                $('#last_card_wrapper').addClass('capture-error');
                $('#last_card_wrapper').find('.wrap__two__content__error').text(idCardErrorsDefined.other || errorMessageDefault);
            }

            if (!flag) {
                return;
            }
            var widgetPromise = CreatePromise(function (resolve) {
                widgetFrontResolver = resolve;
            });

            $('#mtk-loader').addClass('loading');
            widgetPromise.then(function (result) {
                let formData = new FormData();
                formData.append('first_card', firstCardFile);
                formData.append('last_card', lastCardFile);
                formData.append('g-recaptcha-response', result);
                $.ajax({
                    headers: {
                        'X-CSRF-TOKEN': $('#form-short [name="_token"]').val()
                    },
                    type: 'post',
                    url: $(form).prop('action'),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.assign('?step=3');
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && typeof xhr.responseJSON.errors == 'object') {
                            let errors = xhr.responseJSON.errors;
                            if (errors['g-recaptcha-response']) {
                                $('#form-submit-msg').text(validateMessages.recaptcha || errorMessageDefault);
                            } else {
                                if (errors.hasOwnProperty('first_card')) {
                                    $('#first_card_wrapper').addClass('capture-error');
                                    let firstCardCode = errors.first_card.error_code;
                                    let firstCardMsg;
                                    if (firstCardCode && idCardErrorsDefined[firstCardCode]) {
                                        firstCardMsg = idCardErrorsDefined[firstCardCode];
                                    } else if (idCardErrorsDefined.other) {
                                        firstCardMsg = idCardErrorsDefined.other;
                                    } else {
                                        firstCardMsg = errors.first_card.error_message || errorMessageDefault;
                                    }

                                    $('#first_card_wrapper').find('.wrap__two__content__error').text(firstCardMsg);
                                } else {
                                    $('#first_card_wrapper').removeClass('capture-error');
                                }
                                if (xhr.responseJSON.errors.hasOwnProperty('last_card')) {
                                    $('#last_card_wrapper').addClass('capture-error');
                                    let lastCardCode = errors.last_card.error_code;
                                    let lastCardMsg;
                                    if (lastCardCode && idCardErrorsDefined[lastCardCode]) {
                                        lastCardMsg = idCardErrorsDefined[lastCardCode];
                                    } else if (idCardErrorsDefined.other) {
                                        lastCardMsg = idCardErrorsDefined.other;
                                    } else {
                                        lastCardMsg = errors.last_card.error_message || errorMessageDefault;
                                    }

                                    $('#last_card_wrapper').find('.wrap__two__content__error').text(lastCardMsg);
                                } else {
                                    $('#last_card_wrapper').removeClass('capture-error');
                                }
                            }

                        } else {
                            $('#first_card_wrapper').removeClass('capture-error');
                            $('#last_card_wrapper').removeClass('capture-error');
                            $('#form-submit-msg').text(errorMessageDefault);
                        }


                        $('#mtk-loader').removeClass('loading');
                    }
                });
            });
            grecaptcha.reset(widgetFront);
            grecaptcha.execute(widgetFront).catch(function (err) {
                $('#form-submit-msg').text(validateMessages.recaptcha || errorMessageDefault);
                $('#mtk-loader').removeClass('loading');
            });


        });
        
        </script>
    

}
