﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/ekyc.png" alt="Ekyc" class="lazyload">
        <h1>Đăng ký mở tài khoản eKYC</h1>
    </div>
</section>

<section class="ekyc-form photo">
    <div class="container">
        <div class="desc">
            <h2>XÁC NHẬN GIẤY TỜ VÀ KHUÔN MẶT</h2>
        </div>

        <div class="confirm">
            <form action="@Url.Action("PersonalInforIndex","OpenAccount")">
                <div class="left">
                    <div class="form-input">
                        <label for="name">Họ tên<span>*</span></label>
                        <input type="text" id="name">
                    </div>
                    <div class="form-input">
                        <label for="identity">Số chứng minh thư<span>*</span></label>
                        <input type="text" id="identity"
                               placeholder="Chứng minh thư còn hạn sử dụng 15 năm">
                    </div>
                    <div class="form-input">
                        <label for="birthday">Ngày sinh<span>*</span></label>
                        <input type="text" id="birthday" placeholder="DD/MM/YYYY">
                    </div>
                    <div class="form-input">
                        <label for="regular_address">Nơi ĐKHKTT<span>*</span></label>
                        <input type="text" id="regular_address">
                    </div>
                    <div class="form-input">
                        <label for="date">Ngày cấp<span>*</span></label>
                        <input type="text" id="date" placeholder="DD/MM/YYYY">
                    </div>
                    <div class="form-input">
                        <label for="date">Nơi cấp<span>*</span></label>
                        <input type="text" id="address" placeholder="Nơi cấp">
                    </div>

                    <label class="checkbox-default pc">
                        Tôi đồng ý để TVSI sử dụng hình ảnh và video cho mục đích xác thực và cung cấp cho cơ quan quản lý nếu được yêu cầu
                        <input type="checkbox" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <button type="submit" class="continue pc ms-auto me-0 mt-5">TIẾP TỤC</button>
                </div>
                <div class="right">
                    <div class="photo">
                        <img data-src="/webroot/images/tmp/cmnd-mat-truoc.png" alt="CMND/CCCD mặt trước" class="lazyload">
                        <img data-src="/webroot/images/tmp/cmnd-mat-sau.png" alt="CMND/CCCD mặt sau" class="lazyload">
                        <img data-src="/webroot/images/tmp/anh-chan-dung.png" alt="Ảnh chân dung" class="lazyload">
                    </div>
                </div>
                <button type="submit" class="continue sp">TIẾP TỤC</button>
            </form>
        </div>
    </div>
</section>


