﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/ekyc.png" alt="Ekyc" class="lazyload">
        <h1>Đăng ký mở tài khoản eKYC</h1>
    </div>
</section>

<section class="ekyc-select-image">
    <div class="container">
        <div class="desc">
            <h2>XÁC NHẬN GIẤY TỜ VÀ KHUÔN MẶT</h2>
            <h3>Để xác thực thông tin khách hàng qua hình ảnh, quý khách vui lòng chụp ảnh khuôn mặt</h3>
            <p>* Thiết bị có Camera và gương mặt của quý khách cần phải xuất hiện trong ảnh</p>
            <p>* Trang phục lịch sự</p>
        </div>

        <form action="@Url.Action("ConfirmFaceAndIdentityIndex","OpenAccount")">
            <div class="take-photo">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 ps-0 pe-0">
                        <div class="title-default">
                            <img src="/webroot/images/icon/chart.svg" alt="Chart">
                            <h2>Xác thực khuôn mặt</h2>
                        </div>
                        <div class="photo just-take">
                            <input type="file" accept="image/png, image/jpeg" class="d-none">
                            <img src="" alt="TVSI" class="input-upload">
                            <img src="/webroot/images/ekyc/border-red.svg" alt="Border"
                                 class="border-red pc lazyload">
                            <img src="/webroot/images/ekyc/border-red-sp.svg" alt="Border"
                                 class="border-red sp lazyload">
                            <div class="camera">
                                <img data-src="/webroot/images/ekyc/camera.svg" alt="Camera" class="lazyload">
                                <button type="button" class="take">
                                    CHỤP ẢNH
                                </button>
                            </div>
                            <i class="close"><img data-src="/webroot/images/icon/close.png" alt="Close" class="lazyload"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="note">
                <p>* Nếu muốn tự nhập thông tin, quý khách vui lòng bấm vào <a href="mo-tai-khoan-TKKH-ca-nhan-trong-nuoc.html">đây</a></p>
            </div>

            <button type="submit" class="continue">TIẾP TỤC</button>
        </form>
    </div>
</section>

