﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/ekyc.png" alt="Ekyc" class="lazyload">
        <h1>Đăng ký mở tài khoản eKYC</h1>
    </div>
</section>

<section class="ekyc-form otp">
    <div class="container">
        <div class="desc">
            <h2>XÁC THỰC THÔNG TIN TÀI KHOẢN</h2>
        </div>

        <div class="confirm">
            <form action="@Url.Action("PersonalInforIndex","OpenAccount")">
                <div class="bg">
                    <p>Để hoàn thành xác thực tài khoản Quý khách vui lòng nhập mã xác thực OTP đã được gửi về số điện thoại</p>

                    <div class="form-input">
                        <label for="otp">Nhập mã OTP<span>*</span></label>
                        <input type="text" id="otp">
                    </div>

                    <button type="submit" class="continue ms-auto">XÁC THỰC TÀI KHOẢN</button>
                </div>
            </form>
        </div>
    </div>
</section>

