﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-default">
    <div class="bg">
        <img data-src="/webroot/images/banner/ekyc.png" alt="Ekyc" class="lazyload">
        <h1>Đăng ký mở tài khoản eKYC</h1>
    </div>
</section>

<section class="ekyc-form personal">
    <div class="container">
        <div class="desc">
            <h2>KIỂM TRA THÔNG TIN CÁ NHÂN</h2>
        </div>

        <div class="confirm">
            <form action="@Url.Action("OTPConfirmIndex","OpenAccount")">
                <h3>Thông tin cơ bản</h3>
                <div class="flex-input">
                    <div class="form-input">
                        <label for="phone_number">Số điện thoại<span>*</span></label>
                        <input type="text" id="phone_number">
                    </div>
                    <div class="form-input">
                        <label for="email">Email</label>
                        <input type="text" id="email">
                    </div>
                </div>
                <div class="form-input">
                    <label for="address">Địa chỉ<span>*</span></label>
                    <input type="text" id="address"
                           placeholder="Có thể liên lạc và nhận tài liệu, hợp đồng từ TVSI">
                </div>
                <div class="form-input">
                    <label for="staff_id">Mã nhân viên tư vấn<span>*</span></label>
                    <input type="text" id="staff_id" placeholder="Quý khách vui lòng nhập mã nhân viên nếu có">
                </div>

                <div class="flex-label">
                    <label class="only">Phương thức giao dịch</label>
                    <label class="checkbox-default">
                        Qua điện thoại
                        <input type="checkbox" name="via_phone">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-default">
                        Qua internet
                        <input type="checkbox" name="via_internet">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex-label">
                    <label class="only">Phương thức nhận KQGD</label>
                    <label class="checkbox-default">
                        Qua sms
                        <input type="checkbox" name="via_phone">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-default">
                        Qua email
                        <input type="checkbox" name="via_internet">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex-label">
                    <label class="only">Phương thức nhận sao kê</label>
                    <label class="checkbox-default">
                        Thư đảm bảo
                        <input type="checkbox" name="via_phone">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-default">
                        Qua email
                        <input type="checkbox" name="via_internet">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex-label">
                    <label class="checkbox-default">
                        Đăng ký kênh đặt lệnh
                        <input type="checkbox" name="via_phone">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-default">
                        Ký tên trực tiếp trên DS
                        <input type="checkbox" name="via_phone">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-default">
                        Xác nhận qua itradeHome
                        <input type="checkbox" name="via_internet">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <h3>Thông tin ngân hàng</h3>
                <div class="flex-label">
                    <label class="only">Dịch vụ chuyển tiền trực tuyến</label>
                    <label class="checkbox-default">
                        Sang TK ngân hàng
                        <input type="checkbox" name="via_phone">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="flex-input">
                    <div class="form-input">
                        <label for="phone_number">Ngân hàng</label>
                        <input type="text" id="bank_owner" placeholder="Chủ tài khoản...">
                    </div>
                    <div class="form-input">
                        <label for="bank_owner"></label>
                        <input type="text" id="bank_number" placeholder="Số tài khoản...">
                    </div>
                </div>
                <div class="flex-input">
                    <div class="form-input">
                        <label for="phone_number"></label>
                        <input type="text" id="bank" placeholder="Chọn ngân hàng...">
                    </div>
                    <div class="form-input">
                        <label for="city"></label>
                        <select id="city" name="city">
                            <option value="">Chọn Tỉnh/TP</option>
                            <option value="Đà Nẵng">Đà nẵng</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                        </select>
                    </div>
                </div>
                <div class="form-input">
                    <label for="address"></label>
                    <input type="text" id="branch"
                           placeholder="Chọn chi nhánh...">
                </div>
                <div class="flex-input">
                    <div class="form-input security">
                        <label for="security">Ký tự bảo mật (<span>*</span>)</label>
                        <input type="text" id="security">
                        <button type="button" class="continue gray sp">Q66FET</button>
                    </div>
                    <div class="form-input">
                        <button type="button" class="continue gray pc">Q66FET</button>
                        <a href="mo-tai-khoan-ekyc-3.html" class="continue black">QUAY LẠI</a>
                        <button type="submit" class="continue">HOÀN THÀNH</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


