﻿@model TTCMS.Web.Areas.TT_Admin.Models.NewsTableViewModel
@using PagedList.Mvc;

<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }
</style>

@if (Model.ModelList.Any())
{
    <input id="Page" type="hidden" value="@Model.ModelList.PageNumber" />
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@TTCMS.Resources.Resources.TitleText</th>
                <th class="text-center">@TTCMS.Resources.Resources.LanguageTest</th>
                <th class="hidden-480">@TTCMS.Resources.Resources.CreatedByText</th>
                @*<th>
                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                        @TTCMS.Resources.Resources.Created
                    </th>*@
                <th class="hidden-480">@TTCMS.Resources.Resources.Status</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.Id">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Title))
                        {
                            <a class="d-block category__name" href="@Url.Action("Edit", new { Id = item.Id })">
                                <b>@item.LanguageId:</b> @item.Title
                            </a>
                        }
                        else
                        {
                            <span>@item.Title</span>
                        }
                    </td>
                    <td class="text-center">@Html.Action("GetLangName", "LanguageManagement", new { Id = item.LanguageId })</td>
                    @*<td class="hidden-480">@item.CreatedBy</td>*@
                    <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                    <td class="hidden-480">
                       <span class="label label-sm label-success arrowed arrowed-right"><i class="fa fa-unlock"></i> Active</span>
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <div class="dropdown">
                                <a class="btn btn-xs btn-info" href="@Url.Action("Edit", new { id = item.Id, languageId = item.LanguageId })">
                                    @TTCMS.Resources.Resources.EditText
                                    @*<button 
                                        class="btn btn-xs btn-info" 
                                        type="button" 
                                        id="btn-edit" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"
                                        onclick="@Url.Action("Edit", new { id = item.NewsID, languageId = item.LanguageID })"
                                    >
                                    </button>*@
                                </a>
                                @*<ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var language in Model.Languages.Where(lang => item.LanguageID == lang.Id))
                                    {
                                        <li>
                                            <a href="@Url.Action("Edit", new { id = item.NewsID, languageId = language.Id })">
                                                @language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>*@
                            </div>
                            @*<div class="dropdown">
                                <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="btn-add-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.CreateLanguageText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var language in Model.Languages.Where(lang => item.LanguageID != lang.Id))
                                    {
                                        <li>
                                            <a href="@Url.Action("Create", new { id = item.NewsID, languageId = language.Id })">
                                                @language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>*@
                            @Ajax.ActionLink(
                                TTCMS.Resources.Resources.DeleteText,
                                "Delete",
                                new { Id = item.Id },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Delete",
                                    Confirm = TTCMS.Resources.Resources.ConfirmText,
                                    UpdateTargetId = @item.CategoryId.ToString(),
                                    OnSuccess = "onSuccess"
                                },
                                new
                                {
                                    @class = "btn btn-xs btn-danger DeleteDialog",
                                    @title = TTCMS.Resources.Resources.DeletePost
                                }
                            )
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@TTCMS.Resources.Resources.Page @(Model.ModelList.PageCount < Model.ModelList.PageNumber ? 0 : Model.ModelList.PageNumber) @TTCMS.Resources.Resources.Of @Model.ModelList.PageCount</div></div>
        <div class="col-xs-6 no-padding">
            <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
                @Html.PagedListPager(
                    Model.ModelList,
                    page => Url.Action("Index",
                    new { page, show = Model.Show, search = Model.Search }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "TableContainer" })
             )
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}