﻿@model  TTCMS.Web.Areas.TT_Admin.Models.NewsViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.CreateNewsText;
    bool isEditPage = Model.Id > 0;
    string thumbnail = string.IsNullOrEmpty(Model.ImageUrl) ? "/Content/images/add-image.jpg" : Model.ImageUrl;
}

<link href="~/Content/admin/css/chosen.min.css" rel="stylesheet" />
@*<link href="~/Content/admin/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
<style type="text/css">
    .chosen-drop {
        position: relative !important;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">@TTCMS.Resources.Resources.ListNewsText</a>
                </li>
                <li class="active">@(isEditPage ? TTCMS.Resources.Resources.EditNewsText : TTCMS.Resources.Resources.CreateNewsText)</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(isEditPage ? "Edit" : "Create", "NewsManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Id)
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.TitleText <span style="color:red">*</span></h5>
                                @Html.TextBoxFor(x => x.Title, new { @class = "col-xs-12 col-sm-12 get-slug", @placeholder = TTCMS.Resources.Resources.TitleText })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.Description</h5>
                                @Html.TextAreaFor(x => x.Description, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.Description })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.BodyText <span style="color:red">*</span></h5>
                                @Html.TextAreaFor(x => x.Content, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = TTCMS.Resources.Resources.BodyText })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.KeywordsText</h5>
                                @Html.TextBoxFor(x => x.Keyword, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.KeywordsText })
                                @Html.ValidationMessageFor(model => model.Keyword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-9">
                                <div class="col-md-5">
                                    @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index")
                                </div>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    @if (isEditPage)
                                    {
                                        @TTCMS.Resources.Resources.btnUpdateSubmit
                                    }
                                    else
                                    {
                                        @TTCMS.Resources.Resources.btnCreateSubmit
                                    }
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset" onclick="BrowseServer();">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @TTCMS.Resources.Resources.btnReset
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="widget-box" style="overflow:hidden">
                            <div class="widget-header">
                                <h4 class="widget-title">@TTCMS.Resources.Resources.Option</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div style="padding-top:10px;" class="form-group">
                                        <div class="col-xs-12">
                                            <label class="ace-file-input ace-file-multiple">
                                                <span class="ace-file-container hide-placeholder selected">
                                                    <span data-title="Ảnh đại diện" class="ace-file-name large" id="ThumbnailContainer">
                                                        @Html.HiddenFor(x => x.ImageUrl)
                                                        <img id="Image" class="middle" style="max-width:250px;max-height:250px;" src="@thumbnail" />
                                                        <i class=" ace-icon fa fa-picture-o file-image"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.ActiveText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-1"></label>
                                        <div class="controls col-xs-12 col-sm-10">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.IsHot, new { @class = "ace input-lg" })
                                                        <span class="lbl"> Tin nổi bật</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4"> @TTCMS.Resources.Resources.PublishedText </label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="datetime-local" id="NewsItem_Published" name="NewsItem.Published" value="@Model.CreatedDate.ToString()" />
                                                    @*<input type="datetime-local" id="NewsItem_Published" name="NewsItem.Published" value="@Model.CreatedDate.ToString("yyyy-MM-ddTHH:mm")" />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.LanguageText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.Language.Id, (SelectList)Model.Lang, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.Category</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.CategoryId, Model.ListCategory, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/chosen.jquery.min.js"></script>
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/admin/js/bootstrap-tag.min.js"></script>
    <script src="~/Content/admin/js/date-time/moment.min.js"></script>
    @*<script src="~/Content/admin/js/date-time/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script>
        $(document).ready(function () {
            $(".category-chosen-select").chosen();
            $(".isHost-category-chosen-select").chosen();
            $(function () {
                CKEDITOR.replace("ckeditor");
            });
        });

        window.onload = function () {
            $("#ThumbnailContainer").on("click", function () {
                BrowseServer(handleSelectAction);
            });

            $('#Order')
                .ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
                .closest('.ace-spinner')
                .on('changed.fu.spinbox', function () { });

            $("#NewsItem_Title")
                .on("keypress", onTitleKeypress);

            $("#NewsItem_Slug")
                .on("input", function (e) {
                    e.target.value = SlugModule.getSlugOnInput(e.target.value);
                });
        }

        function onTitleKeypress(e) {
            const value = this.value;
            const slug = SlugModule.getSlug(value) || "";
            $("#NewsItem_Slug").val(slug);
        }

        function handleSelectAction(fileUrl) {
            $('#Thumbnail').val(fileUrl);
            $('#Image').attr("src", fileUrl);
        }

        jQuery.validator.methods["date"] = function (value, element) { return true; }

        var tag_input = $('#Tag');

        try {
            tag_input.tag({
                placeholder: tag_input.attr('placeholder'),
                //enable typeahead by specifying the source array
                source: ace.vars['US_STATES'], //defined in ace.js >> ace.enable_search_ahead
            })

            //programmatically add a new
            var $tag_obj = $('#Tag').data('tag');
        }
        catch (e) {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
        }

    </script>
}