﻿@{
    ViewBag.Title = @TTCMS.Resources.Resources.AnnualReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TTCMS.Web.ViewModels.InvestorRelationViewModel
@using TTCMS.Resources
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/quan-he-nha-dau-tu.png" alt="TVSI" class="lazyload">
        <h1>@Resources.InvestorRelation</h1>
    </div>
</section>

<section class="section-menu">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("FinancialReport")">
            <p>@Resources.FinancialReport</p>
        </a>
        <a class="menu" href="@Url.Action("EnterpriseManagement")">
            <p>@Resources.EnterpriseManagement</p>
        </a>
        <a class="menu" href="@Url.Action("PublicInformation")">
            <p>@Resources.PublishedInformation</p>
        </a>
        <a class="menu" href="@Url.Action("GeneralStakeholderMeeting")">
            <p>@Resources.GeneralStakeholderMeeting</p>
        </a>
        <a class="menu active" href="@Url.Action("AnnualReport")">
            <p>@Resources.AnnualReport</p>
        </a>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <div class="menu">
                <a href="@Url.Action("FinancialReport")">@Resources.FinancialReport</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("EnterpriseManagement")">@Resources.EnterpriseManagement</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("PublicInformation")">@Resources.PublishedInformation</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("GeneralStakeholderMeeting")">@Resources.GeneralStakeholderMeeting</a>
            </div>
            <div class="menu active">
                <a href="@Url.Action("AnnualReport")">@Resources.AnnualReport</a>
            </div>
        </div>
    </div>

    <div class="divider">
        <hr>
    </div>

    <div class="menu-detail">
        <div class="container">
            <div class="row">
                @if (Model.Data != null && Model.Data.Count > 0)
                {
                    foreach(var item in Model.Data) {
                        <div class="col-md-4 text-center">
                            <img src="/Content/gallery/bao-cao-thuong-nien/@item.duong_dan_file_anh">   
                            <a href="@item.noi_dung"><h4 class="text-center menu-title">@item.tieu_de</h4></a>
                        </div>
                    }
                    if (Model.TotalNumberOfPage > 0)
                    {
                        <nav class="menu-paginate">
                        <ul class="pagination">
                            @if(Model.CurrentPage != 0) {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(Model.CurrentPage-1)")">
                                        <pre><</pre>
                                    </a>
                                </li>
                            }
                            @if(Model.TotalNumberOfPage <= 6) {
                                for (int i = 1; i <= Model.TotalNumberOfPage; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="?page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else if(Model.CurrentPage < 3 && Model.CurrentPage >= 0){
                                for (int i = 1; i <= 3; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="?page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    ...
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(Model.TotalNumberOfPage - 1)")">
                                        @Model.TotalNumberOfPage
                                    </a>
                                </li>
                            }
                            else if (Model.CurrentPage >= 3 && Model.CurrentPage + 1 < Model.TotalNumberOfPage - 2)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?page=0")">
                                        1
                                    </a>
                                </li>
                                <li>
                                    ...
                                </li>
                                for (int i = Model.CurrentPage; i <= Model.CurrentPage + 2; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="?page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    ...
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(Model.TotalNumberOfPage - 1)")">
                                        @Model.TotalNumberOfPage
                                    </a>
                                </li>
                            }
                            else {
                                <li class="page-item">
                                    <a class="page-link" href="?page=0")">
                                        1
                                    </a>
                                </li>
                                <li>
                                    ...
                                </li>
                                for (int i = Model.TotalNumberOfPage - 2; i <= Model.TotalNumberOfPage; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage + 1 ? "active" : "")">
                                        <a class="page-link" href="?page=@(i-1)")">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            @if(Model.CurrentPage + 1 != Model.TotalNumberOfPage) {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(Model.CurrentPage+1)")">
                                        <pre>></pre>
                                    </a>
                                </li>
                            }
                        </ul>
                        </nav>
                    }
                }
                else {
                    <p>Không có tin bài</p>
                }
                
            </div>
        </div>
    </div>
</section>

<style>
    @@media (min-width: 768px) {
        section.banner-default {
            margin-top: 132px;
        }
    }
    .col-md-4 {
        margin-bottom: 20px;
    }
</style>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.vertical-scrolling').scrollLeft(300)
        })
    </script>
}

<style>
    .page-item.disabled {
        cursor: not-allowed;
    }
    .page-item.disabled:hover {
        background: transparent;
    }
</style>
