﻿@{
    ViewBag.Title = @TTCMS.Resources.Resources.GeneralStakeholderMeeting;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TTCMS.Resources
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/quan-he-nha-dau-tu.png" alt="TVSI" class="lazyload">
        <h1>@Resources.InvestorRelation</h1>
    </div>
</section>

<section class="section-menu">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("FinancialReport")">
            <p>@Resources.FinancialReport</p>
        </a>
        <a class="menu" href="@Url.Action("EnterpriseManagement")">
            <p>@Resources.EnterpriseManagement</p>
        </a>
        <a class="menu" href="@Url.Action("PublicInformation")">
            <p>@Resources.PublishedInformation</p>
        </a>
        <a class="menu active" href="@Url.Action("GeneralStakeholderMeeting")">
            <p>@Resources.GeneralStakeholderMeeting</p>
        </a>
        <a class="menu" href="@Url.Action("AnnualReport")">
            <p>@Resources.AnnualReport</p>
        </a>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <div class="menu">
                <a href="@Url.Action("FinancialReport")">@Resources.FinancialReport</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("EnterpriseManagement")">@Resources.EnterpriseManagement</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("PublicInformation")">@Resources.PublishedInformation</a>
            </div>
            <div class="menu active">
                <a href="@Url.Action("GeneralStakeholderMeeting")">@Resources.GeneralStakeholderMeeting</a>
            </div>
            <div class="menu">
                <a href="@Url.Action("AnnualReport")">@Resources.AnnualReport</a>
            </div>
        </div>
    </div>

    <div class="divider">
        <hr>
    </div>

    <div class="menu-detail">
        <div class="container">
            @Html.Raw(Model.Data.noi_dung.ToString())
        </div>
    </div>
</section>

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $('.vertical-scrolling').scrollLeft(200)
    })
</script>
}

<style>
    @@media (min-width: 768px) {
        section.banner-default {
            margin-top: 132px;
        }
    }
    .info-for-shareholders .item:first-child {
        padding-top: 0;
        border-top: none;
    }
    @@media screen and (min-width: 992px){
        .info-for-shareholders .item {
            display: table;
            width: 100%;
        }
    }
    .info-for-shareholders .item {
        overflow: hidden;
        padding: 20px 0;
        border-top: 1px dashed #656565;
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }
    .info-for-shareholders .item .left {
        width: 35%;
    }
    .info-for-shareholders .item .right {
        width: 60% !important;
    }
</style>