﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderSection("scripts", required: false)
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/tthd-bg.png" alt="TVSI" class="lazyload" style="width: 100%;">
        <h1>Tin tức hoạt động</h1>
    </div>
</section>

<section class="section-menu">
    <div class="swiper-container menu-default sp">
        <div class="swiper-wrapper">
            <a class="swiper-slide menu" data-type="1" href="@Url.Action("TVSIForCommunity")">
                <p>TVSI VÌ<br>CỘNG ĐỒNG</p>
            </a>
            <a class="swiper-slide menu active" data-type="2" href="@Url.Action("DocumentaryImage")">
                <p>ẢNH<br>TƯ LIỆU</p>
            </a>
            <a class="swiper-slide menu" data-type="3" href="@Url.Action("TVSIWithPress")">
                <p>TSVI VỚI<br>BÁO CHÍ</p>
            </a>
            <a class="swiper-slide menu" data-type="4" href="@Url.Action("InternalActivity")">
                <p>HOẠT ĐỘNG<br>NỘI BỘ</p>
            </a>
        </div>
        <div class="swiper-button-next for-menu"></div>
        <div class="swiper-button-prev for-menu"></div>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <a class="menu" data-type="1" href="@Url.Action("TVSIForCommunity")">
                <p>TSVI VÌ CỘNG ĐỒNG</p>
            </a>
            <a class="menu active" data-type="2" href="@Url.Action("DocumentaryImage")">
                <p>ẢNH TƯ LIỆU</p>
            </a>
            <a class="menu" data-type="3" href="@Url.Action("TVSIWithPress")">
                <p>TSVI VỚI BÁO CHÍ</p>
            </a>
            <a class="menu" data-type="4" href="@Url.Action("InternalActivity")">
                <p>HOẠT ĐỘNG NỘI BỘ</p>
            </a>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</section>

