﻿@{
    @* ViewBag.Title = TTCMS.Resources.Resources.DocumentaryImage; *@
    ViewBag.Title = "Ảnh tư liệu";
}
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/tthd-bg.png" alt="TVSI" class="lazyload" style="width: 100%;">
        <h1>Tin tức hoạt động</h1>
    </div>
</section>

<section class="section-menu">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("TVSIForCommunity")">
            <p>TVSI VÌ CỘNG ĐỒNG</p>
        </a>
        <a class="menu active" href="@Url.Action("DocumentaryImage")">
            <p>ẢNH TƯ LIỆU</p>
        </a>
        <a class="menu" href="@Url.Action("TVSIWithPress")">
            <p>TSVI VỚI BÁO CHÍ</p>
        </a>
        <a class="menu" href="@Url.Action("InternalActivity")">
            <p>HOẠT ĐỘNG NỘI BỘ</p>
        </a>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <a class="menu" href="@Url.Action("TVSIForCommunity")">
                <p>TSVI VÌ CỘNG ĐỒNG</p>
            </a>
            <a class="menu active" href="@Url.Action("DocumentaryImage")">
                <p>ẢNH TƯ LIỆU</p>
            </a>
            <a class="menu" href="@Url.Action("TVSIWithPress")">
                <p>TSVI VỚI BÁO CHÍ</p>
            </a>
            <a class="menu" href="@Url.Action("InternalActivity")">
                <p>HOẠT ĐỘNG NỘI BỘ</p>
            </a>
        </div>
    </div>

    <div class="divider">
        <hr>
    </div>
    <div class="container">
        <div class="menu-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <nav class="menu-paginate">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#"><pre><</pre></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#"><pre>></pre></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
