@model TTCMS.Web.ViewModels.ActivityNewsViewModel
@using TTCMS.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-default">
    <div class="bg">
        <img data-src="@Model.ImagePath" alt="TVSI" class="lazyload" style="width: 100%;">
        <h1>@ViewBag.Title</h1>
    </div>
</section>

<section class="section-menu">
    @if (Model.CategoriesMenu != null)
    {
        <div class="menu-default pc">
            <div class="container">
                @foreach (var item in Model.CategoriesMenu)
                {
                <a class="menu @(item.isActived ? "active" : "") " href="/category/@(item.Slug)">
                    <p>@item.Name</p>
                </a>
                }
            </div>
        </div>
        <div class="vertical-scrolling menu-default sp">
            @foreach (var item in Model.CategoriesMenu)
                {
                    <a class="menu @(item.isActived ? "active" : "") " href="/category/@(item.Slug)">
                        <p>@item.Name</p>
                    </a>
                }
        </div>
    }

    <div class="container">
        <hr>
        <div class="menu-detail" data-type="1">
            @if (Model.layout == 0)
            {
                <div class="container">
                    @if (Model.News != null && Model.News.Count > 0)
                    {
                        <div id="NewsData" class="row">
                            @foreach (var item in Model.News)
                            {
                                <div class="col-md-4">
                                    <a href="@(item.Slug)">
                                        <img src="@item.ImageUrl" alt="Rectangle 911">
                                        <h4 class="text-center menu-title">@item.Title</h4>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <h3 style="font-style:ITALIC">@Resources.NoData</h3>
                    }
                    @if (Model.TotalPageNum > 1)
                    {
                        <nav class="menu-paginate">
                            <ul id="paged" class="pagination">
                                @for (int i = 1; i <= Model.TotalPageNum; i++)
                                {
                                    <li class="page-item active"><a class="page-link" onclick="GetPageData(@i,6,'@Html.Raw(Model.CategoriesMenu.Where(c => c.isActived).FirstOrDefault().Slug)',@Html.Raw(Model.layout))">@i</a></li>
                                }
                            </ul>
                        </nav>
                    }
                </div>
            }
            else if (Model.layout == 1)
            {

                <div class="container">
                    @if (Model.News.Count > 0)
                    {
                        <div class="news-special">
                            <ul id="NewsData">
                                @for (int i = 0; i < Model.News.Count; i++)
                                {
                                    <li class="item@(i)">
                                        <a href="@(Model.News[i].Slug)">
                                            <div class="image">
                                                <img src="@Model.News[i].ImageUrl" alt="News">
                                            </div>
                                            <h2>@Model.News[i].Title</h2>
                                            <div class="desc">
                                                <p class="category">
                                                    @Model.News[i].category
                                                </p>
                                                <div class="date">@Model.News[i].CreatedDate.ToString("dd/MM/yyyy")</div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <h3 style="font-style:ITALIC">@Resources.NoData</h3>
                    }
                    <div class="row">
                        @if (Model.TotalPageNum > 0)
                        {
                            <nav class="menu-paginate">
                                <ul id="paged" class="pagination">
                                    @for (int i = 1; i <= Model.TotalPageNum; i++)
                                    {
                                        <li class="page-item active"><a class="page-link" onclick="GetPageData(@i,6,'@Html.Raw(Model.CategoriesMenu.Where(c => c.isActived).FirstOrDefault().Slug)',@Html.Raw(Model.layout))">@i</a></li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="container">
                    @if (Model.News != null && Model.News.Count > 0)
                    {
                        <div id="NewsData" class="thi-truong-chung-khoan">
                            @foreach (var item in Model.News)
                            {
                                <a class="post" href="@(item.Slug)">
                                    <div class="left">
                                        <img data-src="@item.ImageUrl" alt="" class="lazyload">
                                    </div>
                                    <div class="right">
                                        <h2>@item.Title</h2>
                                        <div class="info">
                                            <p class="category">
                                                @item.category
                                            </p>
                                            <p class="date">@item.CreatedDate.ToString("dd/MM/yyyy")</p>
                                        </div>
                                        <p class="desc">@item.Desc</p>
                                    </div>
                                </a>
                            }
                        </div>
                        if (Model.TotalPageNum > 0)
                        {
                            <nav class="menu-paginate">
                                <ul id="paged" class="pagination">
                                    @for (int i = 1; i <= Model.TotalPageNum; i++)
                                    {
                                        <li class="page-item active"><a class="page-link" onclick="GetPageData(@i,6,'',@Html.Raw(Model.layout))">@i</a></li>
                                    }
                                </ul>
                            </nav>
                        }
                        if (Model.HotestNews != null && Model.HotestNews.Count > 0)
                        {
                            <div class="post-other">
                                <h2>@Resources.FeaturedNews</h2>
                                <ul>
                                    @foreach (var item in Model.HotestNews)
                                    {
                                        <li>
                                            <a href="#">
                                                <img data-src="@item.ImageUrl" alt="" class="lazyload">
                                                <span>@item.Title</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                    else
                    {
                        <h3 style="font-style:ITALIC">@Resources.NoData</h3>
                    }
                </div>
            }
        </div>
    </div>
</section>
@section scripts
{
    <script type="text/javascript">
        function GetPageData(pageNum, pageSize, slug, layout) {
            //After every trigger remove previous data and paging
            $("#NewsData").empty();
            $.getJSON("/ActivityNews/GetPageData", { pageNumber: pageNum, pageSize: pageSize, slug: slug }, function (response) {
                var rowData = "";
                if (layout == 0)
                    for (var i = 0; i < response.News.length; i++) {
                        rowData = rowData + '<div class="col-md-4"><a href="' + response.News[i].Slug + '"> <img src = "' + response.News[i].ImageUrl + '">' +
                            ' <h4 class="text-center menu-title">' + response.News[i].Title + '</h4></a>' +
                            '</div >';
                    }
                else if (layout == 1) {
                    for (var i = 0; i < response.News.length; i++) {
                        rowData = rowData + '<li class="item' + i + '">' +
                            ' <a href="' + response.News[i].Slug + '">' +
                            '<div class="image">' +
                            '<img src="' + response.News[i].ImageUrl + '" alt="News">' +
                            ' </div>' +
                            '  <h2>' + response.News[i].Title + '</h2>' +
                            ' <div class="desc">' +
                            '  <p class="category">' + response.News[i].category + ' </p>' +
                            ' <div class="date">' + response.News[i].CreatedDate.toString("dd/MM/yyyy") + '</div>' +
                            ' </div>' +
                            ' </a>' +
                            ' </li>';
                    }
                }
                else {
                    for (var i = 0; i < response.News.length; i++) {
                        rowData = rowData + '<a class="post" href="' + response.News[i].Slug + '">' +
                            '<div class="left">' +
                            ' <img data-src="' + response.News[i].ImageUrl + '" alt="" class="lazyload">' +
                            ' </div>' +
                            '<div class="right">' +
                            '<h2>' + response.News[i].Title + '</h2>' +
                            ' <div class="info">' +
                            ' <p class="category">' + response.News[i].category + '</p>' +
                            '<p class="date">' + response.News[i].CreatedDate.toString("dd/MM/yyyy") + '</p>' +
                            '</div>' +
                            '<p class="desc">' + response.News[i].Desc + '</p>' +
                            '</div>' +
                            ' </a>';
                    }
                }
                $("#NewsData").append(rowData);
            });
        }
    </script>
}
<script type="text/javascript">
    $(document).ready(function() {
        console.log($('.sp a.menu.active').first())
        $('.vertical-scrolling').scrollLeft($('.sp a.menu.active').first().position().left - 10)
    })
</script>
<style>
    @@media (min-width: 768px) {
        .banner-default .bg {
            margin-top: 132px;
        }
    }
    .section-menu .menu-detail h4.menu-title:hover {
        color: #ED1C24 !important;
    }
    .section-menu .menu-detail a:hover {
        color: #ED1C24 !important;
    }
</style>
