﻿@model TTCMS.Web.ViewModels.ActivityNewsViewModel
@using TTCMS.Resources
@{
    @* ViewBag.Title = "TTCMS.Resources.Resources.InternalActivity"; *@
    ViewBag.Title = "Hoạt động nội bộ";
}
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/tthd-bg.png" alt="TVSI" class="lazyload" style="width: 100%;">
        <h1>Tin tức hoạt động</h1>
    </div>
</section>

<section class="section-menu">
    <div class="vertical-scrolling menu-default sp">
        <a class="menu" href="@Url.Action("TVSIForCommunity")">
            <p>TVSI VÌ CỘNG ĐỒNG</p>
        </a>
        <a class="menu" href="@Url.Action("DocumentaryImage")">
            <p>ẢNH TƯ LIỆU</p>
        </a>
        <a class="menu" href="@Url.Action("TVSIWithPress")">
            <p>TSVI VỚI BÁO CHÍ</p>
        </a>
        <a class="menu active" href="@Url.Action("InternalActivity")">
            <p>HOẠT ĐỘNG NỘI BỘ</p>
        </a>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <a class="menu" href="@Url.Action("TVSIForCommunity")">
                <p>TSVI VÌ CỘNG ĐỒNG</p>
            </a>
            <a class="menu" href="@Url.Action("DocumentaryImage")">
                <p>ẢNH TƯ LIỆU</p>
            </a>
            <a class="menu" href="@Url.Action("TVSIWithPress")">
                <p>TSVI VỚI BÁO CHÍ</p>
            </a>
            <a class="menu active" href="@Url.Action("InternalActivity")">
                <p>HOẠT ĐỘNG NỘI BỘ</p>
            </a>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="menu-detail" data
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../webroot/images/FinancialReport.png">
                        <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                    </div>
                    <nav class="menu-paginate">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#"><pre><</pre></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#"><pre>></pre></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        function GetPageData(pageNum, pageSize, slug, layout) {
            //After every trigger remove previous data and paging
            $("#NewsData").empty();
            $.getJSON("/ActivityNews/GetPageData", { pageNumber: pageNum, pageSize: pageSize, slug: slug }, function (response) {
                var rowData = "";
                if (layout == 0)
                    for (var i = 0; i < response.News.length; i++) {
                        rowData = rowData + '<div class="col-md-4"><a href="/News/' + response.News[i].Slug + '.html"> <img src = "' + response.News[i].ImageUrl + '">' +
                            ' <h4 class="text-center menu-title">' + response.News[i].Title + '</h4></a>' +
                            '</div >';
                    }
                else if (layout == 1) {
                    for (var i = 0; i < response.News.length; i++) {
                        rowData = rowData + '<li class="item' + i + '">' +
                            ' <a href="/News/' + response.News[i].Slug + '.html">' +
                            '<div class="image">' +
                            '<img src="' + response.News[i].ImageUrl + '" alt="News">' +
                            ' </div>' +
                            '  <h2>' + response.News[i].Title + '</h2>' +
                            ' <div class="desc">' +
                            '  <p class="category">' + response.News[i].category + ' </p>' +
                            ' <div class="date">' + response.News[i].CreatedDate.toString("dd/MM/yyyy") + '</div>' +
                            ' </div>' +
                            ' </a>' +
                            ' </li>';
                    }
                }
                else {
                    for (var i = 0; i < response.News.length; i++) {
                        rowData = rowData + '<a class="post" href="/News/' + response.News[i].Slug + '.html">' +
                            '<div class="left">' +
                            ' <img data-src="' + response.News[i].ImageUrl + '" alt="" class="lazyload">' +
                            ' </div>' +
                            '<div class="right">' +
                            '<h2>' + response.News[i].Title + '</h2>' +
                            ' <div class="info">' +
                            ' <p class="category">' + response.News[i].category + '</p>' +
                            '<p class="date">' + response.News[i].CreatedDate.toString("dd/MM/yyyy") + '</p>' +
                            '</div>' +
                            '<p class="desc">' + response.News[i].Desc + '</p>' +
                            '</div>' +
                            ' </a>';
                    }
                }
                $("#NewsData").append(rowData);
            });
        }
        $(document).ready(function() {
            $('.vertical-scrolling').scrollLeft(240)
        })
    </script>
}
