﻿@using PagedList;
@using PagedList.Mvc;
@model TTCMS.Web.Areas.TT_Admin.Models.FAQQuestionManagementViewModel
@using TTCMS.Resources
<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }
</style>

@if (Model.ModelList != null && Model.ModelList.Count > 0)
{
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@Resources.QuestionName</th>
                <th>Chủ đề</th>
                <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    @Resources.Created
                </th>
                <th class="hidden-480">@Resources.Status</th>
                <th>@Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.Id">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        @if (item.LanguageQuestions != null && item.LanguageQuestions.Count > 0)
                        {
                            foreach (var languageQuestion in item.LanguageQuestions)
                            {
                                if(languageQuestion.Language != null)
                                {
                                    <a class="d-block category__name" href="@Url.Action("Edit", new { Id = languageQuestion.Id, languageId = languageQuestion.Language.Id })">
                                        <b>@languageQuestion.Language.Name:</b> @languageQuestion.QuestionName
                                    </a>
                                }
                            }
                        }
                    </td>
                    <td>
                        @if(item.TopicList != null && item.TopicList.Count > 0)
                        {
                            <p>
                                @foreach (var topic in item.TopicList)
                                {
                                    <span><b>@topic.TopicName </b>|</span>
                                }
                            </p>
                        }
                    </td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                    <td class="hidden-480">
                        @if (item.Active == true)
                        {
                            <span class="label label-sm label-success arrowed arrowed-right">
                                <i class="fa fa-unlock"></i> Active
                            </span>
                        }
                        else
                        {
                            <span class="label label-sm label-danger arrowed arrowed-right">
                                <i class="fa fa-unlock-alt"></i> NotActive
                            </span>
                        }
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <div class="dropdown">
                                <button class="btn btn-xs btn-info dropdown-toggle" type="button" id="btn-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Resources.EditText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @if (item.LanguageQuestions != null && item.LanguageQuestions.Count > 0)
                                    {
                                        foreach (var languageQuestion in item.LanguageQuestions)
                                        {
                                            if (languageQuestion.Language != null)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Edit", new { Id = languageQuestion.Id, languageId = languageQuestion.Language.Id })">
                                                        @languageQuestion.Language.Name
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-success dropdown-toggle"
                                        type="button"
                                        id="btn-add-language"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    @TTCMS.Resources.Resources.CreateLanguageText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @if (item.LanguageQuestions != null && item.LanguageQuestions.Count > 0)
                                    {
                                        foreach (var language in Model.Languages.Where(lang => !item.LanguageQuestions.Any(x => x.Language != null && x.Language.Id == lang.Id)))
                                        {
                                            <li>
                                                <a href="@Url.Action("Create", new { id = item.Id, languageId = language.Id })">
                                                    @language.Name
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-danger dropdown-toggle"
                                        type="button"
                                        id="btn-add-language"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    @TTCMS.Resources.Resources.DeleteLanguageText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @if (item.LanguageQuestions != null && item.LanguageQuestions.Count > 0)
                                    {
                                        foreach (var languageQuestion in item.LanguageQuestions)
                                        {
                                            <li>
                                                @Ajax.ActionLink(
                                                    languageQuestion.Language.Name,
                                                    "Delete",
                                                    new { questionId = item.Id, languageId = languageQuestion.Language.Id },
                                                    new AjaxOptions()
                                                    {
                                                        HttpMethod = "Delete",
                                                        Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                        UpdateTargetId = @item.Id.ToString(),
                                                        OnSuccess = "onSuccess"
                                                    },
                                                    new
                                                    {
                                                        @title = languageQuestion.Language.Name
                                                    }
                                                )
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <a href="@Url.Action("Index", "FAQCommentManagement", new { questionId = item.Id })" class="btn btn-xs btn-info">
                                Quản lý bình luận
                            </a>
                            @Ajax.ActionLink(
                                TTCMS.Resources.Resources.DeleteText,
                                "Delete",
                                new { questionId = item.Id },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Delete",
                                    Confirm = TTCMS.Resources.Resources.ConfirmText,
                                    UpdateTargetId = @item.Id.ToString(),
                                    OnSuccess = "onSuccess"
                                },
                                new
                                {
                                    @class = "btn btn-xs btn-danger DeleteDialog",
                                    @title = TTCMS.Resources.Resources.DeletePost
                                }
                            )

                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info" href="@Url.Action("Edit", new {Id = item.Id })">
                                            @TTCMS.Resources.Resources.EditText
                                        </a>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.Id.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}