﻿@model TTCMS.Web.Areas.TT_Admin.Models.QuestionAttachmentViewModel

@using (Html.BeginForm(
    "EditAttachment",
    "FAQQuestionManagement",
    new { questionId = @Model.QuestionId, questionAttachmentId = @Model.Id, platform = @Model.Platform, },
    FormMethod.Post,
    new { @role = "form", @class = "form-horizontal questionAttachment" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-xs-12 image-selector">
            <label class="ace-file-input ace-file-multiple">
                <span class="ace-file-container hide-placeholder selected">
                    <span data-title="Ảnh đại diện" class="ace-file-name large" id="ThumbnailContainer-@Model.Id">
                        <input type="hidden" id="hd_Image-@Model.Id" name="ImageUrl">
                        <img id="Image-@Model.Id" class="middle" style="max-width:250px;max-height:250px;min-height:200px;" src="@Model.ImageUrl">
                        <i class=" ace-icon fa fa-picture-o file-image"></i>
                    </span>
                </span>
            </label>
        </div>
    </div>
    <div class="flex-column">
        <div class="form-group row">
            <label class="control-label"> @TTCMS.Resources.Resources.SortText </label>
            <div class="controls">
                @Html.TextBoxFor(x => x.Priority, new { id = "Priority-" + @Model.Id, Name = "Priority", @placeholder = TTCMS.Resources.Resources.SortText }) 
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label"> @TTCMS.Resources.Resources.Description </label>
            <div class="controls">
                @Html.TextAreaFor(x => x.Description, new { required = "required", @class = "col-xs-10 col-sm-4 descriptionTextArea ckeditor", @placeholder = TTCMS.Resources.Resources.Description })
            </div>
        </div>
    </div>
    <div class="flex-column">
        <div class="input-group row">
            <button type="submit" class="btn btn-primary">
                <i class="menu-icon fa fa-save"></i>
                <span class="hidden-320">@TTCMS.Resources.Resources.SaveText</span>
            </button>
        </div>
        <div class="input-group row">
            <a href="@Url.Action("DeleteAttachment", new { questionId = @Model.QuestionId, languageId = @Model.Language.Id, platform = @Model.Platform, questionAttachmentId = @Model.Id })"class="btn btn-primary">
                <i class="menu-icon fa fa-minus"></i>
                <span class="hidden-320">@TTCMS.Resources.Resources.DeleteText</span>
            </a>
        </div>
    </div>
}

<script>
    @* window.onload = function () {
        var id = @Model.Id
        $(`#ThumbnailContainer-${id}`).on("click", function () {
            BrowseServer((fileURL) => handleSelectAction(fileURL,id));
        });

        $('#Order')
            .ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
            .closest('.ace-spinner')
            .on('changed.fu.spinbox', function () { });
    } *@
</script>
<style>
    .questionAttachment {
        display: flex;
        gap: 20px;
        border-bottom: 1px solid black;
        padding: 15px 0;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .image-selector {
        width: 200px;
    }
    .col-sm-8 {
        width: auto;
    }
    .descriptionTextArea {
        min-width: 400px;
    }
    .form-group.row {
        display: flex;
        gap: 20px;
        margin: 0 0 15px;
    }
    .form-group.row label {
        width: 50px;
    }
</style>