﻿@model TTCMS.Web.Areas.TT_Admin.Models.FAQQuestionManagementViewModel
@using PagedList.Mvc;

<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }
</style>

@if (Model.ModelList != null && Model.ModelList.Count > 0)
{
    <input id="Page" type="hidden" value="@Model.ModelList.PageNumber" />
    @Html.Partial("_QuestionTable", Model)
    <div class="row">
        <div class="col-xs-6">
            <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">
                @TTCMS.Resources.Resources.Page 
                @(Model.ModelList.PageCount < Model.ModelList.PageNumber ? 0 : Model.ModelList.PageNumber) 
                @TTCMS.Resources.Resources.Of @Model.ModelList.PageCount
            </div>
        </div>
        <div class="col-xs-6 no-padding">
            <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
                @Html.PagedListPager(
                    Model.ModelList,
                    page => Url.Action("Index",
                    new { page, show = Model.Show, search = Model.Search }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "TableContainer" })
                )
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}