﻿@model  TTCMS.Web.Areas.TT_Admin.Models.QuestionEditViewModel
@using TTCMS.Resources;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAttachment</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
