﻿@using TTCMS.Data.Entities;
@model  TTCMS.Web.Areas.TT_Admin.Models.QuestionEditViewModel
@using TTCMS.Resources;
<div class="edit-attachment">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/pk_admin">@Resources.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">Quản lý câu hỏi</a>
            </li>
            <li>
                <a href="@Url.Action("Edit", new { id = Model.LanguageQuestionId, languageId = Model.LanguageId })">Sửa câu hỏi</a>
            </li>
            <li class="active">
                Quản lý đính kèm
            </li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="flex-item mobile">
        <h1>Đính kèm trên @(Model.Platform == 0 ? "Desktop" : "Mobile")</h1>
        @if (Model.Attachments != null && Model.Attachments.Count > 0)
        {
            foreach (var item in Model.Attachments)
            {
                @Html.Partial("_QuestionAttachment", item)
            }
        }
        <div class="input-group addButton">
            <a href="@Url.Action("AddAttachment", new { questionId = Model.Id, platform = Model.Platform, languageId = Model.LanguageId })"
            id="btnAdd" value="true" class="btn btn-primary">
                <i class="menu-icon fa fa-plus"></i>
                <span class="hidden-320">@TTCMS.Resources.Resources.Create</span>
            </a>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        var ids = [];
        var attachments = [];

        @if(Model.Attachments != null && Model.Attachments.Count > 0)
        {
            foreach (var item in @Model.Attachments)
            {
                @:attachments.push({ id: "@item.Id", ImageUrl: "@item.ImageUrl"});
            }
        }
        window.onload = function () {
            attachments.map(item => {
                $(`#ThumbnailContainer-${item.id}`).on("click", function () {
                    BrowseServer((fileURL) => handleSelectAction(fileURL, item.id));
                });
                $(`#hd_Image-${item.id}`).val(item.ImageUrl)
                $(`#Priority-${item.id}`).ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
				.closest('.ace-spinner')
				.on('changed.fu.spinbox', function () {
				    //alert($('#spinner1').val())
				});
            })
            
        }
        function handleSelectAction(fileUrl, id) {
            $(`#Image-${id}`).attr("src", fileUrl);
            $(`#hd_Image-${id}`).val(fileUrl);
        }
    </script>
}
<style>
    .edit-attachment {
        display: flex;
        flex-direction: column;
    }
    .flex-item {
        flex-grow: 1;
        text-align: center;
        padding-left: 20px;
    }
    .desktop {
        border-left: 1px solid black;
    }
    .addButton {
        margin-top: 15px;
    }
</style>
