@using TTCMS.Data.Entities;
@using TTCMS.Resources;
@model  TTCMS.Web.Areas.TT_Admin.Models.QuestionEditViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.EditQuestionText;
}

<style>
    .d-none {
        display: none;
    }

    input[type=checkbox].category-checkbox {
        margin-top: 12px;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">Quản lý câu hỏi</a>
                </li>
                <li class="active">Sửa câu hỏi</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(
                    "Edit",
                    "FAQQuestionManagement",
                    new { languageQuestionId = Model.LanguageQuestionId, questionId = Model.Id },
                    FormMethod.Post,
                    new { @role = "form", @class = "form-horizontal" }
                ))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@Resources.QuestionName </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.QuestionName, new { @class = "col-xs-10 col-sm-7 get-slug", @placeholder = Resources.QuestionName })
                                @Html.ValidationMessageFor(model => model.QuestionName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@Resources.ContentBrief </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.ContentBrief, new { @class = "col-xs-10 col-sm-7 get-slug", @placeholder = Resources.ContentBrief })
                                @Html.ValidationMessageFor(model => model.ContentBrief, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@Resources.Content </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.Content, new { @class = "col-xs-12 col-sm-12 ckeditor" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-9">
                                <div class="col-md-5">
                                    @Html.ActionLink(Resources.BackToList, "Index")
                                </div>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    @Resources.btnUpdateSubmit
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @Resources.btnReset
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="widget-box" style="overflow:hidden">
                            <div class="widget-header">
                                <h4 class="widget-title">@TTCMS.Resources.Resources.Option</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="dropdown">
                                        <button class="btn btn-xs btn-info dropdown-toggle"
                                                type="button"
                                                id="btn-edit"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            Thêm đính kèm
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="about-us">
                                            <li>
                                                <a href="@Url.Action("EditAttachment", new { questionId = Model.Id, languageId = Model.LanguageId, platform = 0 })">
                                                    Desktop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EditAttachment", new { questionId = Model.Id, languageId = Model.LanguageId, platform = 1 })">
                                                    Mobile
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@Resources.IsInLatest</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.Latest, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">Hiển thị trên trang chủ Website</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.IsWebsiteShown, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@Resources.ActiveText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.Active, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4"> @TTCMS.Resources.Resources.SortText </label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.TextBoxFor(x => x.Priority, new { @class = "col-xs-10 col-sm-4", @placeholder = TTCMS.Resources.Resources.SortText })
                                                <div class="space-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@Resources.LanguageText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.LanguageId, (SelectList)Model.Lang, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.DropTopics != null)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-4">@Resources.Topic</label>
                                            <div class="controls col-xs-12 col-sm-8">
                                                <div class="row">
                                                    @Html.DropDownListFor(
                                                        model => model.TopicId,
                                                        (SelectList)Model.DropTopics,
                                                        new { @class = "form-control" }
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        window.onload = function () {

            $("#CategoryItem_IsRedirect").on('change', function () {
                toggleRedirectUrlBlock(this.checked);
            });

            $("#ThumbnailContainer").on("click", function () {
                BrowseServer(handleSelectAction);
            });

            $('#BtnIcon').on("click", function () {
                BrowseServer(handleSelectIconAction);
            });

            $('#Order')
                .ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
                .closest('.ace-spinner')
                .on('changed.fu.spinbox', function () { });

            $("#CategoryItem_Name")
                .on("change", function () {
                    $.get("@(Url.Action("GetSlug"))?val=" + this.value)
                        .done(function (slug) {
                            $("#CategoryItem_Slug").val(slug);
                            $("#SlugText").html(slug);
                        });
                });

            $('#Layout')
                .on("change", function () {
                    console.log(this.value);
                    const id = 'CategoryLayout' + this.value;
                    $('.category__layout-thumbnail').each((index, item) => {
                        $(item).toggleClass('d-none', item.id !== id);
                    })
                });
        }

        function handleSelectIconAction(fileUrl) {
            $('#Icon').val(fileUrl);
            $('#BtnIcon i').addClass('d-none');
            $('#BtnIcon img').removeClass("d-none").attr("src", fileUrl);
        }

        function handleSelectAction(fileUrl) {
            $('#Thumbnail').val(fileUrl);
            $('#Image').attr("src", fileUrl);
        }
    </script>
}