﻿@model  TTCMS.Web.Areas.TT_Admin.Models.SettingViewModel

@{
    ViewBag.Title = TTCMS.Resources.Resources.SettingSystemText;
}
<link href="~/Content/admin/css/colorpicker.min.css" rel="stylesheet" />
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.SettingSystemText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm("Update", "SettingManagement", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Id)
                    <div class="col-xs-12">
                        <div id="tabs">
                            <ul>
                                <li>
                                    <a href="#tabs-1">@TTCMS.Resources.Resources.GeneralSettingsText</a>
                                </li>
                                <li>
                                    <a href="#tabs-2">LDAP</a>
                                </li>

                                @*<li>
                                        <a href="#tabs-2">@TTCMS.Resources.Resources.SettingEmailText</a>
                                    </li>

                                    <li>
                                        <a href="#tabs-3">@TTCMS.Resources.Resources.InterfacesSettingText & Robots</a>
                                    </li>
                                    @foreach (var item in Model.ListLangs)
                                    {
                                        <li><button data-href="@Url.Action("GetSettingLang", new {Id=Model.Id, Lang = item.Id })" style="margin-top: 2px; height: 33px" data-toggle="modal" data-target="#myModal" data-remote="false" data-ajax="modal-json" class="btn btn-white btn-default" type="button">@TTCMS.Resources.Resources.SettingText @item.Name</button></li>
                                    }*@
                                <li style="float:right;">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        @TTCMS.Resources.Resources.btnUpdateSubmit
                                    </button>
                                </li>
                            </ul>
                            <div id="tabs-1">
                                @*
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Logo</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.Logo, new { @class = "col-xs-12 col-sm-12", @placeholder = "Logo" })
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-purple" type="button" onclick="BrowseServerLogo();">
                                                <i class="fa fa-cloud-upload bigger-110"></i>
                                                Chọn ảnh
                                            </button>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Favicon</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.Favicon, new { @class = "col-xs-12 col-sm-12", @placeholder = "Favicon" })
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-purple" type="button" onclick="BrowseServerFavicon();">
                                                <i class="fa fa-cloud-upload bigger-110"></i>
                                                Chọn ảnh
                                            </button>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Image Seo</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.Seo_Image, new { @class = "col-xs-12 col-sm-12", @placeholder = "Seo_Image" })
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-purple" type="button" onclick="BrowseServerSeoImage();">
                                                <i class="fa fa-cloud-upload bigger-110"></i>
                                                Chọn ảnh
                                            </button>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Logo footer</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.FileXML, new { @class = "col-xs-12 col-sm-12", @placeholder = "Logo footer" })
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-purple" type="button" onclick="BrowseServerFile();">
                                                <i class="fa fa-cloud-upload bigger-110"></i>
                                                Chọn ảnh
                                            </button>
                                        </div>
                                    </div>
                                *@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Qr image</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(x => x.QrImage, new { @class = "col-xs-12 col-sm-12", @placeholder = "Qr image" })
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-purple" type="button" onclick="BrowseServerQRFile();">
                                            <i class="fa fa-cloud-upload bigger-110"></i>
                                            Chọn ảnh
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Qr image</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(x => x.QrImage, new { @class = "col-xs-12 col-sm-12", @placeholder = "Qr image" })
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-purple" type="button" onclick="BrowseServerQRFile();">
                                            <i class="fa fa-cloud-upload bigger-110"></i>
                                            Chọn ảnh
                                        </button>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Link footer</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.LinkFooter, new { @class = "col-xs-12 col-sm-12", @placeholder = "Link footer" })
                                        @Html.ValidationMessageFor(model => model.LinkFooter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Title</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "col-xs-12 col-sm-12", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.ApplicationURLText</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.ApplicationURL, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.ApplicationURLText })
                                        @Html.ValidationMessageFor(model => model.ApplicationURL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Tên Công Ty</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.CompanyName, new { @class = "col-xs-12 col-sm-12", @placeholder = "Tên Công Ty" })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.CompanyAddress</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Address, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.CompanyAddress })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Hotline</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.HotLine, new { @class = "col-xs-12 col-sm-12", @placeholder = "Hotline" })
                                        @Html.ValidationMessageFor(model => model.HotLine, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Email</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "col-xs-12 col-sm-12", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.pageSize</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.pageSize, new { @class = "col-xs-12 col-sm-12", @type = "number", @placeholder = TTCMS.Resources.Resources.pageSize })
                                        @Html.ValidationMessageFor(model => model.pageSize, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.Copyright</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Copyright, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.Copyright })
                                        @Html.ValidationMessageFor(model => model.Copyright, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Link xem bản đồ</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.LinkMaps, new { @class = "col-xs-12 col-sm-12", @placeholder = "Link xem bản đồ" })
                                        @Html.ValidationMessageFor(model => model.LinkMaps, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.google_map</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.google_map, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.google_map })
                                        @Html.ValidationMessageFor(model => model.google_map, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.IsClosed</label>
                                    <div class="col-xs-3">
                                        <label>
                                            @Html.CheckBoxFor(x => x.IsClosed, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                            <span class="lbl"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Footer</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(x => x.Strfooter, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = "Footer" })
                                        @Html.ValidationMessageFor(model => model.Strfooter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.contactus_setting</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(x => x.contactus_setting, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = TTCMS.Resources.Resources.contactus_setting })
                                        @Html.ValidationMessageFor(model => model.contactus_setting, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                @*<div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Mail Liên hệ</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.TemplateEmail, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = "Mẫu Email" })
                                            @Html.ValidationMessageFor(model => model.TemplateEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Email thông báo đơn hàng</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.TeamplateDatHang, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = "Email thông báo đơn hàng" })
                                            @Html.ValidationMessageFor(model => model.TeamplateDatHang, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Email thông báo đơn hàng quản trị</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.TeamplateAdminDatHang, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = "Email thông báo đơn hàng quản trị" })
                                            @Html.ValidationMessageFor(model => model.TeamplateAdminDatHang, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Tiêu đề mail lấy lại mật khẩu</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.SubForgotPassword, new { @class = "col-xs-12 col-sm-12", @placeholder = "Tiêu đề mail lấy lại mật khẩu" })
                                            @Html.ValidationMessageFor(model => model.SubForgotPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Email lấy lại mật khẩu</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.BodyForgotPassword, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = "Email lấy lại mật khẩu" })
                                            @Html.ValidationMessageFor(model => model.BodyForgotPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                            </div>

                            <div id="tabs-2">
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Host</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Host, new { @class = "col-xs-12 col-sm-12", @placeholder = "Host" })
                                        @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Host</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Port, new { @class = "col-xs-12 col-sm-12", @placeholder = "Port" })
                                        @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Bind DN</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.BindDN, new { @class = "col-xs-12 col-sm-12", @placeholder = "Bind DN" })
                                        @Html.ValidationMessageFor(model => model.BindDN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Bind Password</label>
                                    <div class="col-sm-10">
                                        @Html.PasswordFor(x => x.BindPass, new { @class = "col-xs-12 col-sm-12", @placeholder = "Bind password", @value = Model.BindPass })
                                        @Html.ValidationMessageFor(model => model.BindPass, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">User Search Base</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.UserSearchBase, new { @class = "col-xs-12 col-sm-12", @placeholder = "User search base" })
                                        @Html.ValidationMessageFor(model => model.UserSearchBase, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">User Filter</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.UserFilter, new { @class = "col-xs-12 col-sm-12", @placeholder = "User filter" })
                                        @Html.ValidationMessageFor(model => model.UserFilter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*<div id="tabs-2">
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.EmailAccount</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.EmailAccount, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.EmailAccount })
                                            @Html.ValidationMessageFor(model => model.EmailAccount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.EmailPassword</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.EmailPassword, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.EmailPassword })
                                            @Html.ValidationMessageFor(model => model.EmailPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.EmailHost</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.EmailHost, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.EmailHost })
                                            @Html.ValidationMessageFor(model => model.EmailHost, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.EmailPort</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.EmailPort, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.EmailPort })
                                            @Html.ValidationMessageFor(model => model.EmailPort, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.EmailEnableSSL</label>
                                        <div class="col-xs-3">
                                            <label>
                                                @Html.CheckBoxFor(x => x.EmailEnableSSL, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                <span class="lbl"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">@TTCMS.Resources.Resources.RecieveEmail</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.RecieveEmail, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.RecieveEmail })
                                            @Html.ValidationMessageFor(model => model.RecieveEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                            @*<div id="tabs-3">
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label for="Css" class="col-sm-2 control-label no-padding-right ">Backgroud color</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.BackgroudColor, new { @class = "col-xs-12 col-sm-12 input-small", @placeholder = "#FFFFFF" })
                                            @Html.ValidationMessageFor(model => model.BackgroudColor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label for="Css" class="col-sm-2 control-label no-padding-right ">Active menu color</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ActiveColor, new { @class = "col-xs-12 col-sm-12 input-small", @placeholder = "#FFFFFF" })
                                            @Html.ValidationMessageFor(model => model.ActiveColor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Css, new { @class = "col-sm-2 control-label no-padding-right " })
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.Css, new { @class = "col-xs-12 col-sm-12", @rows = "10", @placeholder = "CSS" })
                                            @Html.ValidationMessageFor(model => model.Css, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Js, new { @class = "col-sm-2 control-label no-padding-right" })
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.Js, new { @class = "col-xs-12 col-sm-12", @rows = "10", @placeholder = "JS" })
                                            @Html.ValidationMessageFor(model => model.Js, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Robots, new { @class = "col-sm-2 control-label no-padding-right" })
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.Robots, new { @class = "col-xs-12 col-sm-12", @rows = "10", @placeholder = "Robots" })
                                            @Html.ValidationMessageFor(model => model.Robots, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@
                        </div>

                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/admin/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/admin/js/jquery.maskedinput.min.js"></script>
    <script>
        $('#BackgroudColor').colorpicker();
        $('#ActiveColor').colorpicker();
        $('#File').ace_file_input({
                    style: 'well',
                    btn_choose: '@(TTCMS.Resources.Resources.ChooseImageText)"',
                    btn_change: null,
                    no_icon: 'ace-icon fa fa-picture-o',
                    droppable: true,
                    'allowExt': ["jpeg", "jpg", "png", "gif", "bmp"],
                    'allowMime': ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"],
                    thumbnail: 'fit'//large | fit
                    //,icon_remove:null//set null, to hide remove/reset button
                    /**,before_change:function(files, dropped) {
                        //Check an example below
                        //or examples/file-upload.html
                        return true;
                    }*/
                    /**,before_remove : function() {
                        return true;
                    }*/
                    ,
                    preview_error: function (filename, error_code) {
                        //name of the file that failed
                        //error_code values
                        //1 = 'FILE_LOAD_FAILED',
                        //2 = 'IMAGE_LOAD_FAILED',
                        //3 = 'THUMBNAIL_FAILED'
                        //alert(error_code);
                    }

                }).on('change', function () {
                    //console.log($(this).data('ace_input_files'));
                    //console.log($(this).data('ace_input_method'));
                }


                );
        $("#tabs").tabs();
        $(document).ready(function () {
            $(function () {
                CKEDITOR.replace("ckeditor");
            });
        });
        LoadButonClickAjaxModalJson();
        function CompleteAjaxRequestMenu(result) {
            var returnObj = eval('(' + result.responseText + ')');
            $("#AjaxAlert").html("");
            if (returnObj.RedirectUrl != null && returnObj.Success == true) {
                $('#modal-form').modal('hide');
                AjaxAlert(returnObj.Code, returnObj.Msg);
                LoadListmenu();
            }
            else {
                AjaxAlert(returnObj.Code, returnObj.Msg);
            }
        };
        function BrowseServerLogo() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileFieldLogo;
            finder.popup();
        }
        function SetFileFieldLogo(fileUrl) {
            $("#Logo").val(fileUrl);
        }
        function BrowseServerFavicon() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileFieldFavicon;
            finder.popup();
        }
        function SetFileFieldFavicon(fileUrl) {
            $("#Favicon").val(fileUrl);
        }
        function BrowseServerSeoImage() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileFieldSeoImage;
            finder.popup();
        }
        function SetFileFieldSeoImage(fileUrl) {
            $("#Seo_Image").val(fileUrl);
        }
        function BrowseServerFile() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetFileFieldFile;
            finder.popup();
        }
        function SetFileFieldFile(fileUrl) {
            $("#FileXML").val(fileUrl);
        }
        function BrowseServerQRFile() {
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.selectActionFunction = SetQRField;
            finder.popup();
        }
        function SetQRField(fileUrl) {
            $("#QrImage").val(fileUrl);
        }
    </script>
}