﻿<table style="margin: auto;">
    <tr>
        <td style="width:680px; height:60px; background-color:#ff0000;border: 0px solid #ff0000; ">
            <p style="color:white; font-size:18px; font-weight:bold; padding-left:40px; font-family:Tahoma;">THÔNG BÁO
                <br/>Câu hỏi mới từ Khách Hàng</a></p></td>
    </tr>
    <tr>
        <td colspan="2"
            style="text-align:justify; width:700px; padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:20px; font-family:Tahoma; font-size:10pt;">
            <b> Kính gửi bộ phận DVKH</b>
            <br/>
            Thông báo khách hàng mới gửi câu hỏi mới qua trang FAQ
            <br/>
            <p style="padding-left:30px; font-weight:bold;">
                Họ tên: {FullName}<br/>
                Số điện thoại: {Phone}<br/>
                Số tài khoản: {AccountNo}<br/>
                Tiêu đề: {Title}<br/>
                Nội dung: {Content}<br/>
                Đính kèm: <a href="https://support.tvsi.com.vn/Content/CustomerUploads/{Attachment}">Tải về</a><br/>
            </p>
            <b>Vui lòng truy cập vào trang quản trị để duyệt nội dung: <a href="https://beta.tvsi.com.vn/TT_Admin/FAQPendingQuestionManagement/Details/{ID}">Duyệt câu hỏi</a></b>
            <br>
            <br/>Trân trọng cảm ơn.<br/>
            <b>Chứng khoán Tân Việt</b><br/>
        </td>
    </tr>
</table>