﻿<table style="margin: auto;">
    <tr>
        <td style="width:680px; height:60px; background-color:#ff0000;border: 0px solid #ff0000; ">
            <p style="color:white; font-size:18px; font-weight:bold; padding-left:40px; font-family:Tahoma;">THÔNG BÁO
                <br/>Bình luận mới cho câu hỏi <a href="https://support.tvsi.com.vn/QuestionPage?id={QuestionId}">{QuestionName}</a></p></td>
    </tr>
    <tr>
        <td colspan="2"
            style="text-align:justify; width:700px; padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:20px; font-family:Tahoma; font-size:10pt;">
            <b> Kính gửi bộ phận DVKH</b>
            <br/>
            Thông báo khách hàng mới bình luận vào câu hỏi trên trang FAQ
            <br/>
            <p style="padding-left:30px; font-weight:bold;">
                Họ tên: {FullName}<br/>
                Số điện thoại: {Phone}<br/>
                <br/>
            </p>
            <b>Đã thêm 1 bình luận mới vào câu hỏi: <a href="https://support.tvsi.com.vn/QuestionPage?id={QuestionId}">{QuestionName}</a></b>
            <b>Vui lòng truy cập vào hệ thống quản lý bình luận: <a href="https://beta.tvsi.com.vn/TT_Admin/FAQCommentManagement?questionId={QuestionId}">Tại đây</a></b>
            <br>
            <br/>Trân trọng cảm ơn.<br/>
            <b>Chứng khoán Tân Việt</b><br/>
        </td>
    </tr>
</table>