﻿@model TTCMS.Web.Areas.TT_Admin.Models.MenuTypeTableViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.ManagerMenuText;
}

<table class="table table-striped table-bordered table-hover" id="simple-table">
    <thead>
        <tr>
            <th>Menu</th>
            <th>@TTCMS.Resources.Resources.Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuTypes)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-xs btn-info dropdown-toggle" type="button" id="btn-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @TTCMS.Resources.Resources.EditText
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var language in Model.Languages)
                            {
                                <li>
                                    @Html.ActionLink(language.Name, "Create", new { id = item.Id, languageCode = language.Code })
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
