﻿@model TTCMS.Web.Areas.TT_Admin.Models.MenuEditViewModel
@{
    Layout = "~/Areas/TT_Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .input-group {
        width: 100%;
        margin-top: 8px
    }

    .input-group-addon {
        text-align: left;
    }

    .input-group-addon--fixed-width {
        min-width: 112px;
    }

    input[type="submit"] {
        float: right;
    }

    .d-none {
        display: none;
    }

    .group-container {
        display: flex;
        flex-direction: column;
    }

    .mt-auto {
        margin-top: auto;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Index")">@TTCMS.Resources.Resources.ManagerMenuText</a>
                </li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-6 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">@TTCMS.Resources.Resources.CustomLinksText</div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("Create", "MenuManagement", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                                        @Html.HiddenFor(x => x.GroupType)
                                        @Html.HiddenFor(x => x.LanguageCode)
                                        @Html.HiddenFor(x => x.SourceType, new { Value = TTCMS.Data.Entities.MenuSourceType.CustomLink })

                                        <div class="input-group">
                                            <span class="input-group-addon input-group-addon--fixed-width">@TTCMS.Resources.Resources.LinkText</span>
                                            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon input-group-addon--fixed-width">@TTCMS.Resources.Resources.Text</span>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon input-group-addon--fixed-width">@TTCMS.Resources.Resources.ShowText</span>
                                            @Html.DropDownListFor(
                                                model => model.Target,
                                                new List<SelectListItem>()
                                                {
                                                    new SelectListItem { Text = TTCMS.Resources.Resources.self, Value = "_self" },
                                                    new SelectListItem { Text = TTCMS.Resources.Resources.blank,  Value = "_blank" },
                                                },
                                                new { @class = "form-control" })
                                            @Html.ValidationMessage("Target", new { @class = "text-danger" })
                                        </div>
                                        <div class="input-group">
                                            <input type="submit" value="@TTCMS.Resources.Resources.AddToMenuText" class="btn btn-success" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Nhập từ danh mục</div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("Create", "MenuManagement", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                                        @Html.HiddenFor(x => x.GroupType)
                                        @Html.HiddenFor(x => x.LanguageCode)
                                        @Html.HiddenFor(x => x.SourceType, new { Value = TTCMS.Data.Entities.MenuSourceType.Category })

                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                @for (int i = 0; i < Model.Categories.Count; i++)
                                                {
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" name="CategoryId" value="@Model.Categories[i].CategoryId" />
                                                        </span>
                                                        @Html.EditorFor(x => x.Categories[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.HiddenFor(x => x.Categories[i].CategoryId)
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <label>@TTCMS.Resources.Resources.ShowText</label>
                                                    @Html.DropDownListFor(
                                                       model => model.Target,
                                                       new List<SelectListItem>()
                                                       {
                                                           new SelectListItem { Text = TTCMS.Resources.Resources.self, Value = "_self" },
                                                           new SelectListItem { Text = TTCMS.Resources.Resources.blank,  Value = "_blank" },
                                                       },
                                                       new { @class = "form-control" })
                                                    @Html.ValidationMessage("Target", new { @class = "text-danger" })
                                                </div>
                                                <div class="input-group">
                                                    <input type="submit" value="@TTCMS.Resources.Resources.AddToMenuText" class="btn btn-success" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Nhập từ trang</div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("Create", "MenuManagement", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                                        @Html.HiddenFor(x => x.GroupType)
                                        @Html.HiddenFor(x => x.LanguageCode)
                                        @Html.HiddenFor(x => x.SourceType, new { Value = TTCMS.Data.Entities.MenuSourceType.Page })

                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                @for (int i = 0; i < Model.SinglePages.Count; i++)
                                                {
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="radio" name="SinglePageId" value="@Model.SinglePages[i].Id" />
                                                    </span>
                                                    @Html.EditorFor(x => x.SinglePages[i].Title, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.HiddenFor(x => x.SinglePages[i].Id)
                                                </div>
                                                }
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <label>@TTCMS.Resources.Resources.ShowText</label>
                                                    @Html.DropDownListFor(
                                                       model => model.Target,
                                                       new List<SelectListItem>()
                                                       {
                                                           new SelectListItem { Text = TTCMS.Resources.Resources.self, Value = "_self" },
                                                           new SelectListItem { Text = TTCMS.Resources.Resources.blank,  Value = "_blank" },
                                                       },
                                                       new { @class = "form-control" })
                                                    @Html.ValidationMessage("Target", new { @class = "text-danger" })
                                                </div>
                                                <div class="input-group">
                                                    <input type="submit" value="@TTCMS.Resources.Resources.AddToMenuText" class="btn btn-success" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8" id="MenuTableContainer">
                    Loading...
                </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            loadMenu();
        }

        function loadMenu() {
            $.get("@Url.Action("_AjaxLoadMenu")?group=@Model.GroupType&show=@Model.LanguageCode")
            .done(function (html) {
                $("#MenuTableContainer").html(html);

                $("#MenuTableContainer .dd-list").sortable({
                    axis: "y",
                    //handle: ".accordion-header",
                    stop: function (event, ui) {
                        console.log({ event, ui });
                        updateOrder();
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        //ui.item.children(".accordion-header").triggerHandler("focusout");
                    }
                });
            });
        }

        function updateOrder() {
            const ids = [];
            $("#MenuTableContainer .dd-list > .dd-item")
                .each((index, item) => (item.dataset?.id && ids.push(item.dataset.id)));

            $.ajax({
                url: "/MenuManagement/UpdateOrder",
                type: 'POST',
                data: { ids },
                success: function (data) {
                    loadMenu();
                }
            });
        }
    </script>
}
