﻿@model TTCMS.Web.Areas.TT_Admin.Models.MenuManagerViewModel
@{
    Layout = "~/Areas/TT_Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.ManagerMenuText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-12 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@TTCMS.Resources.Resources.MenuEditText</div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Edit", "MenuManagement", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.GroupType)
                                @Html.HiddenFor(model => model.LanguageId)

                                <div class="form-group">
                                    <label class="col-md-2 control-label">@TTCMS.Resources.Resources.ShowName</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Link</label>
                                    <div class="col-md-10">
                                        @if (Model.CategoryItem != null || Model.Language_SinglePage != null)
                                        {
                                            <input class="form-control" type="text" value="@Model.Link" disabled="disabled" />
                                        }
                                        else
                                        {
                                            @Html.EditorFor(
                                                model => model.Link,
                                                new { htmlAttributes = new { @class = "form-control" } }
                                            )
                                        }
                                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @if (Model.CategoryItem == null)
                                {
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@TTCMS.Resources.Resources.MenuParentText</label>
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(
                                             model => model.ParentID,
                                             Model.Parents,
                                             new { @class = "form-control" }
                                         )
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.ParentID)
                                }

                                <div class="form-group">
                                    <label class="col-md-2 control-label">@TTCMS.Resources.Resources.ShowText</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(
                                           model => model.Target,
                                           new List<SelectListItem>()
                                           {
                                               new SelectListItem { Text = TTCMS.Resources.Resources.self, Value = "_self" },
                                               new SelectListItem { Text = TTCMS.Resources.Resources.blank,  Value = "_blank" },
                                           },
                                           new { @class = "form-control" })
                                        @Html.ValidationMessage("Target", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="@TTCMS.Resources.Resources.SaveText" class="btn btn-success" />
                                        @Html.ActionLink(
                                            @TTCMS.Resources.Resources.CancelText,
                                            "Create",
                                            new { id = (int)Model.GroupType, languageCode = Model.LanguageId },
                                            new { @class = "btn btn-default" }
                                        )
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
