﻿@model TTCMS.Web.Areas.TT_Admin.Models.MenuTypeTableViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.ManagerMenuText;
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.ManagerMenuText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <div class="toolbar tt-table-header">
                    <div style="float:right">
                        @TTCMS.Resources.Resources.ShowbyText
                        @TTCMS.Resources.Resources.SearchText
                        <span class="input-icon">
                            <input type="text" autocomplete="off" id="Search" @*onkeyup="SearchAjax('/TT_Admin/NewsCateManagement/Index');"*@ class="nav-search-input" placeholder="@TTCMS.Resources.Resources.EnterKeywordText">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </div>
                </div>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="TableContainer">
                                @if (Model != null)
                                {
                                    @Html.Partial("_MenuTypeTable", Model)
                                }
                            </div>
                        </div><!-- /.span -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>
@section Scripts {
    <script>
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });
    </script>
}
