﻿<!DOCTYPE html>
<html lang="en">

<head>
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }

    @if (ViewBag.Meta != null && ViewBag.Meta.Favicon != null)
    {
        <link rel="shortcut icon" type="image/ico" href="@ViewBag.Meta.Favicon" />
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webroot/images/logo/favicon.svg" type="image/x-icon" rel="icon">
    <link href="/webroot/images/logo/favicon.svg" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@6/swiper-bundle.min.css" />
    @* <link rel="stylesheet" href="/Content/admin/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" /> *@
    <link rel="stylesheet" href="~/Content/admin/css/font-awesome.min.css" />
    
    <script src="~/asset/js/jquery-1.12.1-ui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="https://unpkg.com/swiper@6/swiper-bundle.min.js"></script>
    <script src="~/asset/js/common.js"></script>
    
    <script src="~/asset/js/jquery-ui.js"></script>
    <script src="~/asset/js/jquery-ui.min.js"></script>
    <script src="/asset/fancybox/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="/asset/fancybox/js/jquery.fancybox.pack.js"></script>
    <script src="/asset/fancybox/js/jquery.fancybox-media.js"></script>
    <script src="/asset/fancybox/js/jquery.fancybox-buttons.js"></script>
    <link href="/asset/fancybox/css/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="/asset/fancybox/css/jquery.fancybox.css" rel="stylesheet" />

    <link href="~/webroot/css/main.css" rel="stylesheet" />
    <link href="~/webroot/faq/block-question.css" rel="stylesheet" />
    <link href="~/webroot/faq/category-page.css" rel="stylesheet" />
    <link href="~/webroot/faq/header.css" rel="stylesheet" />
    <link href="~/webroot/faq/question-form.css" rel="stylesheet" />
    <link href="~/webroot/faq/question-page.css" rel="stylesheet" />
    <link href="~/webroot/faq/search-category.css" rel="stylesheet" />
    <link href="~/webroot/faq/search-index.css" rel="stylesheet" />
    <link href="~/webroot/faq/search-question.css" rel="stylesheet" />
    <link href="~/webroot/faq/search-quick-actions.css" rel="stylesheet" />
    <link href="~/asset/css/flexselect.css" rel="stylesheet"/>
    <link href="~/asset/css/jquery-ui-1.12.1.css" rel="Stylesheet">

    @RenderSection("MetaTags", required: false)

    <!-- Start of StringeeX Chat Widget script -->
	<script type="text/javascript" id="stringeeXChatWidget" src="https://v2.stringee.com/stringeexchat/sdk/product/StringeeXChatBox-2.0.2.js?key=REMvTGEwckZwZWdsbTE2YTFNS1VFZz09&showBot=1&route=&showroute=1"> </script>
	<!-- End of  StringeeX Chat Widget script -->
    <style>
        body::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: transparent;
        }

        body::-webkit-scrollbar-thumb {
            width: 0;
            display: none;
        }

        body::-webkit-scrollbar-thumb {
            width: 0;
            display: none;
        }
        .stringeeX_chatbox_iframe_wrapper {
            bottom: 30px !important;
            right: 19px !important;
        }
        .stringeeX_chatbox_iframe_wrapper.full-open {
            bottom: 630px;
            right: 19px;
            z-index: 9;
        }
        @@media (max-width: 767.98px) {
            .stringeeX_chatbox_iframe_wrapper  {
                display: none !important;
            }
        }
        @@media only screen and (min-device-width: 280px) and (max-device-width: 1024px) and (orientation: portrait) {
            .stringeeX_chatbox_iframe_wrapper {
                display: none !important;
            }
        }
        @@media only screen and (min-device-width: 280px) and (max-device-width: 1024px) and (orientation: landscape) {
            .stringeeX_chatbox_iframe_wrapper.full-open {
                width: 40% !important;
                height: 40% !important;
                margin-bottom: 0;
                margin-right: 0;
            }
            .stringeeX_chatbox_iframe_wrapper {
                display: none !important;
            }
        }
    </style>
</head>

<body>
    <div class="main">
        @Html.Action("HeaderMenu", "Menu")
        <main>
            @RenderBody()
        </main>
        @Html.Action("BotMenu", "Menu")
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
    <!-- <script src="/webroot/js/main.js"></script> -->
    <script src="~/asset/js/common.js"></script>
    <script src="~/asset/js/jquery-1.12.1-ui.js"></script>
    <script src="~/asset/flexselect/liquidmetal.js"></script>
    <script src="~/asset/flexselect/jquery.flexselect.js"></script>
    <script type="text/javascript">
        actionHeader()
        actionHomeNew()
    </script>
    <script>
        function OpenChatForm() {
            windowFeatures = "width=" + (screen.width * 3 / 5) + " ,height=" + (screen.height * 3 / 5) + " ,dependent=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes";
            window.open("http://chat.tvsi.com.vn/TVSI_CHAT/Default.aspx?queue=TVSI_Chat&CurrentLanguage=2", "_blank", windowFeatures);
        }
    </script>

    <!-- GoogleAnalytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65114755-1', 'auto');
        ga('send', 'pageview');
    </script><script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '332145933', 'auto');
        ga('send', 'pageview');
    </script>
    
</body>
</html>