﻿@model IEnumerable<TTCMS.Web.ViewModels.LanguageViewModel>
@{
    ViewBag.Title = TTCMS.Resources.Resources.ManagerMenuText;
}

<table class="table table-striped table-bordered table-hover" id="simple-table">
    <thead>
        <tr>
            <th>@TTCMS.Resources.Resources.LanguageTest</th>
            <th>@TTCMS.Resources.Resources.Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(x => item.Name)
                </td>
                <td>
                    @Html.ActionLink(@TTCMS.Resources.Resources.EditText, "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-info" }) 
                </td>
                @*
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <div class="dropdown">
                                <button class="btn btn-xs btn-info dropdown-toggle" type="button" id="btn-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.EditText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var categoryItem in item.CategoryItems)
                                    {
                                        <li>
                                            <a href="@Url.Action("Edit", new { Id = categoryItem.Id })">
                                                @categoryItem.Language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="btn-add-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.CreateLanguageText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var language in Model.Languages.Where(lang => !item.CategoryItems.Any(categoryItem => categoryItem.Language.Id == lang.Id)))
                                    {
                                        <li>
                                            <a href="@Url.Action("Create", new { id = item.CategoryId, languageId = language.Id })">
                                                @language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @Ajax.ActionLink(
                                TTCMS.Resources.Resources.DeleteText,
                                "Delete",
                                new { Id = item.CategoryId },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Delete",
                                    Confirm = TTCMS.Resources.Resources.ConfirmText,
                                    UpdateTargetId = @item.CategoryId.ToString(),
                                    OnSuccess = "onSuccess"
                                },
                                new
                                {
                                    @class = "btn btn-xs btn-danger DeleteDialog",
                                    @title = TTCMS.Resources.Resources.DeletePost
                                }
                            )

                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info" href="@Url.Action("Edit", new {Id = item.CategoryId })">
                                            @TTCMS.Resources.Resources.EditText
                                        </a>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.CategoryId },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.CategoryId.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                *@
            </tr>
        }
    </tbody>
</table>
