﻿@using TTCMS.Resources;
@model TTCMS.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/TT_Admin/Views/Shared/_Layout.cshtml";
}

<style>
    h3 {
        font-weight: bold;3
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .input-group {
        width: 100%;
        margin-top: 8px
    }

    .input-group-addon {
        text-align: left;
    }

    .input-group-addon--fixed-width {
        min-width: 128px;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">@Resources.HomeConfigBreadcrumbList</a>
                </li>
                <li class="active">@Resources.EditPageText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm("Edit", "HomeManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.LanguageId)

                    <div class="col-12 col-md-6">
                        <h3>Slider Url</h3>
                        @for (int i = 0; i < Model.SlideUrls.Count; i++)
                        {
                            <div class="input-group">
                                <span class="input-group-addon">@(i + 1)</span>
                                @Html.HiddenFor(model => model.SlideUrls[i].Id)
                                @Html.EditorFor(model => model.SlideUrls[i].Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SlideUrls[i].Value, "", new { @class = "text-danger" })
                            </div>
                        }
                        <hr />
                        <h3>Truy cập nhanh</h3>
                        @for (int i = 0; i < Model.QuickAccessItems.Count; i++)
                        {
                            <h4>Mục @(i + 1)</h4>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">@Resources.TitleText</span>
                                @Html.HiddenFor(model => model.QuickAccessItems[i].Title.Id)
                                @Html.EditorFor(model => model.QuickAccessItems[i].Title.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuickAccessItems[i].Title.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">Đường dẫn ảnh</span>
                                @Html.HiddenFor(model => model.QuickAccessItems[i].ImageUrl.Id)
                                @Html.EditorFor(model => model.QuickAccessItems[i].ImageUrl.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuickAccessItems[i].ImageUrl.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">Url chuyển hướng</span>
                                @Html.HiddenFor(model => model.QuickAccessItems[i].RedirectUrl.Id)
                                @Html.EditorFor(model => model.QuickAccessItems[i].RedirectUrl.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuickAccessItems[i].RedirectUrl.Value, "", new { @class = "text-danger" })
                            </div>
                        }
                        <hr />
                        <h3>Công cụ giao dịch</h3>
                        <div class="input-group">
                            <span class="input-group-addon">@Resources.TitleText</span>
                            @Html.HiddenFor(model => model.TradingTool.Title.Id)
                            @Html.EditorFor(model => model.TradingTool.Title.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TradingTool.Title.Value, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">@Resources.Description</span>
                            @Html.HiddenFor(model => model.TradingTool.Description.Id)
                            @Html.EditorFor(model => model.TradingTool.Description.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TradingTool.Description.Value, "", new { @class = "text-danger" })
                        </div>
                        @for (int i = 0; i < Model.TradingToolImages.Count; i++)
                        {
                            <div class="input-group">
                                <span class="input-group-addon">Đường dẫn ảnh @(i + 1)</span>
                                @Html.HiddenFor(model => model.TradingToolImages[i].Id)
                                @Html.EditorFor(model => model.TradingToolImages[i].Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TradingToolImages[i].Value, "", new { @class = "text-danger" })
                            </div>
                        }
                        <hr />
                        <h3>Trung tâm phân tích</h3>
                        <div class="input-group">
                            <span class="input-group-addon input-group-addon--fixed-width">@Resources.TitleText</span>
                            @Html.HiddenFor(model => model.AnalysisCenter.Title.Id)
                            @Html.EditorFor(model => model.AnalysisCenter.Title.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AnalysisCenter.Title.Value, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon input-group-addon--fixed-width">@Resources.Description</span>
                            @Html.HiddenFor(model => model.AnalysisCenter.Description.Id)
                            @Html.EditorFor(model => model.AnalysisCenter.Description.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AnalysisCenter.Description.Value, "", new { @class = "text-danger" })
                        </div>
                        @for (int i = 0; i < Model.AnalysisCenterItem.Count; i++)
                        {
                            <h4>Mục @(i + 1)</h4>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">@Resources.TitleText</span>
                                @Html.HiddenFor(model => model.AnalysisCenterItem[i].Title.Id)
                                @Html.EditorFor(model => model.AnalysisCenterItem[i].Title.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AnalysisCenterItem[i].Title.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">@Resources.Description</span>
                                @Html.HiddenFor(model => model.AnalysisCenterItem[i].Description.Id)
                                @Html.EditorFor(model => model.AnalysisCenterItem[i].Description.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AnalysisCenterItem[i].Description.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">Url chuyển hướng</span>
                                @Html.HiddenFor(model => model.AnalysisCenterItem[i].RedirectUrl.Id)
                                @Html.EditorFor(model => model.AnalysisCenterItem[i].RedirectUrl.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AnalysisCenterItem[i].RedirectUrl.Value, "", new { @class = "text-danger" })
                            </div>
                        }
                        <hr />
                        <h3>Tin tức nổi bật</h3>
                        <div class="input-group">
                            <span class="input-group-addon">@Resources.TitleText</span>
                            @Html.HiddenFor(model => model.FeaturedNews.Title.Id)
                            @Html.EditorFor(model => model.FeaturedNews.Title.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FeaturedNews.Title.Value, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h3>Lựa chọn đầu tư</h3>
                        <div class="input-group">
                            <span class="input-group-addon">@Resources.TitleText</span>
                            @Html.HiddenFor(model => model.InvestmentFormTitle.Id)
                            @Html.EditorFor(model => model.InvestmentFormTitle.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InvestmentFormTitle.Value, "", new { @class = "text-danger" })
                        </div>
                        @for (int i = 0; i < Model.InvestmentFormItems.Count; i++)
                        {
                            <h4>Loại hình đầu tư @(i + 1)</h4>
                            <button value="@Model.InvestmentFormItems[i].Id" class="btn btn-primary" name="itemId">
                                <i class="menu-icon fa fa-minus"></i>
                                <span class="hidden-320">@TTCMS.Resources.Resources.DeleteText</span>
                            </button>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">@Resources.TitleText</span>
                                @Html.HiddenFor(model => model.InvestmentFormItems[i].Title.Id)
                                @Html.EditorFor(model => model.InvestmentFormItems[i].Title.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvestmentFormItems[i].Title.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">@Resources.Description</span>
                                @Html.HiddenFor(model => model.InvestmentFormItems[i].Description.Id)
                                @Html.EditorFor(model => model.InvestmentFormItems[i].Description.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvestmentFormItems[i].Description.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">Nội dung nút</span>
                                @Html.HiddenFor(model => model.InvestmentFormItems[i].ButtonText.Id)
                                @Html.EditorFor(model => model.InvestmentFormItems[i].ButtonText.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvestmentFormItems[i].ButtonText.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">Đường dẫn ảnh</span>
                                @Html.HiddenFor(model => model.InvestmentFormItems[i].ImageUrl.Id)
                                @Html.EditorFor(model => model.InvestmentFormItems[i].ImageUrl.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvestmentFormItems[i].ImageUrl.Value, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon input-group-addon--fixed-width">Url chuyển hướng</span>
                                @Html.HiddenFor(model => model.InvestmentFormItems[i].RedirectUrl.Id)
                                @Html.EditorFor(model => model.InvestmentFormItems[i].RedirectUrl.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvestmentFormItems[i].RedirectUrl.Value, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="input-group">
                            <button id="btnAdd" value="true" class="btn btn-primary" name="isAddClick">
                                <i class="menu-icon fa fa-plus"></i>
                                <span class="hidden-320">@TTCMS.Resources.Resources.Create</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <hr />
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="input-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
