﻿@model TTCMS.Web.Areas.TT_Admin.Models.MediaTableViewModel
@using PagedList.Mvc;
@using TTCMS.Resources
<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }
</style>

@if (Model.ModelList.Any())
{
    <input id="Page" type="hidden" value="@Model.ModelList.PageNumber" />
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@TTCMS.Resources.Resources.Images</th>
                <th>@TTCMS.Resources.Resources.LastNameText</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.Id">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        <img src="@item.FullPath" style="width: 48px; display: block;" />
                    </td>
                    <td>@item.Name</td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-copy btn-info dropdown-toggle" type="button" onclick="openModal('@(item.FullPath)')">
                                Copy
                            </button>
                            <button class="btn btn-xs btn-danger" data-id="@item.Id">
                                @TTCMS.Resources.Resources.btnDeleteSubmit
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@TTCMS.Resources.Resources.Page @(Model.ModelList.PageCount < Model.ModelList.PageNumber ? 0 : Model.ModelList.PageNumber) @TTCMS.Resources.Resources.Of @Model.ModelList.PageCount</div></div>
        <div class="col-xs-6 no-padding">
            <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
                @Html.PagedListPager(
                    Model.ModelList,
                    page => Url.Action("Index",
                    new { page, show = Model.Show, search = Model.Keyword }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                        new AjaxOptions { UpdateTargetId = "TableContainer" }
                    )
                )
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">@Resources.URL</h4>
                </div>
                <div class="modal-body">
                    <p id="myContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
   
    </script>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}
