﻿
.input[type="checkbox"][readonly] {
    pointer-events: none;
}

.text-bank p {
    text-align: center;
}

.group-form .row {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
    color: #222222
}

.tooltip-noti {
    padding: 2px 6px;
    border: 1px solid #7c7c7c;
    background-color: #FFFFFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 10px;
}

.wrapper {
    margin-top: 0px;
}

.userInput input {
    margin: 10px;
    height: 35px;
    width: 35px;
    border: 1px solid;
    border-radius: 0px;
    text-align: center;
    font-size: 1.2rem;
    background: #eef2f3;

}

#otp-form {
    display: -webkit-flex; 
display: flex;
    justify-content: center;
}

#modal-confirm-code-ekyc .modal-title {
    text-align: center;
    font-size: 25px;
}

#modal-confirm-code-ekyc .modal-footer .btn-back-modal {
    background: #FDD401;
    color: #FFFFFF;
    float: left;
    border-radius: 20px;
}

#modal-confirm-code-ekyc .modal-footer .btn-secondary {
    background: #ED1C24;
    border-radius: 20px;
    color: #FFFFFF;
}

.checkbox-primary input[name="agreepolicy"]:checked + label::before {
    background-color: #64C870;
    border-color: #64C870;
}

.text-title-bank {
    padding: 10px 0;
}

@media only screen and (max-width: 992px) {
    .text-title-bank {
        display: none;
    }

    #text-title .ribbon {
        margin-bottom: 30px;
    }

    .ribbon {
        width: 100%;
    }

    .text-title-right {
        margin-left: 0px !important;
    }
}

#text-title .ribbon {
    margin-bottom: 30px;
    position: inherit;
}

.text-title-right {
    margin-left: 50px;
}

.optinal-usa p {
    font-size: 15px;
}

.text-bank p {
    font-size: 15px;
}

/*Form steps*/
* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform label {
    font-size: 15px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 10px 8px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    /*
    background-color: #ffffff;
    */
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 150px;
    background: #E83231;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    /*
    background-color: #311B92
    */
}

#msform .action-button-previous {
    width: 150px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: left;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.rule-tvsi {
    margin: 30px 0px;
    background-color: #FFF5F1;
    padding: 20px;
}

.rule-tvsi p {
    font-size: 14px;
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #E83231
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    content: "\e900";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #personal:before {
    content: "\e901";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #payment:before {
    content: "\e903";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #profile:before {
    content: "\e904";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar #confirm:before {
    content: "\e902";
    background-color: #fff;
    font-family: "icomoon";
    speak: none;
    font-size: 65px;
}

#progressbar li:before {
    width: 65px;
    height: 65px;
    line-height: 65px;
    display: block;
    font-size: 20px;
    /*    color: #ffffff;
        background: lightgray;*/
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: -1
}

#progressbar li.active:after {
    background: #ed1c24
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #E83231
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.text-infor-address p {
    line-height: 3;
    text-align: center;
    color: #D41C1C;
    font-size: 20px;
}

/*Css sale*/
#saletinfoxt {
    background-color: #F1F1F1 !important;
}

/* CSS Required*/
.error-messenger {
    border: 1px solid #E83231 !important;
}

.text-error-messenger {
    font-size: 12px;
    float: right;
    color: #E83231;
    font-style: italic;
    display: none;
}

.sRegister {
    position: unset !important;
    /*    display: block!important;*/
}

.sRegister .sForm__infoWrap {
    display: block !important;
}

.form-card .tab-pane input {
    color: #fff !important;
    width: 85% !important;
}

.form-card .tab-pane .upload-button--add {
    padding: 10px 0px;
    width: 85% !important;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.step-ekyc-face-fieldset .wrap__two__content__img__body input{
    border-radius: 10px!important;
}

.btn-danger:hover {
    background-position: 0px;
}

﻿.face-to-ekyc .wrap__two__content__img {
    max-width: 100% !important;
}

.wrap__two__content__img {
    margin: auto;
}

.question-tvsi-note {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 40px;
}

.content-service {
    height: 60px;
    padding: 10px 0;
}

.content-service .checkbox, .radio {
    margin-bottom: 0px;
}

.question-tvsi-note textarea {
    width: 95%;
}

.warp__content__img_bottom {
    text-align: center;
    padding: 10px 0;
}

.warp__content__img_bottom span {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
}

.face-to-ekyc .sForm__infoWrap__right__content .wrap__buton__capture {
    position: absolute;
    top: 85% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.face-to-ekyc .card_upload_button .text-first {
    display: none;
}

.face-to-ekyc .wrap__two__content__img__body {
    position: relative;
    /*
    background-image: url("/images/bg-img.svg");
    */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.hople {
    color: #5bd210;
}

.sosanh {
    color: #5bd210;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: #f31f1f;
    border-top-color: transparent;
    border-width: 9px;
    border-radius: 58%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.thongtincanhan .wrap__two img {
    position: unset !important;
    transform: none;
}

.thongtincanhan #imagefront img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 190px;
    width: -webkit-fill-available;
}

.thongtincanhan #imageback img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 190px;
    width: -webkit-fill-available;

}

.thongtincanhan #imagecmnd img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 190px;
    width: -webkit-fill-available;
}

#exampleCheck1 {
    height: 30px!important;
    width: 30px!important;
}

.checkbox-primary input[name="exampleCheck1"]:checked + label::before {
    background-color: #0BB126;
    border-color: #0BB126;
}

#account .card {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding: 10px 0px 0px !important;
}

#account .card #button-about {
    padding-top: 30px;
}


#modal-camera .modal-body {
    text-align: center;
}

#modal-camera .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: center;
}

#modal-camera .modal-footer #btn-close {
    color: #ffffff;
    background: #191919;
}

#modal-camera .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-camera .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-camera .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}

@media (min-width: 1024px) {
    .face-to-ekyc .results_front_camera::before {
        padding-bottom: calc(380 / 680 * 100%);
        width: 100%;
        max-width: 190px;
        margin: auto;
        content: '';
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: calc(60% - 20px);
        transform: translateY(-50%);
        background-image: url('../../images/Camface.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .face-to-ekyc .results_front_camera_second::before {
        padding-bottom: calc(380 / 680 * 100%);
        width: 100%;
        max-width: 190px;
        margin: auto;
        content: '';
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: calc(60% - 20px);
        transform: translateY(-50%);
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .face-to-ekyc .card_upload_button {
        display: none !important;
    }
}

#modal-error-ekyc .modal-body {
    text-align: center;
}

#modal-error-ekyc .modal-body .text-modal {
    margin-top: 20px;
    color: black;
    text-align: left;
}

#modal-error-ekyc .modal-footer #btn-close {
    color: #ffffff;
    background: #191919;
}

#modal-error-ekyc .modal-footer .btn-yellow {
    color: #ffff;
    background: #ed1c24;
    float: left;
}

#modal-error-ekyc .modal-footer .btn-yellow a {
    color: #ffff;
}

#modal-error-ekyc .modal-header {
    text-align: -webkit-center;
    width: 100%;
}

#modal-error-ekyc .modal-header .modal-title {
    width: 100px;
    color: red;
    font-weight: 700;
    border-bottom: 1px solid;
}


/*CSS Spinner*/

.spinner-loader {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f1f1f1cf;
}

.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid #ed1c24;
    animation: spin 1.1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*End spinner*/

/*Info OCR*/
#ngaycaptxt, #ngaysinhtxt {
    width: 150px !important;
}

.fa-angle-down:before {
    position: absolute;
    right: 5px;
    top: -45px;
    font-size: 22px;
    z-index: 2;
}

#gioitinhtxt {
    width: 90px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
}

.ekyc-step-2-2:enabled {
    background: #ffff00;
}

.ekyc-step-2-2:disabled {
    background: #B0B0B0 !important;
}

.btn-firm-otp:disabled {
    background: #B0B0B0 !important;
}

.fa-check-square:before {
    font-size: 16px;
    color: #0BB126;
}

.fa-minus-square:before {
    font-size: 16px;
    color: #E83231;
}

.detail-customer {
    display: none;
}
.QA{
    padding-right: 16px;
}
.QA .radio label {
    display: initial;
}

.QA .radio label::after {
    top: 2px !important;
}

#progressbar li.active:after {
    left: 70px;
}

#progressbar li.confirm:after {
    right: 70px;
    left: unset !important;
}
.face-to-ekyc .results_front_camera::before{
    padding-bottom: calc(380 / 680 * 100%);
    width: 100%;
    max-width: 190px;
    margin: auto;
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: calc(60% - 20px);
    transform: translateY(-50%);
    background-image: url('../../images/Camface.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.infomation-kyc{
    padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
    .address-detail{
        padding-bottom: 15px;
    }
    .infomation-kyc{
        padding-bottom: 0px;
    }
    .question-tvsi-note {
        margin-right: 15px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .question-tvsi-note{
        margin-right: 15px;
    }
}

/*Upload Image*/

/*upload image*/


.sRegister {
    position: relative;
    padding-bottom: 50px; }
@media (min-width: 769px) {
    .sRegister {
        padding-bottom: 10px; } }
.sRegister .fileinput {
    display: none;
    width: 100%; }
.sRegister .wrap__buton button,
.sRegister .wrap__buton a {
    color: #fff;
    /*font-family: "UVNHongHaHepBold", sans-serif;*/ }
.sRegister .wrap__buton button:not([href]):not([tabindex]),
.sRegister .wrap__buton a:not([href]):not([tabindex]) {
    color: #fff; }
.sRegister .wrap__buton .btn {
    color: #fff;
    /*font-family: "UVNHongHaHepBold", sans-serif;*/ }
.sRegister .wrap__buton .btn:not([href]):not([tabindex]) {
    color: #fff; }
.sRegister .createAcc {
    position: relative; }
.sRegister .createAcc ::-moz-placeholder {
    color: #6a6a6a; }
.sRegister .createAcc :-ms-input-placeholder {
    color: #6a6a6a; }
.sRegister .createAcc ::-ms-input-placeholder {
    color: #6a6a6a; }
.sRegister .createAcc ::placeholder {
    color: #6a6a6a; }
.sRegister .createAcc .wrap__form {
    max-width: 580px;
    padding-bottom: 20px; }
.sRegister .createAcc .wrap__form .icon-close {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -10px;
    text-indent: -99999px;
    background-image: url("../images/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
.sRegister .createAcc .wrap__form .btn-more {
    box-shadow: none;
    margin-top: 10px;
    padding-left: 20px; }
.sRegister .createAcc input,
.sRegister .createAcc select {
    max-width: 100%; }
.sRegister .createAcc .wrap__buton {
    margin-top: 10px; }
.sRegister .sForm {
    margin-top: 30px; }
.sRegister .sForm img {
    max-width: 100%;
    height: auto; }
.sRegister .sForm__infoWrap {
    display: -webkit-flex; 
display: flex;
    justify-content: space-between;
    flex-direction: column; }
@media (min-width: 768px) {
    .sRegister .sForm__infoWrap {
        flex-direction: inherit;

    } }
.sRegister .sForm__infoWrap__left {
    width: 100%;
    position: relative; }
@media (min-width: 768px) {
    .sRegister .sForm__infoWrap__left {
        width: calc(300 / 1180 * 100%);

    } }
@media (max-width: 1023px) and (min-width: 768px) {
    .sRegister .sForm__infoWrap__left {
        width: calc(450 / 1180 * 100%);

    } }
@media (max-width: 540px) {
    .sRegister .sForm__infoWrap__left img {
        max-width: 120px;
        margin: auto; } }
.sRegister .sForm__infoWrap__right {
    width: 100%;
    position: relative; }
@media (min-width: 768px) {
    .sRegister .sForm__infoWrap__right {
        margin: 0px auto;
        max-width: 800px;

    } }
@media (max-width: 1023px) and (min-width: 768px) {
    .sRegister .sForm__infoWrap__right {

        margin: 0px auto;
        max-width: 800px;

    } }
.sRegister .sForm__infoWrap__right__content a {
    color: #0081c6; }
.sRegister .sForm__infoWrap__right__content button {
    /*font-family: "UVNHongHaHepBold", sans-serif;*/ }
@media (max-width: 575px) {
    .sRegister .sForm__infoWrap__right__content .wrap__buton {
        margin-left: 5px; } }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture .btn {
    margin-bottom: 16px; }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture .btn:last-of-type {
    margin-bottom: 0; }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture .upload-button {
    margin-bottom: 16px; }
.sRegister .sForm__infoWrap__noAside .wrap__form {
    margin: auto; }
.sRegister .btn {
    box-shadow: 0 0 98px rgba(0, 0, 0, 0.16); }
.sRegister .btn-dark {
    /*    background-color: #191919;*/
    /*border-color: #191919;*/ }
.sRegister .checkbox-ui .ctr-ui-label:before {
    width: 14px;
    height: 14px; }
.sRegister .checkbox-ui .ctr-ui-label:after {
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px; }
.sRegister .checkbox-ui .ctr-ui-input:checked ~ .ctr-ui-label::before {
    background-color: #f00;
    border-color: #f00; }
.sRegister .wrap__description {
    max-width: 600px; }
.sRegister .info-step2 .wrap__buton {
    margin-top: 0; }
.sRegister .createAccForm {
    padding-bottom: 40px; }
.sRegister .comeback-btn {
    margin-top: 30px; }
.sRegister video {
    width: 100% !important;
    height: 100% !important; }
.sRegister img {
    max-width: 100%; }


.sForm__infoWrap__left {
    color: #dad0d0;
    margin-bottom: 20px; }
.sForm__infoWrap__left ol {
    list-style: none;
    /*font-family: "UVNHongHaHep", sans-serif;*/
    padding: 0 30px;
    margin: 0;
    box-shadow: 6.02px 7.99px 65px rgba(0, 0, 0, 0.07);
    background-color: #fff; }
@media (max-width: 1024px) {
    .sForm__infoWrap__left ol {
        padding: 0 15px; } }
.sForm__infoWrap__left ol li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
    counter-increment: demoCounter; }
@media (max-width: 1024px) {
    .sForm__infoWrap__left ol li {
        padding-top: 15px;
        padding-bottom: 15px; } }
.sForm__infoWrap__left ol li:before, .sForm__infoWrap__left ol li:after {
    content: '';
    font-size: 10px;
    border-color: #dad0d0;
    border-width: 1px;
    position: absolute;
    text-align: center; }
.sForm__infoWrap__left ol li:before {
    left: 7px;
    top: -24px;
    border-style: dashed;
    width: 1px;
    height: calc(100% - 6px); }
@media (max-width: 1024px) {
    .sForm__infoWrap__left ol li:before {
        top: -18px; } }
.sForm__infoWrap__left ol li:after {
    content: '';
    width: 11px;
    height: 11px;
    line-height: 9px;
    left: 2px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-color: #f00;
    border-style: solid;
    color: #f00;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.489' height='4.139' viewBox='0 0 5.489 4.139'%3E%3Cpath id='Path_1641' data-name='Path 1641' d='M12139.427,19468.279l1.509,1.541,3.281-3.074' transform='translate(-12139.069 -19466.381)' fill='none' stroke='red' stroke-width='1'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: 1px 1px;
    background-repeat: no-repeat; }
.sForm__infoWrap__left ol li:first-of-type:before {
    display: none; }
.sForm__infoWrap__left ol li a {
    color: #dad0d0;
    /*font-family: "UVNHongHaHep", sans-serif;*/ }
@media (max-width: 1024px) {
    .sForm__infoWrap__left ol li a {
        font-size: 12px; } }
.sForm__infoWrap__left ol li a:hover {
    color: #f00;
    /*font-family: "UVNHongHaHepBold", sans-serif;*/ }
.sForm__infoWrap__left ol li:first-of-type:before {
    border-style: none; }
.sForm__infoWrap__left ol li.is-active {
    color: #f00; }
.sForm__infoWrap__left ol li.is-active:before {
    border-style: solid;
    border-color: #f00;
    top: -24px; }
@media (max-width: 1024px) {
    .sForm__infoWrap__left ol li.is-active:before {
        top: -21px; } }
.sForm__infoWrap__left ol li.is-active:after {
    content: counter(demoCounter);
    background-image: none;
    width: 15px;
    height: 15px;
    line-height: 12px;
    background-color: #f00;
    border-color: #f00;
    color: #fff; }
.sForm__infoWrap__left ol li.is-active a {
    /*font-family: "UVNHongHaHepBold", sans-serif;*/
    color: #f00; }
.sForm__infoWrap__left ol li.active-last:before {
    border-style: solid;
    border-color: #f00; }
.sForm__infoWrap__left ol li.active-last a {
    color: #f00; }
.sForm__infoWrap__left ol li.progress__last:before {
    border-style: dashed;
    top: -20px; }
@media (max-width: 1024px) {
    .sForm__infoWrap__left ol li.progress__last:before {
        top: -16px; } }
.sForm__infoWrap__left ol li.progress__last:after {
    left: 2px;
    background-color: #fff;
    border-color: #dad0d0;
    background-image: none; }
.sRegister .sForm__infoWrap__right {
    width: 100%;
    position: relative; }
@media (min-width: 768px) {
    .sRegister .sForm__infoWrap__right {
        width: calc((100% - 20px) - (300 / 1180 * 100%)); } }
@media (max-width: 1023px) and (min-width: 768px) {
    .sRegister .sForm__infoWrap__right {
        width: calc((100% - 20px) - (450 / 1180 * 100%)); } }
.sRegister .sForm__infoWrap__right__content a {
    color: #0081c6; }
.sRegister .sForm__infoWrap__right__content button {
    /*font-family: "UVNHongHaHepBold", sans-serif;*/ }
@media (max-width: 575px) {
    .sRegister .sForm__infoWrap__right__content .wrap__buton {
        margin-left: 5px; } }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture .btn {
    margin-bottom: 16px; }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture .btn:last-of-type {
    margin-bottom: 0; }
.sRegister .sForm__infoWrap__right__content .wrap__buton__capture .upload-button {
    margin-bottom: 16px; }
.sRegister .sForm__infoWrap__noAside .wrap__form {
    margin: auto; }

.wrap__two {
    /*
    max-width: 780px;
    */
    margin-top: 20px; }
@media (max-width: 991px) {
    /*   .wrap__two {
         max-width: 378px; }*/
}
@media (max-width: 767px) {
    .wrap__two {
        margin: auto; } }
.wrap__two__content__img {
    max-width: 380px;
    position: relative;
    border: dotted 1px #e1e1e1;
    margin-bottom: 20px; }
@media (min-width: 992px) {
    .wrap__two__content__img {
        margin-bottom: 40px; } }
.wrap__two__content__img__head {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: dotted 1px #e1e1e1; }

.wrap__two__content__img__body {
    position: relative;
    background-image: url("/asset/images/bg-img.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
.wrap__two__content__img__body__bg-img {
    width: 100%;
    height: 100%;
    position: relative; }
.wrap__two__content__img__body__bg-img:before {
    content: '';
    display: block;
    padding-bottom: calc(285 / 380 * 100%); }
.wrap__two__content__img__body__bg-img__child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2; }
.wrap__two__content__img__body__bg-img__child__container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
.wrap__two__content__img__body .wrap__buton {
    text-align: center; }
.wrap__two__content.capture-not .wrap__two__content__img__body:after {
    content: '';
    display: block;
    padding-bottom: calc(285 / 380 * 100%); }
.wrap__two__content__error {
    color: #f00;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 40px;
    display: none; }
.wrap__two__content__error p {
    color: #f00;
    font-style: italic; }
.wrap__two__content.capture-error .wrap__two__content__error {
    display: block; }
.wrap__two__content.capture-error .wrap__two__content__img {
    margin-bottom: 0; }
.wrap__two__content.capture-error .wrap__two__content__img__body {
    border: solid 3px #f00; }
.wrap__two__content .text-last {
    display: none; }
.wrap__two__content.parent-canvas .wrap__two__content__img__body, .wrap__two__content.parent-camera .wrap__two__content__img__body {
    position: relative;
    background-image: none; }
.wrap__two__content.parent-canvas .wrap__two__content__img__body:before, .wrap__two__content.parent-camera .wrap__two__content__img__body:before {
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
.wrap__two__content.parent-canvas .text-first {
    display: none; }
.wrap__two__content.parent-canvas .text-last {
    display: block; }
.wrap__two__content.capture-error.parent-camera .wrap__two__content__img__body {
    border: 0; }
.wrap__two__content.capture-error.parent-camera .wrap__two__content__error {
    display: none; }
.wrap__two__content.capture-error.parent-camera .wrap__two__content__img {
    margin-bottom: 40px; }
.wrap__two__content .capture-camera {
    display: none; }
.wrap__two__content.parent-camera .capture-camera {
    display: block; }
.wrap__two__content.parent-camera .open-camera {
    display: none; }
.wrap__two .capture-image,
.wrap__two canvas {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
.wrap__two img {
    position: absolute;
    max-width: 100% !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
.wrap__two .parent-canvas .text-first {
    display: none; }
.wrap__two .parent-canvas .text-last {
    display: block; }
.wrap__two .btn-capture {
    display: none; }
.wrap__two .btn-capture-continue {
    display: none; }
.wrap__two .camera-play .btn-capture,
.wrap__two .capture-file-success .btn-capture {
    display: block; }
.wrap__two .camera-play .wrap__buton,
.wrap__two .capture-file-success .wrap__buton {
    overflow: hidden;
    opacity: 0; }
.wrap__two .camera-play:hover .wrap__buton,
.wrap__two .capture-file-success:hover .wrap__buton {
    overflow: visible;
    opacity: 1; }
.wrap__two .camera-play .open-camera,
.wrap__two .capture-file-success .open-camera {
    display: none; }
.wrap__two .btn-capture-continue {
    display: none; }
@media (min-width: 1023px) {
    .wrap__two .capture-success .btn-capture {
        display: none; }
    .wrap__two .capture-success .btn-capture-continue {
        display: block; } }
.wrap__two .upload-button .card_upload_button .text-mobile {
    display: none; }
@media (max-width: 1024px) {
    .wrap__two .upload-button .text-first,
    .wrap__two .upload-button .btn-capture {
        display: none; }
    .wrap__two .upload-button .card_upload_button {
        background-color: #f00;
        border-color: #f00; }
    .wrap__two .upload-button .open-camera,
    .wrap__two .upload-button .btn-capture-continue {
        display: none; }
    .wrap__two .upload-button .card_upload_button .text-mobile {
        display: block; } }
.btn-more--1 {
    min-width: 10em;
    padding: 0.5625rem 0.4375rem; }
.btn-camera-mobile{
    display: none;
}
.modal-footer{
    display: unset!important;
}
.modal-header{
    display: unset!important;
}
