﻿@model TTCMS.Web.ViewModels.HomeViewModel
@using TTCMS.Resources
@{
    ViewBag.Title = @TTCMS.Resources.Resources.CompanyName;
}

<div class="main">
    @if (Model.SlideUrls != null && Model.SlideUrls.Count > 0)
    {
        <section class="swiper-container home-new-banner">
            <div class="swiper-wrapper">
                @foreach (var item in Model.SlideUrls)
                {
                    if(item.Value != null && item.Value != "")
                    {
                        <div class="swiper-slide">
                            <img src="@item.Value" class="lazyload">
                        </div>
                    }
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>
    }
    <div class="overlay">
        <div id="surveyPopup">
            <img id="popPhoto" src="/webroot/images/surveyPopup.jpg" alt="Survey">
            <button id="closePopup" onclick=popupClose()><i class="ace-icon fa fa-close"></i></button>
        </div>
    </div>
    <section class="home-new-1">
        <div class="container">
            <div class="swiper-container home-new-menu">
                <div class="swiper-wrapper">
                    @for (int i = 0; i < Model.QuickAccessItems.Count; i++)
                    {
                        <a class="swiper-slide @(i == 0? "active":"")" href="@(Model.QuickAccessItems[i].RedirectUrl.Value == "/FAQ" ? "/FAQ/IndexV1" : Model.QuickAccessItems[i].RedirectUrl.Value)">
                            <img data-src="@Model.QuickAccessItems[i].ImageUrl.Value" alt="@Model.QuickAccessItems[i].Title.Value" class="lazyload">
                            <p>@Model.QuickAccessItems[i].Title.Value</p>
                        </a>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    @if (Model.InvestmentFormItems != null && Model.InvestmentFormItems.Count > 0)
    {
    <section class="home-new-2">
        <div class="bg">
            <div class="container">
                <div class="content">
                    <div class="title-default">
                        <img data-src="/webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                        <h2>@Model.InvestmentFormTitle.Value</h2>
                    </div>
                    <div class="swiper-button-prev-menu">
                        <div class="icon">
                            <img src="/webroot/images/home-new/arrow-left.svg" alt="">
                        </div>
                    </div>
                    <div class="swiper-container home-new-product-service">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.InvestmentFormItems)
                            {
                                if (item.ImageUrl.Value != null && item.ImageUrl.Value != "")
                                {
                                <a class="swiper-slide" href="@item.RedirectUrl.Value">
                                    <div class="image">
                                        <img data-src="@item.ImageUrl.Value" alt=""
                                             class="lazyload">
                                    </div>
                                    <div class="desc">
                                        <h2>@item.Title.Value</h2>
                                        <div class="desc1">
                                           @item.Description.Value
                                        </div>
                                    </div>
                                </a>
                                }
                            }
                        </div>
                    </div>
                    <div class="swiper-button-next-menu">
                        <div class="icon">
                            <img src="/webroot/images/home-new/arrow-left.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }
    @if (Model.FAQs != null && Model.FAQs.Count > 0)
    {
        <section class="home-new-question">
            <div class="left">
                <div class="bg">
                    <div class="content">
                        <h2 class="title">
                            @Resources.FAQ
                        </h2>
                        <ul>
                            @for (int i = 0; i < Model.FAQs.Count; i++)
                            {
                            <li class="@( i == 0 ? "active" : "")" data-type="@(i+1)">
                                <div class="question-title">
                                    @Html.Raw(Model.FAQs[i].Question)
                                </div>
                                <div class="answer">
                                    <img data-src="../webroot/images/home-new/quotes-sp.svg" alt="" class="lazyload">
                                    <div class="answer-detail">
                                        @Html.Raw(Model.FAQs[i].Answer)
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                        <a href="@Url.Action("IndexV1","FAQ")">@Resources.More</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="bg">
                    <img src="/webroot/images/home-new/quotes.svg" alt="Quotes" class="quotes">
                    @for (int i = 0; i < Model.FAQs.Count; i++)
                    {
                        <div class="answer @( i == 0 ? "active" : "")" data-type="@(i+1)">
                            @Html.Raw(Model.FAQs[i].Answer)
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <section class="home-new-analyse">
        <div class="bg">
            <div class="content-1">
                <div class="container">
                    <div class="cover">
                        <div class="left">
                            <h2>@Model.AnalysisCenter.Title.Value</h2>
                            <div class="desc">
                                @Model.AnalysisCenter.Description.Value
                            </div>
                        </div>
                        <div class="right">
                            <div class="swiper-container home-new-analyse-swiper">
                                <div class="swiper-wrapper">
                                    @for (int i = 0; i < Model.AnalysisCenterItem.Count; i++)
                                    {
                                        <div class="swiper-slide">
                                            <div class="number">
                                                @((i+1).ToString("D2"))
                                            </div>
                                            <div class="desc">
                                                <div class="desc1">@Model.AnalysisCenterItem[i].Title.Value</div>
                                                <div class="desc2">@Model.AnalysisCenterItem[i].Description.Value</div>
                                            </div>
                                            <a href="@Model.AnalysisCenterItem[i].RedirectUrl.Value" class="more">
                                                <div class="more-1">
                                                    <div class="icon">
                                                        <img src="/webroot/images/home-new/arrow-right-red-analyse.svg"
                                                             alt="">
                                                    </div>
                                                </div>
                                                <div class="more-2">
                                                    <div class="text">
                                                        <p>@Resources.More</p>
                                                        <img data-src="/webroot/images/home-new/arrow-right-white-analyse.svg"
                                                             alt="" class="lazyload">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="container">
                    <div class="cover">
                        <div class="top">
                            <h2>@Model.FeaturedNews.Title.Value</h2>
                            <a href="/News/Danh-sach-tin-tuc?categoryItemId=1063&page=0">
                                <p>@Resources.More</p>
                                <img data-src="/webroot/images/home-new/arrow-right-red-analyse.svg" alt="" class="lazyload">
                            </a>
                        </div>
                        <div class="bottom">
                            <div class="swiper-button-prev-analyse">
                                <div class="icon">
                                    <img src="/webroot/images/home-new/arrow-left.svg" alt="">
                                </div>
                            </div>
                            <div class="swiper-button-next-analyse">
                                <div class="icon">
                                    <img src="/webroot/images/home-new/arrow-left.svg" alt="">
                                </div>
                            </div>
                            <div class="swiper-container home-new-news">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.HotestNews)
                                    {
                                        <div class="swiper-slide">
                                            <div class="flex">
                                                <div class="image">
                                                    <img data-src="@item.ImageUrl" alt="@item.Title" class="lazyload">
                                                </div>
                                                <div class="desc">
                                                    <a class="desc1" href="News/@(item.Slug).html">@item.Title</a>
                                                    <div class="info">
                                                        <p class="category">
                                                            @item.category
                                                        </p>
                                                        <p class="date">@item.CreatedDate.ToString("dd/MM/yyyy")</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/webroot/images/home-new/wave-2.png" alt="" class="wave">
        </div>
    </section>
</div>
<style>
    .home-new-2 .bg .container {
        padding-left: 0;
    }
    @@media (min-width: 768px) {
        .home-new-2 .bg .container a.swiper-slide {
            width: 30% !important;
        }
    }
    #hidden_a {
        display: none;
    }
    .overlay {
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: left;
        bottom: 0;
    }
    #popPhoto {
        @* height: calc(18vw * 9 / 16); *@
        cursor: pointer;
    }
    #surveyPopup button {
        position: absolute;
        width: 24px;
        height: 24px;
        background: #fff;
        border-radius: 50%;
        margin-left: -12px;
        margin-top: -12px;
        border: 1px solid #D2353B;
    }
    #surveyPopup button i {
        color: #333;
    }
    #surveyPopup {
        cursor: pointer;
    }
    @@media (max-width: 767.99px) {
        #surveyPopup button {
            position: absolute;
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 50%;
            margin-left: -24px;
            border: 1px solid #D2353B;
        }
        #surveyPopup button i {
            color: #333;
        }
    }
    .noscroll {
        margin: 0; 
        height: 100%; 
        overflow: hidden
    }
</style>
<script>
    $(document).ready(function() {
        if($( window ).width() < 768) { 
            $("#popPhoto").attr("src","/webroot/images/surveyPopup_mobile.jpg");
        } else {
            $("#popPhoto").attr("src","/webroot/images/surveyPopup.jpg");
        }
    })
    $(function () {
        $( window ).resize(function() {
            if($( window ).width() < 768) { 
                $("#popPhoto").attr("src","/webroot/images/surveyPopup_mobile.jpg");
            } else {
                $("#popPhoto").attr("src","/webroot/images/surveyPopup.jpg");
            }
        });
    });
    $("#popPhoto").click(function(){
        window.open("https://bit.ly/3vuecXy", "_blank")
        popupClose()
    })
    function popupClose() {
        $(".overlay").css("display", "none")
        @* $("html ,body").removeClass("noscroll") *@
    }
</script>
