﻿@using PagedList;
@using PagedList.Mvc;
@using TTCMS.Resources;
@model TTCMS.Web.Areas.TT_Admin.Models.CommentManagementViewModel
<style>
    .btn-group {
        display: flex;
    }

    .btn-group > * {
        margin-right: 8px;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown .btn-xs {
        border-width: 1px;
    }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }
</style>
@Html.Hidden("CommentId")
@if (Model.ModelList != null && Model.ModelList.Count > 0)
{
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@TTCMS.Resources.Resources.TopicName</th>
                <th>SĐT Liên hệ</th>
                <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    @TTCMS.Resources.Resources.Created
                </th>
                <th class="hidden-480">@TTCMS.Resources.Resources.Status</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.Id">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        <a class="d-block category__name" href="@Url.Action("Detail", new { Id = item.Id })">
                            @if (item.ParentCommentId == null)
                            {
                                <b>Bình luận gốc bởi @item.CreatedBy:</b> @Html.Raw(item.Content)
                            }
                            else
                            {
                                <b>Phản hồi từ @item.CreatedBy:</b> @Html.Raw(item.Content)
                            }
                        </a>
                    </td>
                    <td>
                        @if(string.IsNullOrEmpty(item.PhoneNumber))
                        {
                            <p>Không có</p>
                        } else
                        {
                            <p>@item.PhoneNumber</p>
                        }
                    </td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                    <td class="hidden-480" id="td-approve-@item.Id">
                        @if (item.Approved == true)
                        {
                            <span class="label label-sm label-success arrowed arrowed-right" id="active-@item.Id">
                                <i class="fa fa-unlock"></i> Active
                            </span>
                        }
                        else
                        {
                            <span class="label label-sm label-danger arrowed arrowed-right" id="inactive-@item.Id">
                                <i class="fa fa-unlock-alt"></i> NotActive
                            </span>
                        }
                        <label>
                            <input 
                                checked="@item.Approved" 
                                class="ace ace-switch ace-switch-4 btn-flat commentApproveCheckbox"
                                id="Approved-@item.Id" 
                                name="Approved-@item.Id" 
                                type="checkbox" 
                                value="@item.Approved">
                            <input name="Approved-@item.Id" type="hidden" value="false">
                            <span class="lbl">
                            </span>
                        </label>
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            @if(item.ParentCommentId == null) 
                            {
                                <a href="@Url.Action("Create", new { commentId = item.Id, questionId = Model.QuestionId })" class="btn btn-xs btn-primary">
                                    <span class="hidden-320">Phản hồi</span>
                                </a>
                            }
                            <a href="@Url.Action("Edit", new { Id = item.Id })" class="btn btn-xs btn-info">
                                @Resources.EditText
                            </a>
                            @Ajax.ActionLink(
                                TTCMS.Resources.Resources.DeleteText,
                                "Delete",
                                new { id = item.Id, questionId = item.QuestionId },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Get",
                                    Confirm = TTCMS.Resources.Resources.ConfirmText,
                                    UpdateTargetId = @item.Id.ToString(),
                                    OnSuccess = "onSuccess"
                                },
                                new
                                {
                                    @class = "btn btn-xs btn-danger DeleteDialog",
                                    @title = TTCMS.Resources.Resources.DeletePost
                                }
                            )
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info" href="@Url.Action("Edit", new {Id = item.Id })">
                                            @TTCMS.Resources.Resources.EditText
                                        </a>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id, questionId = item.QuestionId },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.Id.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}