﻿@using TTCMS.Data.Entities;
@model  TTCMS.Web.Areas.TT_Admin.Models.CreateCommentViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.CreateNewsCateText;
}
@using TTCMS.Resources

<style>
    .d-none {
        display: none;
    }

    input[type=checkbox].category-checkbox {
        margin-top: 12px;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "FAQQuestionManagement")">Quản lý câu hỏi</a>
                </li>    
                <li>
                    <a href="@Url.Action("Index", new { questionId = Model.QuestionId })">Quản lý bình luận</a>
                </li>
                @if(Model.CommentId != 0) 
                {
                    <li>
                        <a href="@Url.Action("Detail", new { id = Model.CommentId })">Chi tiết bình luận và phản hồi</a>
                    </li>
                }
                <li class="active">@(Model.QuestionId != 0 ? "Thêm bình luận" : "Thêm phản hồi")</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(
                    "Create",
                    "FAQCommentManagement",
                    FormMethod.Post,
                    new { @role = "form", @class = "form-horizontal" }
                ))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <input type="hidden" value="@Model.CommentId" name="CommentId" />
                    <input type="hidden" value="@Model.QuestionId" name="QuestionId" />
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Nội dung bình luận</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.Content, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = TTCMS.Resources.Resources.Description })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="CommentApproved">Kích hoạt</label>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(x => x.Approved, new { @class = "category-checkbox" })
                                @Html.ValidationMessageFor(model => model.Approved, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-9">
                            <div class="col-md-5">
                                @if(Model.CommentId != 0)
                                {
                                    <a href="/TT_Admin/FAQCommentManagement/Detail/@Model.CommentId">@Resources.BackToList</a>
                                } else 
                                {
                                    @Html.ActionLink(@Resources.BackToList, "Index", "FAQCommentManagement", new { questionId = @Model.QuestionId }, null)
                                }
                            </div>
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                @Resources.btnCreateSubmit
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                @Resources.btnReset
                            </button>
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
}