﻿@model TTCMS.Web.Areas.TT_Admin.Models.CommentManagementPageViewModel
@{
    ViewBag.Title = "Quản lý bình luận";
}

<div class="main-content">
    <div class="main-content-inner">
        <div id="breadcrumbs" class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "FAQQuestionManagement")">Quản lý câu hỏi</a>
                </li>
                <li class="active">Quản lý bình luận</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <div class="toolbar tt-table-header">
                    <div style="float:left">
                        <a href="@Url.Action("Create", new { questionId = Model.TableList.QuestionId })" class="btn btn-primary">
                            <i class="menu-icon fa fa-plus"></i>
                            <span class="hidden-320">Thêm bình luận</span>
                        </a>
                    </div>
                    <div style="float:right">
                        @TTCMS.Resources.Resources.SearchText
                        <span class="input-icon">
                            <input 
                                type="text" 
                                autocomplete="off" 
                                id="Search" 
                                onkeyup="SearchAjax('/TT_Admin/FAQCommentManagement/Index');" 
                                class="nav-search-input" 
                                placeholder="@TTCMS.Resources.Resources.EnterKeywordText">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </div>
                </div>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="TableContainer">
                                @if (Model.TableList != null)
                                {
                                    @Html.Partial("_CommentTablePagedList", Model.TableList)
                                }
                            </div>
                        </div><!-- /.span -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>
@section Scripts {
    <script>
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });
    </script>
    <script>
        $('.commentApproveCheckbox').change(function() {
            @* var data = {}; *@
            var id = parseInt($(this).attr('id').split('-')[1])
            var questionId = @Html.Raw(Model.TableList.QuestionId)
            var value = $(this).is(':checked')

            $.ajax({
                url: '/TT_Admin/FAQCommentManagement/Approve',
                type: 'POST',
                data: JSON.stringify({
                    id, questionId, approved: value
                }),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var returnId = data.Id
                    var elemToChange = $(`#td-approve-${returnId}`)

                    if ($(`#active-${returnId}`).is(elemToChange.children()[0])) {
                        elemToChange.children()[0].remove()
                        var newChild = `
                            <span class="label label-sm label-danger arrowed arrowed-right" id="inactive-${returnId}">
                                <i class="fa fa-unlock-alt"></i> NotActive
                            </span>
                        `
                        elemToChange.prepend(newChild)
                    }
                    else if ($(`#inactive-${returnId}`).is(elemToChange.children()[0])) {
                        elemToChange.children()[0].remove()
                        var newChild = `
                            <span class="label label-sm label-success arrowed arrowed-right" id="active-${returnId}">
                                <i class="fa fa-unlock"></i> Active
                            </span>
                        `
                        elemToChange.prepend(newChild)
                    }
                }
            });
        });
    </script>
}
