@using TTCMS.Data.Entities;
@model  TTCMS.Web.Areas.TT_Admin.Models.EditLanguageTopicViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.EditTopicText;
    string thumbnail = string.IsNullOrEmpty(Model.ImageUrl) ? "/Content/images/add-image.jpg" : Model.Topic.ImageUrl;
}

<style>
    .d-none {
        display: none;
    }

    input[type=checkbox].category-checkbox {
        margin-top: 12px;
    }
</style>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">@TTCMS.Resources.Resources.TopicManagement</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.EditTopicText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(
                    "Edit",
                    "FAQTopicManagement",
                    new { languageTopicId = Model.Id, topicId = Model.Topic.Id },
                    FormMethod.Post,
                    new { @role = "form", @class = "form-horizontal" }
                ))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.TopicName </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.TopicName, new { @class = "col-xs-10 col-sm-7 get-slug", @placeholder = TTCMS.Resources.Resources.TopicName })
                                @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.TopicDescription, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.Description })
                                @Html.ValidationMessageFor(model => model.TopicDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="CategoryItem_IsInNewsList"> @Html.Raw(TTCMS.Resources.Resources.IsInQuickSearch) </label>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(x => x.Topic.QuickSearch, new { @class = "category-checkbox" })
                                @Html.ValidationMessageFor(model => model.Topic.QuickSearch, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="CategoryItem_IsInNewsList"> @Html.Raw(TTCMS.Resources.Resources.IsInQuickAction) </label>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(x => x.Topic.QuickAction, new { @class = "category-checkbox" })
                                @Html.ValidationMessageFor(model => model.Topic.QuickAction, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-9">
                                <div class="col-md-5">
                                    @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index")
                                </div>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                        @TTCMS.Resources.Resources.btnUpdateSubmit
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @TTCMS.Resources.Resources.btnReset
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="widget-box" style="overflow:hidden">
                            <div class="widget-header">
                                <h4 class="widget-title">@TTCMS.Resources.Resources.Option</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div style="padding-top: 10px;" class="form-group">
                                        <div class="col-xs-12">
                                            <label class="ace-file-input ace-file-multiple">
                                                <span class="ace-file-container hide-placeholder selected">
                                                    <span data-title="Ảnh đại diện" class="ace-file-name large" id="ThumbnailContainer">
                                                        @Html.HiddenFor(x => x.ImageUrl)
                                                        <img id="Image" class="middle" style="max-width:250px;max-height:250px;min-height:200px;" src="@thumbnail">
                                                        <i class=" ace-icon fa fa-picture-o file-image"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.ActiveText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.Topic.Active, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4"> @TTCMS.Resources.Resources.SortText </label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.TextBoxFor(x => x.Topic.Order, new { @class = "col-xs-10 col-sm-4", @placeholder = TTCMS.Resources.Resources.SortText })
                                                <div class="space-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.LanguageText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.LanguageId, (SelectList)Model.Lang, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.DropTopics != null)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.Topic</label>
                                            <div class="controls col-xs-12 col-sm-8">
                                                <div class="row">
                                                    @Html.DropDownListFor(
                                                        model => model.ParentTopicId,
                                                        (SelectList)Model.DropTopics,
                                                        new { @class = "form-control" }
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script>
        window.onload = function () {

            $("#CategoryItem_IsRedirect").on('change', function () {
                toggleRedirectUrlBlock(this.checked);
            });

            $("#ThumbnailContainer").on("click", function () {
                BrowseServer(handleSelectAction);
            });

            $('#BtnIcon').on("click", function () {
                BrowseServer(handleSelectIconAction);
            });

            $('#Order')
                .ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
                .closest('.ace-spinner')
                .on('changed.fu.spinbox', function () { });

            $("#CategoryItem_Name")
                .on("change", function () {
                    $.get("@(Url.Action("GetSlug"))?val=" + this.value)
                        .done(function (slug) {
                            $("#CategoryItem_Slug").val(slug);
                            $("#SlugText").html(slug);
                        });
                });

            $('#Layout')
                .on("change", function () {
                    console.log(this.value);
                    const id = 'CategoryLayout' + this.value;
                    $('.category__layout-thumbnail').each((index, item) => {
                        $(item).toggleClass('d-none', item.id !== id);
                    })
                });
        }

        function toggleRedirectUrlBlock(isChecked) {
            if (isChecked) {
                $("#redirectUrl").css("display", "block");
            }
            else {
                $("#redirectUrl").css("display", "none");
            }
        }

        function handleSelectIconAction(fileUrl) {
            $('#Icon').val(fileUrl);
            $('#BtnIcon i').addClass('d-none');
            $('#BtnIcon img').removeClass("d-none").attr("src", fileUrl);
        }

        function handleSelectAction(fileUrl) {
            $('#ImageUrl').val(fileUrl);
            $('#Image').attr("src", fileUrl);
            console.log(fileUrl)
        }

        function URL_Edit(type) {
            if (type == "edit")
            {
                $(".url-text").css("display", "none");
                $(".url-edit").css("display", "block");
            }
            else if (type == "save")
            {
                var value = $(".url-edit-save").val();
                $(".url-edit-value").text(value);
                $(".url-text").css("display", "block");
                $(".url-edit").css("display", "none");
            }
        }
    </script>
}