﻿@model TTCMS.Web.Areas.TT_Admin.Models.TopicManagementPageViewModel
@{
    ViewBag.Title = TTCMS.Resources.Resources.TopicManagement;
}

<div class="main-content">
    <div class="main-content-inner">
        <div id="breadcrumbs" class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.TopicManagement</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <div class="toolbar tt-table-header">
                    <div style="float:left">
                        <select id="DrpLanguage">
                            @for (int i = Model.Languages.Count - 1; i >= 0; i--)
                            {
                                <option value="@Model.Languages[i].Id">@Model.Languages[i].Name</option>
                            }
                        </select>
                        <button class="btn btn-primary" id="BtnCreate">
                            <i class="menu-icon fa fa-plus"></i>
                            <span class="hidden-320">@TTCMS.Resources.Resources.Create</span>
                        </button>
                    </div>
                    <div style="float:right">
                        @* @TTCMS.Resources.Resources.ShowbyText *@
                        @* @Html.DropDownList("Id", Model.Lang, "Tất cả") *@
                        @TTCMS.Resources.Resources.SearchText
                        <span class="input-icon">
                            <input 
                                   type="text" 
                                   autocomplete="off" 
                                   id="Search" 
                                   onkeyup="SearchAjax('/TT_Admin/NewsCateManagement/Index');" 
                                   class="nav-search-input" 
                                   placeholder="@TTCMS.Resources.Resources.EnterKeywordText">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </div>
                </div>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="TableContainer">
                                @if (Model.TableList != null)
                                {
                                    @Html.Partial("_TopicTablePagedList", Model.TableList)
                                }
                            </div>
                        </div><!-- /.span -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>
@section Scripts {
    <script>
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        $('#BtnCreate').on('click', function () {
            window.location.href = "@Url.Action("Create", new { id = 0 })?languageId=" + $('#DrpLanguage').val();
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });
    </script>
}
