﻿@model  TTCMS.Web.Areas.TT_Admin.Models.BannerCreateViewModel
@{
    bool isEditPage = Model.Model.Id > 0;
    ViewBag.Title = isEditPage ? TTCMS.Resources.Resources.CreateNewBanner : TTCMS.Resources.Resources.EditBanner;
    string thumbnail = string.IsNullOrEmpty(Model.Model.ImageUrl) ? "/Content/images/add-image.jpg" : Model.Model.ImageUrl;
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.CreateNewBanner</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(isEditPage ? "Edit" : "Create", "BannerManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Model.Id)
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.URLText </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Model.RedirectUrl, new { @class = "col-xs-12 col-sm-12" })
                                @Html.ValidationMessageFor(model => model.Model.RedirectUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.Images <span style="color:red">*</span> </label>
                            <label class="ace-file-input ace-file-multiple">
                                <div class="col-sm-9">
                                    <span class="ace-file-container hide-placeholder selected">
                                        <span data-title="Ảnh đại diện" class="ace-file-name large" id="ThumbnailContainer">
                                            @Html.HiddenFor(x => x.Model.ImageUrl)
                                            <img id="Image" class="middle" style="max-width:250px;max-height:250px;" src="@thumbnail" />
                                            <i class=" ace-icon fa fa-picture-o file-image"></i>
                                        </span>
                                    </span>
                                </div>
                            </label>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.BannerType </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.Model.Type, Model.ListBannerType, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-4"> @TTCMS.Resources.Resources.SortText </label>
                            <div class="controls col-xs-12 col-sm-8">
                                <div class="row">
                                    @Html.TextBoxFor(x => x.Model.Priority, new { @class = "col-xs-10 col-sm-4", @placeholder = TTCMS.Resources.Resources.SortText })
                                    <div class="space-6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.ActiveText</label>
                            <div class="col-sm-9">
                                <label>
                                    @Html.CheckBoxFor(x => x.Model.IsActived, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                    <span class="lbl"></span>
                                </label>
                            </div>
                            <label class="col-sm-3 control-label no-padding-right">@TTCMS.Resources.Resources.LanguageText </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.Model.LanguageId, (SelectList)Model.Lang, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="col-md-5">
                            @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index")
                        </div>
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            @if (isEditPage)
                            {
                                @TTCMS.Resources.Resources.btnUpdateSubmit
                            }
                            else
                            {
                                @TTCMS.Resources.Resources.btnCreateSubmit
                            }
                        </button>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {
    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/admin/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/admin/js/jquery.maskedinput.min.js"></script>
}
<script>
    window.onload = function () {

        $("#ThumbnailContainer").on("click", function () {
            BrowseServer(handleSelectAction);
        });
        CKEDITOR.replace("ckeditor");
    }
    function handleSelectAction(fileUrl) {
        $('#Model_ImageUrl').val(fileUrl);
        $('#Image').attr("src", fileUrl);
    }
</script>
