.main-slider {
    max-height: 550px;
    left: -0.47px;
    width: 100%;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 550px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}

@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      font-family: FontAwesome;
      content: '\f054';
      display: -webkit-flex; 
display: flex;
      border-top: 8px solid transparent;
      /* border-left: 10px solid #fff; */
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      opacity: 0;
  }

  .nav-pills-custom .nav-link::after {
      font-family: FontAwesome;
      content: '\f053';
      display: -webkit-flex; 
display: flex;
      border-top: 8px solid transparent;
      /* border-left: 10px solid #fff; */
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      opacity: 0;
      color: #666666;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.nav-pills-custom .nav-link.active::after {
  opacity: 0;
}

.nav-pills-custom .nav-link::after {
  opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
  width: 2%;
}

.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}
#carouselExampleDark {
  max-height: 550px;
}
