﻿@using PagedList;
@using PagedList.Mvc;
@model TTCMS.Web.Areas.TT_Admin.Models.PendingQuestionManagementViewModel

<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }
</style>

@if (Model.ModelList != null && Model.ModelList.Count > 0)
{
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Tiêu đề câu hỏi</th>
                <th>Trạng thái duyệt</th>
                <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    @TTCMS.Resources.Resources.Created
                </th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.Id">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        <a class="d-block category__name" href="@Url.Action("Details", new { Id = item.Id })">
                            <b>Câu hỏi từ @item.FullName</b>
                            @if (!string.IsNullOrEmpty(item.PendingQuestionTitle))
                            {
                                <p>@item.PendingQuestionTitle</p>
                            }
                        </a>
                    </td>
                    <td>@(item.Seen ? "Đã duyệt" : "Chưa duyệt")</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-xs btn-success dropdown-toggle"
                                    type="button"
                                    id="btn-add-language"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                Tạo câu hỏi mới
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="about-us">
                                @if(Model.Languages != null && Model.Languages.Count > 0)
                                {
                                    foreach (var language in Model.Languages)
                                    {
                                        <li>
                                            <a href="@Url.Action("Create", "FAQQuestionManagement", new { languageId = language.Id })">
                                                @language.Name
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        @Ajax.ActionLink(
                            TTCMS.Resources.Resources.DeleteText,
                            "Delete",
                            new { Id = item.Id },
                            new AjaxOptions()
                            {
                                HttpMethod = "Delete",
                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                UpdateTargetId = @item.Id.ToString(),
                                OnSuccess = "onSuccess"
                            },
                            new
                            {
                                @class = "btn btn-xs btn-danger DeleteDialog",
                                @title = TTCMS.Resources.Resources.DeletePost
                            }
                        )
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="Tạo câu hỏi mới" class="btn btn-xs btn-info" href="@Url.Action("Create", "FAQQuestionManagement")">
                                            Tạo câu hỏi mới
                                        </a>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.Id.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}
