﻿@model TTCMS.Web.Areas.TT_Admin.Models.FAQPendingQuestionViewModel

<section>
    @if(!string.IsNullOrEmpty(Model.PendingQuestionTitle))
    {
        <h1>Tiêu đề: @Model.PendingQuestionTitle</h1>
    }
    <div class="">
        Người gửi: @Model.FullName
    </div>
    <div class="">
        SĐT: @Model.PhoneNumber
    </div>
    <div class="">
        Số tài khoản: @Model.AccountNumber
    </div>
    <div class="" id="seen">
        Trạng thái duyệt: @(Model.Seen ? "Đã duyệt" : "Chưa duyệt")
    </div>
    <div class="">
        Ngày gửi: @Model.CreatedDate
    </div>
    <div class="ContentContainer">
        <div class="">Nội dung</div>
        <div class="Content">
            @Model.Content
        </div>
    </div>
    @if (Model.AttachmentURL != null && Model.AttachmentURL.Length > 0)
    {
        <div class="">
            File đính kèm: <a href="https://support.tvsi.com.vn/Content/CustomerUploads/@Model.AttachmentURL">@Model.AttachmentURL</a>
        </div>
    }

<div class="actions">
    @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index")
    @if(!Model.Seen)
     {
        @Ajax.ActionLink(
            "Duyệt",
            "Approve",
            new { Id = Model.Id },
            new AjaxOptions()
            {
                HttpMethod = "Get",
                Confirm = "Duyệt câu hỏi này?",
                UpdateTargetId = "seen",
                OnSuccess = "onApproveSuccess"
            },
            new
            {
                @class = "btn btn-xs btn-success approveBtn",
                @title = "Duyệt"
            }
        )

    }
    <div class="dropdown">
        <button class="btn btn-xs btn-success dropdown-toggle"
                type="button"
                id="btn-add-language"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Tạo câu hỏi mới
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="about-us">
            @if (Model.Languages != null && Model.Languages.Count > 0)
            {
                foreach (var language in Model.Languages)
                {
                    <li>
                        <a href="@Url.Action("Create", "FAQQuestionManagement", new { languageId = language.Id })">
                            @language.Name
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
</section>
<script>
    function onApproveSuccess() {
        $("#seen").text("Trạng thái duyệt: Đã duyệt")
        $(".approveBtn").hide()
    }
</script>
<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding: 20px 0 0 50px;
    }
    .actions {
        display: flex;
        gap: 20px;
        justify-content: flex-start;
    }
    .Content {
        background: #dbd2d2;
        padding: 10px;
        width: 600px;
    }
    .ContentContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>