﻿@model TTCMS.Web.Areas.TT_Admin.Models.PendingQuestionManagementPageViewModel
@{
    ViewBag.Title = "Duyệt câu hỏi";
}
@using PagedList.Mvc;

<div class="main-content">
    <div class="main-content-inner">
        <div id="breadcrumbs" class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>
                <li class="active">Duyệt câu hỏi</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <div class="toolbar tt-table-header">
                    <div style="float:right">
                        @TTCMS.Resources.Resources.SearchText
                        <span class="input-icon">
                            <input type="text"
                                   autocomplete="off"
                                   id="Search"
                                   onkeyup="SearchAjax('/TT_Admin/FAQPendingQuestionManagement/Index');"
                                   class="nav-search-input"
                                   placeholder="@TTCMS.Resources.Resources.EnterKeywordText">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </div>
                </div>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="TableContainer">
                                @if (Model.TableList != null)
                                {
                                    @Html.Partial("_PendingQuestionTablePagedList", Model.TableList)
                                }
                                else
                                {
                                    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
                                }
                            </div>
                        </div><!-- /.span -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>
@section Scripts {
    <script>
    </script>
}
