﻿@model TTCMS.Web.Areas.TT_Admin.Models.PageTableViewModel
@using PagedList.Mvc;
@using TTCMS.Resources
<style>
    .btn-group {
        display: flex;
    }

        .btn-group > * {
            margin-right: 8px;
        }

    .dropdown {
        display: inline-block;
    }

        .dropdown .btn-xs {
            border-width: 1px;
        }

    .d-block {
        display: block;
    }

    .category__name:not(:last-child) {
        margin-bottom: 8px;
    }

    .category__name > * {
        display: inline;
    }
</style>

@if (Model.ModelList.Any())
{
    <input id="Page" type="hidden" value="@Model.ModelList.PageNumber" />
    <table class="table table-striped table-bordered table-hover" id="simple-table">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@TTCMS.Resources.Resources.TitleText</th>
                <th class="hidden-480">@TTCMS.Resources.Resources.CreatedByText</th>
                <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    @TTCMS.Resources.Resources.Created
                </th>
                <th class="hidden-480">@TTCMS.Resources.Resources.Status</th>
                <th>@TTCMS.Resources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ModelList)
            {
                <tr id="item_@item.Id">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        @if (item.Language_SinglePages != null)
                        {
                            foreach (var childItem in item.Language_SinglePages)
                            {
                                <a class="d-block category__name" href="@Url.Action("Edit", new { Id = childItem.Id, pageIndex = Model.PageIndex })">
                                    <b>@childItem.Language.Name:</b> @childItem.Title
                                </a>
                            }
                        }
                    </td>
                    <td class="hidden-480">@item.CreatedByUserName</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                    <td class="hidden-480">
                        @if (item.IsActive == true)
                        {
                            <span class="label label-sm label-success arrowed arrowed-right"><i class="fa fa-unlock"></i> Active</span>
                        }
                        else
                        {
                            <span class="label label-sm label-danger arrowed arrowed-right"><i class="fa fa-unlock-alt"></i> NotActive</span>
                        }
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <div class="dropdown">
                                <button class="btn btn-xs btn-info dropdown-toggle" type="button" id="btn-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.EditText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @if (item.Language_SinglePages != null)
                                    {
                                        foreach (var childItem in item.Language_SinglePages)
                                        {
                                            <li>
                                                <a href="@Url.Action("Edit", new { Id = childItem.Id })">
                                                    @childItem.Language.Name
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="btn-add-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @TTCMS.Resources.Resources.CreateLanguageText
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @foreach (var language in Model.Languages.Where(lang => !item.Language_SinglePages.Any(childItem => childItem.Language.Id == lang.Id)))
                                    {
                                        <li>
                                            <a href="@Url.Action("Create", new { id = item.Id, languageId = language.Id })">
                                                @language.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @Ajax.ActionLink(
                                TTCMS.Resources.Resources.DeleteText,
                                "Delete",
                                new { Id = item.Id },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Delete",
                                    Confirm = TTCMS.Resources.Resources.ConfirmText,
                                    UpdateTargetId = @item.Id.ToString(),
                                    OnSuccess = "onSuccess"
                                },
                                new
                                {
                                    @class = "btn btn-xs btn-danger DeleteDialog",
                                    @title = TTCMS.Resources.Resources.DeletePost
                                }
                            )
                            <div class="dropdown">
                                <button class="btn btn-xs btn-info dropdown-toggle" type="button" id="btn-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Copy
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="about-us">
                                    @if (item.Language_SinglePages != null)
                                    {
                                        foreach (var childItem in item.Language_SinglePages)
                                        {
                                            <li>
                                                <a style="cursor:pointer" onclick="openModal('/page/@childItem.Slug')">
                                                    @childItem.Language.Name
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info" href="@Url.Action("Edit", new {Id = item.Id })">
                                            @TTCMS.Resources.Resources.EditText
                                        </a>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id },
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "Delete",
                                                Confirm = TTCMS.Resources.Resources.ConfirmText,
                                                UpdateTargetId = @item.Id.ToString(),
                                                OnSuccess = "onSuccess"
                                            }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@TTCMS.Resources.Resources.Page @(Model.ModelList.PageCount < Model.ModelList.PageNumber ? 0 : Model.ModelList.PageNumber) @TTCMS.Resources.Resources.Of @Model.ModelList.PageCount</div></div>
        <div class="col-xs-6 no-padding">
            <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
                @Html.PagedListPager(
             Model.ModelList,
             page => Url.Action("Index",
         new { page, show = Model.Show, search = Model.Search }),
                              PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "TableContainer" })
             )
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">@Resources.URL</h4>
                </div>
                <div class="modal-body">
                    <p id="myContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
else
{
    @Html.Partial("_AlertInfo", @TTCMS.Resources.Resources.ErrorNoData);
}