﻿@model  TTCMS.Web.Areas.TT_Admin.Models.SinglePageViewModel

@{
    ViewBag.Title = TTCMS.Resources.Resources.CreatePageText;
    bool isEditPage = Model.Id > 0;
    string thumbnail = string.IsNullOrEmpty(Model.Img_Thumbnail) ? "/Content/images/add-image.jpg" : Model.Img_Thumbnail;
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/pk_admin">@TTCMS.Resources.Resources.Home</a>
                </li>

                <li>
                    <a href="@Url.Action("Index")">@TTCMS.Resources.Resources.PageText</a>
                </li>
                <li class="active">@TTCMS.Resources.Resources.CreatePageText</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                @using (Html.BeginForm(isEditPage ? "Edit" : "Create", "PageManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Language_SinglePage.Id)
                    @Html.HiddenFor(x => x.Language_SinglePage.Title)
                    <div class="col-xs-8">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="space-4"></div>
                        <div class="form-group" style="margin-bottom:5px;">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.TitleText <span style="color:red">*</span></h5>
                                @Html.TextBoxFor(x => x.Language_SinglePage.TitleHTML, new { @class = "col-xs-12 col-sm-12 tinymce-title", @placeholder = TTCMS.Resources.Resources.TitleText })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.TitleHTML, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>Slug <span style="color:red">*</span></h5>
                                @Html.TextBoxFor(x => x.Language_SinglePage.Slug, new { @class = "col-xs-12 col-sm-12" })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.Slug, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.Description</h5>
                                @Html.TextAreaFor(x => x.Language_SinglePage.Summary, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.Description })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.Summary, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.BodyText <span style="color:red">*</span></h5>
                                @Html.TextAreaFor(x => x.Language_SinglePage.Body, new { @class = "col-xs-12 col-sm-12 ckeditor", @placeholder = TTCMS.Resources.Resources.BodyText })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.Body, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.KeywordsText</h5>
                                @Html.TextBoxFor(x => x.Language_SinglePage.Keywords, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.KeywordsText })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.Keywords, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.DescriptionText</h5>
                                @Html.TextAreaFor(x => x.Language_SinglePage.Description, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.DescriptionText })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5>@TTCMS.Resources.Resources.TagText</h5>
                                @Html.TextBoxFor(x => x.Language_SinglePage.Tag, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.TagText })
                                @Html.ValidationMessageFor(model => model.Language_SinglePage.Tag, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-9">
                                <div class="col-md-5">
                                    @Html.ActionLink(@TTCMS.Resources.Resources.BackToList, "Index", new { page = Model.PageIndex })
                                </div>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    @if (isEditPage)
                                    {
                                        @TTCMS.Resources.Resources.btnUpdateSubmit
                                    }
                                    else
                                    {
                                        @TTCMS.Resources.Resources.btnCreateSubmit
                                    }
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset" onclick="BrowseServer();">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @TTCMS.Resources.Resources.btnReset
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <a href="/singlepage/preview/@Model.Language_SinglePage.Id" target="_blank" class="btn btn-warning">
                                    <i class="ace-icon fa fa-eye bigger-110"></i>
                                    Preview
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="widget-box" style="overflow:hidden">
                            <div class="widget-header">
                                <h5 class="widget-title">@TTCMS.Resources.Resources.Option <span style="color:red">*</span></h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div style="padding-top:10px;" class="form-group">
                                        <div class="col-xs-12">
                                            <label class="ace-file-input ace-file-multiple">
                                                <span class="ace-file-container hide-placeholder selected">
                                                    <span data-title="Ảnh đại diện" class="ace-file-name large" onclick="BrowseServer();">
                                                        @Html.HiddenFor(x => x.Img_Thumbnail)
                                                        <img id="Image" class="middle" style="max-width:250px;max-height:250px;" src="/Content/images/add-image.jpg">
                                                        <i class=" ace-icon fa fa-picture-o file-image"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.ActiveText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "ace ace-switch ace-switch-4 btn-flat" })
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4"> @TTCMS.Resources.Resources.SortText </label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.TextBoxFor(x => x.Order, new { @class = "col-xs-10 col-sm-4", @placeholder = TTCMS.Resources.Resources.SortText })
                                                <div class="space-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.LanguageText</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.Language_SinglePage.Language.Id, (SelectList)Model.Lang, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">@TTCMS.Resources.Resources.Category</label>
                                        <div class="controls col-xs-12 col-sm-8">
                                            <div class="row">
                                                @Html.DropDownListFor(model => model.CategoryId, Model.ListCategory, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section Scripts {

    <script src="~/Content/admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/admin/js/bootstrap-tag.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                CKEDITOR.replace("ckeditor");
            });
        });

        window.onload = function () {
            initTinyMce(updateByMceContent, updateByMceContent);
            $("#Language_SinglePage_Slug").on("input", function (e) {
                e.target.value = SlugModule.getSlugOnInput(e.target.value);
            });
        }

        function updateByMceContent() {
            const value = tinymce.get("Language_SinglePage_TitleHTML").getContent({ format: 'text' }) || "";
            const slug = SlugModule.getSlug(value) || "";
            $("#Language_SinglePage_Title").val(value);
            $("#Language_SinglePage_Slug").val(slug);
        }

        $('#Order')
            .ace_spinner({ value: 0, min: 0, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
            .closest('.ace-spinner')
            .on('changed.fu.spinbox', function () {
                //alert($('#spinner1').val())
            });

        jQuery.validator.methods["date"] = function (value, element) { return true; }

        var tag_input = $('#Tag');
        try {
            tag_input.tag(
                {
                    placeholder: tag_input.attr('placeholder'),
                    //enable typeahead by specifying the source array
                    source: ace.vars['US_STATES'],//defined in ace.js >> ace.enable_search_ahead
                    /**
                    //or fetch data from database, fetch those that match "query"
                    source: function(query, process) {
                      $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
                      .done(function(result_items){
                        process(result_items);
                      });
                    }
                    */
                }
            )

            //programmatically add a new
            var $tag_obj = $('#Tag').data('tag');
            //$tag_obj.add('Programmatically Added');
        }
        catch (e) {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
            //$('#form-field-tags').autosize({append: "\n"});
        }
    </script>
}